<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Analytics Dashboard - This is an example dashboard created using build-in elements and components.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery-ui.min.js"></script>
    <script type="text/javascript"  src="javascripts/handlebars-v4.7.7.js"></script>

    <script src="http://<%=host%>:3001/socket.io/socket.io.js"></script>

    <link rel="stylesheet" href="../stylesheets/main.css" />


    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<style>
    .adminChattingDisplay{
        height:400px;
        border: solid 1px gray;
        overflow: auto;
        padding:10px;
    }
    .livechat{
        width:100%;

    }
    .ls{
        width: 50%;
        height:150px;
        margin-top:1px;
        border: solid 1px grey;

    }
    .sm{
        width:100px;
        height:40px;
        background-color: #0a4c79;
        color:#fff;
        position:relative;
        bottom:15px;
        cursor: pointer;
    }
    .notification_container{

    }
    .admin_echo_pop{
        display: none;
    }
    .admin_echo_close{
        display: none;
    }


    .endChatting{
        width:100px;
        height:40px;
        background-color:#981a38;
        color:#fff;
        position:relative;
        bottom:15px;
        cursor: pointer;
    }
    .chatting_inactive{
        background-color: grey;
    }

    body
    {
        background: #000e29;
    }

    .alert>.start-icon {
        margin-right: 0;
        min-width: 20px;
        text-align: center;
    }

    .alert>.start-icon {
        margin-right: 5px;
    }


    .alert-simple.alert-info
    {
        border: 1px solid rgba(6, 44, 241, 0.46);
        background-color: rgba(7, 73, 149, 0.12156862745098039);
        box-shadow: 0px 0px 2px #0396ff;
        color: #0396ff;
        /*text-shadow: 2px 1px #00040a;*/
        transition:0.5s;
        cursor:pointer;
    }

    .alert-info:hover
    {
        background-color: rgba(7, 73, 149, 0.35);
        transition:0.5s;
    }

    .blue-cross
    {
        font-size: 18px;
        color: #0bd2ff;
        text-shadow: none;
    }

    .alert-simple.alert-warning
    {
        border: 1px solid red;
        background-color: rgba(220, 128, 1, 0.16);
        box-shadow: 0px 0px 2px #ffb103;
        color: red;
        /*text-shadow: 2px 1px #00040a;*/
        transition:0.5s;
        cursor:pointer;
    }

    .alert-warning:hover{
        background-color: rgba(220, 128, 1, 0.33);
        transition:0.5s;
    }

    .warning
    {
        font-size: 18px;
        color: #ffb40b;
        text-shadow: none;
    }


    .alert:before {
        content: '';
        position: absolute;
        width: 0;
        height: calc(100% - 44px);
        border-left: 1px solid;
        border-right: 2px solid;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        left: 0;
        top: 50%;
        transform: translate(0,-50%);
        height: 20px;
    }

    .fa-times
    {
        -webkit-animation: blink-1 2s infinite both;
        animation: blink-1 2s infinite both;
    }



    @-webkit-keyframes blink-1 {
        0%,
        50%,
        100% {
            opacity: 1;
        }
        25%,
        75% {
            opacity: 0;
        }
    }
    @keyframes blink-1 {
        0%,
        50%,
        100% {
            opacity: 1;
        }
        25%,
        75% {
            opacity: 0;
        }
    }

</style>
<body>

<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <div class="app-header header-shadow">
        <div class="app-header__logo">
            <a href="/admin_answer"><div class="logo-src"></div></a>

            <div class="header__pane ml-auto">
                <div>
                    <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="app-header__mobile-menu">
            <div>
                <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                </button>
            </div>
        </div>
        <div class="app-header__menu">
                <span>
                    <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
        </div>    <div class="app-header__content">
            <div class="app-header-left">
                <div class="search-wrapper">
                    <div class="input-holder">
                        <input type="text" class="search-input" placeholder="Type to search">
                        <button class="search-icon"><span></span></button>
                    </div>
                    <button class="close"></button>
                </div>
<!--                <ul class="header-menu nav">-->
<!--                    <li class="nav-item">-->
<!--                        <a href="javascript:void(0);" class="nav-link">-->
<!--                            <i class="nav-link-icon fa fa-database"> </i>-->
<!--                            Statistics-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="btn-group nav-item">-->
<!--                        <a href="javascript:void(0);" class="nav-link">-->
<!--                            <i class="nav-link-icon fa fa-edit"></i>-->
<!--                            Projects-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="dropdown nav-item">-->
<!--                        <a href="javascript:void(0);" class="nav-link">-->
<!--                            <i class="nav-link-icon fa fa-cog"></i>-->
<!--                            Settings-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
            </div>
            <div class="app-header-right">
                <div class="header-btn-lg pr-0">
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left">
                                <div class="btn-group">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                        <img width="42" class="rounded-circle" id="admin_img" src="" alt="">
                                        <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                    </a>
                                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                        <button type="button" tabindex="0" class="dropdown-item">User Account</button>
                                        <button type="button" tabindex="0" class="dropdown-item">Settings</button>
                                        <h6 tabindex="-1" class="dropdown-header">Header</h6>
                                        <button type="button" tabindex="0" class="dropdown-item">Actions</button>
                                        <div tabindex="-1" class="dropdown-divider"></div>
                                        <button type="button" tabindex="0" class="dropdown-item" id="logoff">退出登录</button>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content-left  ml-3 header-user-info">
                                <div class="widget-heading">
                                    <span id="adminName"><%=admin%></span>
                                </div>
                                <div class="widget-subheading">
                                    Position Descrption
                                </div>
                            </div>
<!--                            <div class="widget-content-right header-user-info ml-3">-->
<!--                                <button type="button" class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">-->
<!--                                    <i class="fa text-white fa-calendar pr-1 pl-1"></i>-->
<!--                                </button>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>        </div>
        </div>
    </div>        <div class="ui-theme-settings">

        <div class="theme-settings__inner">
            <div class="scrollbar-container">
                <div class="theme-settings__options-wrapper">
                    <h3 class="themeoptions-heading">Layout Options
                    </h3>
                    <div class="p-3">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-3">
                                            <div class="switch has-switch switch-container-class" data-class="fixed-header">
                                                <div class="switch-animate switch-on">
                                                    <input type="checkbox" checked data-toggle="toggle" data-onstyle="success">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Fixed Header
                                            </div>
                                            <div class="widget-subheading">Makes the header top fixed, always visible!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-3">
                                            <div class="switch has-switch switch-container-class" data-class="fixed-sidebar">
                                                <div class="switch-animate switch-on">
                                                    <input type="checkbox" checked data-toggle="toggle" data-onstyle="success">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Fixed Sidebar
                                            </div>
                                            <div class="widget-subheading">Makes the sidebar left fixed, always visible!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-3">
                                            <div class="switch has-switch switch-container-class" data-class="fixed-footer">
                                                <div class="switch-animate switch-off">
                                                    <input type="checkbox" data-toggle="toggle" data-onstyle="success">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Fixed Footer
                                            </div>
                                            <div class="widget-subheading">Makes the app footer bottom fixed, always visible!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <h3 class="themeoptions-heading">
                        <div>
                            Header Options
                        </div>
                        <button type="button" class="btn-pill btn-shadow btn-wide ml-auto btn btn-focus btn-sm switch-header-cs-class" data-class="">
                            Restore Default
                        </button>
                    </h3>
                    <div class="p-3">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h5 class="pb-2">Choose Color Scheme
                                </h5>
                                <div class="theme-settings-swatches">
                                    <div class="swatch-holder bg-primary switch-header-cs-class" data-class="bg-primary header-text-light">
                                    </div>
                                    <div class="swatch-holder bg-secondary switch-header-cs-class" data-class="bg-secondary header-text-light">
                                    </div>
                                    <div class="swatch-holder bg-success switch-header-cs-class" data-class="bg-success header-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-info switch-header-cs-class" data-class="bg-info header-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-warning switch-header-cs-class" data-class="bg-warning header-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-danger switch-header-cs-class" data-class="bg-danger header-text-light">
                                    </div>
                                    <div class="swatch-holder bg-light switch-header-cs-class" data-class="bg-light header-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-dark switch-header-cs-class" data-class="bg-dark header-text-light">
                                    </div>
                                    <div class="swatch-holder bg-focus switch-header-cs-class" data-class="bg-focus header-text-light">
                                    </div>
                                    <div class="swatch-holder bg-alternate switch-header-cs-class" data-class="bg-alternate header-text-light">
                                    </div>
                                    <div class="divider">
                                    </div>
                                    <div class="swatch-holder bg-vicious-stance switch-header-cs-class" data-class="bg-vicious-stance header-text-light">
                                    </div>
                                    <div class="swatch-holder bg-midnight-bloom switch-header-cs-class" data-class="bg-midnight-bloom header-text-light">
                                    </div>
                                    <div class="swatch-holder bg-night-sky switch-header-cs-class" data-class="bg-night-sky header-text-light">
                                    </div>
                                    <div class="swatch-holder bg-slick-carbon switch-header-cs-class" data-class="bg-slick-carbon header-text-light">
                                    </div>
                                    <div class="swatch-holder bg-asteroid switch-header-cs-class" data-class="bg-asteroid header-text-light">
                                    </div>
                                    <div class="swatch-holder bg-royal switch-header-cs-class" data-class="bg-royal header-text-light">
                                    </div>
                                    <div class="swatch-holder bg-warm-flame switch-header-cs-class" data-class="bg-warm-flame header-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-night-fade switch-header-cs-class" data-class="bg-night-fade header-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-sunny-morning switch-header-cs-class" data-class="bg-sunny-morning header-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-tempting-azure switch-header-cs-class" data-class="bg-tempting-azure header-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-amy-crisp switch-header-cs-class" data-class="bg-amy-crisp header-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-heavy-rain switch-header-cs-class" data-class="bg-heavy-rain header-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-mean-fruit switch-header-cs-class" data-class="bg-mean-fruit header-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-malibu-beach switch-header-cs-class" data-class="bg-malibu-beach header-text-light">
                                    </div>
                                    <div class="swatch-holder bg-deep-blue switch-header-cs-class" data-class="bg-deep-blue header-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-ripe-malin switch-header-cs-class" data-class="bg-ripe-malin header-text-light">
                                    </div>
                                    <div class="swatch-holder bg-arielle-smile switch-header-cs-class" data-class="bg-arielle-smile header-text-light">
                                    </div>
                                    <div class="swatch-holder bg-plum-plate switch-header-cs-class" data-class="bg-plum-plate header-text-light">
                                    </div>
                                    <div class="swatch-holder bg-happy-fisher switch-header-cs-class" data-class="bg-happy-fisher header-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-happy-itmeo switch-header-cs-class" data-class="bg-happy-itmeo header-text-light">
                                    </div>
                                    <div class="swatch-holder bg-mixed-hopes switch-header-cs-class" data-class="bg-mixed-hopes header-text-light">
                                    </div>
                                    <div class="swatch-holder bg-strong-bliss switch-header-cs-class" data-class="bg-strong-bliss header-text-light">
                                    </div>
                                    <div class="swatch-holder bg-grow-early switch-header-cs-class" data-class="bg-grow-early header-text-light">
                                    </div>
                                    <div class="swatch-holder bg-love-kiss switch-header-cs-class" data-class="bg-love-kiss header-text-light">
                                    </div>
                                    <div class="swatch-holder bg-premium-dark switch-header-cs-class" data-class="bg-premium-dark header-text-light">
                                    </div>
                                    <div class="swatch-holder bg-happy-green switch-header-cs-class" data-class="bg-happy-green header-text-light">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <h3 class="themeoptions-heading">
                        <div>Sidebar Options</div>
                        <button type="button" class="btn-pill btn-shadow btn-wide ml-auto btn btn-focus btn-sm switch-sidebar-cs-class" data-class="">
                            Restore Default
                        </button>
                    </h3>
                    <div class="p-3">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h5 class="pb-2">Choose Color Scheme
                                </h5>
                                <div class="theme-settings-swatches">
                                    <div class="swatch-holder bg-primary switch-sidebar-cs-class" data-class="bg-primary sidebar-text-light">
                                    </div>
                                    <div class="swatch-holder bg-secondary switch-sidebar-cs-class" data-class="bg-secondary sidebar-text-light">
                                    </div>
                                    <div class="swatch-holder bg-success switch-sidebar-cs-class" data-class="bg-success sidebar-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-info switch-sidebar-cs-class" data-class="bg-info sidebar-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-warning switch-sidebar-cs-class" data-class="bg-warning sidebar-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-danger switch-sidebar-cs-class" data-class="bg-danger sidebar-text-light">
                                    </div>
                                    <div class="swatch-holder bg-light switch-sidebar-cs-class" data-class="bg-light sidebar-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-dark switch-sidebar-cs-class" data-class="bg-dark sidebar-text-light">
                                    </div>
                                    <div class="swatch-holder bg-focus switch-sidebar-cs-class" data-class="bg-focus sidebar-text-light">
                                    </div>
                                    <div class="swatch-holder bg-alternate switch-sidebar-cs-class" data-class="bg-alternate sidebar-text-light">
                                    </div>
                                    <div class="divider">
                                    </div>
                                    <div class="swatch-holder bg-vicious-stance switch-sidebar-cs-class" data-class="bg-vicious-stance sidebar-text-light">
                                    </div>
                                    <div class="swatch-holder bg-midnight-bloom switch-sidebar-cs-class" data-class="bg-midnight-bloom sidebar-text-light">
                                    </div>
                                    <div class="swatch-holder bg-night-sky switch-sidebar-cs-class" data-class="bg-night-sky sidebar-text-light">
                                    </div>
                                    <div class="swatch-holder bg-slick-carbon switch-sidebar-cs-class" data-class="bg-slick-carbon sidebar-text-light">
                                    </div>
                                    <div class="swatch-holder bg-asteroid switch-sidebar-cs-class" data-class="bg-asteroid sidebar-text-light">
                                    </div>
                                    <div class="swatch-holder bg-royal switch-sidebar-cs-class" data-class="bg-royal sidebar-text-light">
                                    </div>
                                    <div class="swatch-holder bg-warm-flame switch-sidebar-cs-class" data-class="bg-warm-flame sidebar-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-night-fade switch-sidebar-cs-class" data-class="bg-night-fade sidebar-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-sunny-morning switch-sidebar-cs-class" data-class="bg-sunny-morning sidebar-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-tempting-azure switch-sidebar-cs-class" data-class="bg-tempting-azure sidebar-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-amy-crisp switch-sidebar-cs-class" data-class="bg-amy-crisp sidebar-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-heavy-rain switch-sidebar-cs-class" data-class="bg-heavy-rain sidebar-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-mean-fruit switch-sidebar-cs-class" data-class="bg-mean-fruit sidebar-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-malibu-beach switch-sidebar-cs-class" data-class="bg-malibu-beach sidebar-text-light">
                                    </div>
                                    <div class="swatch-holder bg-deep-blue switch-sidebar-cs-class" data-class="bg-deep-blue sidebar-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-ripe-malin switch-sidebar-cs-class" data-class="bg-ripe-malin sidebar-text-light">
                                    </div>
                                    <div class="swatch-holder bg-arielle-smile switch-sidebar-cs-class" data-class="bg-arielle-smile sidebar-text-light">
                                    </div>
                                    <div class="swatch-holder bg-plum-plate switch-sidebar-cs-class" data-class="bg-plum-plate sidebar-text-light">
                                    </div>
                                    <div class="swatch-holder bg-happy-fisher switch-sidebar-cs-class" data-class="bg-happy-fisher sidebar-text-dark">
                                    </div>
                                    <div class="swatch-holder bg-happy-itmeo switch-sidebar-cs-class" data-class="bg-happy-itmeo sidebar-text-light">
                                    </div>
                                    <div class="swatch-holder bg-mixed-hopes switch-sidebar-cs-class" data-class="bg-mixed-hopes sidebar-text-light">
                                    </div>
                                    <div class="swatch-holder bg-strong-bliss switch-sidebar-cs-class" data-class="bg-strong-bliss sidebar-text-light">
                                    </div>
                                    <div class="swatch-holder bg-grow-early switch-sidebar-cs-class" data-class="bg-grow-early sidebar-text-light">
                                    </div>
                                    <div class="swatch-holder bg-love-kiss switch-sidebar-cs-class" data-class="bg-love-kiss sidebar-text-light">
                                    </div>
                                    <div class="swatch-holder bg-premium-dark switch-sidebar-cs-class" data-class="bg-premium-dark sidebar-text-light">
                                    </div>
                                    <div class="swatch-holder bg-happy-green switch-sidebar-cs-class" data-class="bg-happy-green sidebar-text-light">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <h3 class="themeoptions-heading">
                        <div>Main Content Options</div>
                        <button type="button" class="btn-pill btn-shadow btn-wide ml-auto active btn btn-focus btn-sm">Restore Default
                        </button>
                    </h3>
                    <div class="p-3">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h5 class="pb-2">Page Section Tabs
                                </h5>
                                <div class="theme-settings-swatches">
                                    <div role="group" class="mt-2 btn-group">
                                        <button type="button" class="btn-wide btn-shadow btn-primary btn btn-secondary switch-theme-class" data-class="body-tabs-line">
                                            Line
                                        </button>
                                        <button type="button" class="btn-wide btn-shadow btn-primary active btn btn-secondary switch-theme-class" data-class="body-tabs-shadow">
                                            Shadow
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>        <div class="app-main">
        <div class="app-sidebar sidebar-shadow">
            <div class="app-header__logo">
                <div class="logo-src"></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                        <span>
                            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                                <span class="btn-icon-wrapper">
                                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                                </span>
                            </button>
                        </span>
            </div>
            <div class="scrollbar-sidebar">
                <div class="app-sidebar__inner">
                    <ul class="vertical-nav-menu">
                        <li class="app-sidebar__heading"></li>
                        <li>
                            <a href="/updateProduct" class="mm-active">
                                <i class="el-icon-plus"></i>
                                添加产品
                            </a>
                        </li>
                        <li>
                            <a href="/editProduct" class="mm-active">
                                <i class="el-icon-edit"></i>
                                产品编辑
                            </a>
                        </li>
                        <li>
                            <a href="/indexLc" class="mm-active">

                                <i class="el-icon-chat-line-round"></i>
                                用户首页聊天
                            </a>
                        </li>

                        <li>
                            <a href="/admin_Product_Questions" class="mm-active">
                                <i class="el-icon-document"></i>
                                回复产品问题
                            </a>
                        </li>

                        <li>
                            <a href="/admin_customer_queries" class="mm-active">
                                <i class="el-icon-set-up"></i>
                                回复用户咨询
                            </a>
                        </li>

                        <li>
                            <a href="/admin_quotes_anonymous" class="mm-active">
                                <i class="el-icon-postcard"></i>
                                回复匿名询价
                            </a>
                        </li>

                        <li>
                            <a href="/admin_quotes" class="mm-active">
                                <i class="el-icon-message"></i>
                                回复电子邮件询价
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>    <div class="app-main__outer">
            <div class="app-main__inner">
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-actions">
<!--                            <button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark">-->
<!--                                <i class="fa fa-star"></i>-->
<!--                            </button>-->
                            <div class="d-inline-block dropdown">
<!--                                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">-->
<!--                                            <span class="btn-icon-wrapper pr-2 opacity-7">-->
<!--                                                <i class="fa fa-business-time fa-w-20"></i>-->
<!--                                            </span>-->
<!--                                    Buttons-->
<!--                                </button>-->
                                <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a href="javascript:void(0);" class="nav-link">
                                                <i class="nav-link-icon lnr-inbox"></i>
                                                <span>
                                                            Inbox
                                                        </span>
                                                <div class="ml-auto badge badge-pill badge-secondary">86</div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="javascript:void(0);" class="nav-link">
                                                <i class="nav-link-icon lnr-book"></i>
                                                <span>
                                                            Book
                                                        </span>
                                                <div class="ml-auto badge badge-pill badge-danger">5</div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="javascript:void(0);" class="nav-link">
                                                <i class="nav-link-icon lnr-picture"></i>
                                                <span>
                                                            Picture
                                                        </span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a disabled href="javascript:void(0);" class="nav-link disabled">
                                                <i class="nav-link-icon lnr-file-empty"></i>
                                                <span>
                                                            File Disabled
                                                        </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="notification_container">
                    <div class="col-sm-12 admin_echo_pop">
                        <div class="alert fade alert-simple alert-info alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show" role="alert" data-brk-library="component__alert">
                            <button type="button" class="close font__size-18" data-dismiss="alert">
									<span aria-hidden="true">
										<i class="fa fa-times blue-cross"></i>
									</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <i class="start-icon  fa fa-info-circle faa-shake animated"></i>
                            <span class="font__weight-semibold admin_echo_popContents">   </span>
                        </div>

                    </div>
                    <div class="col-sm-12 admin_echo_close">
                        <div class="alert fade alert-simple alert-warning alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show" role="alert" data-brk-library="component__alert">
                            <button type="button" class="close font__size-18" data-dismiss="alert">
                                <span aria-hidden="true">
                                    <i class="fa fa-times warning">
                                    </i>
                                </span>
                                <span class="sr-only">
                                    Close
                                </span>
                            </button>
                            <i class="start-icon fa fa-exclamation-triangle faa-flash animated">
                            </i>
                            <span class="font__weight-semibold admin_echo_closeSession">

                            </span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="livechat" id="livechat">
                        <div id="chattingDisplay" class="adminChattingDisplay">
                        </div>
                        <div class="chattingWrap">
                            <textarea id="ls" class="ls" ></textarea>
                            <button id="sm" class="sm chatting_inactive" disabled>
                                Send
                            </button>
                            <button id="endChatting" class="endChatting chatting_inactive" disabled>
                                End Chatting
                            </button>

                        </div>



                    </div>
                </div>
<!--                <div class="row">-->
<!--                    <div class="col-md-6 col-xl-4">-->
<!--                    <a href="/admin_Product_Questions" style="text-decoration: none;">-->
<!--                        <div class="card mb-3 widget-content bg-midnight-bloom" style="cursor:pointer;">-->

<!--                            <div class="widget-content-wrapper text-white" >-->
<!--                                <div class="widget-content-left">-->

<!--                                    <div class="widget-heading">用户问题:</div>-->
<!--&lt;!&ndash;                                    <div class="widget-subheading">Last year expenses</div>&ndash;&gt;-->
<!--                                </div>-->
<!--                                <div class="widget-content-right">-->
<!--                                    <div class="widget-numbers text-white"><span><%=result.length%></span></div>-->
<!--                                </div>-->
<!--                            </div>-->


<!--                        </div>-->
<!--                    </a>-->
<!--                    </div>-->
<!--                    <div class="col-md-6 col-xl-4">-->
<!--                        <a href="/admin_customer_queries" style="text-decoration: none;">-->
<!--                            <div class="card mb-3 widget-content bg-arielle-smile" style="cursor:pointer;">-->
<!--                            <div class="widget-content-wrapper text-white">-->
<!--                                <div class="widget-content-left">-->
<!--                                    <div class="widget-heading">用户咨询</div>-->
<!--&lt;!&ndash;                                    <div class="widget-subheading">Total Clients Profit</div>&ndash;&gt;-->
<!--                                </div>-->
<!--                                <div class="widget-content-right">-->
<!--                                    <div class="widget-numbers text-white"><span id="customer_query_length"></span></div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="d-xl-none d-lg-block col-md-6 col-xl-4">-->
<!--                        <div class="card mb-3 widget-content bg-premium-dark" >-->
<!--                            <div class="widget-content-wrapper text-white">-->
<!--                                <div class="widget-content-left">-->
<!--                                    <div class="widget-heading">Products Sold</div>-->
<!--                                    <div class="widget-subheading">Revenue streams</div>-->
<!--                                </div>-->
<!--                                <div class="widget-content-right">-->
<!--                                    <div class="widget-numbers text-warning"><span>$14M</span></div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="row">-->
<!--                    <div class="col-md-6 col-xl-4">-->
<!--                        <a href="/admin_quotes_anonymous" style="text-decoration: none;">-->
<!--                         <div class="card mb-3 widget-content" style="cursor:pointer;">-->
<!--                            <div class="widget-content-outer">-->
<!--                                <div class="widget-content-wrapper">-->
<!--                                    <div class="widget-content-left">-->
<!--                                        <div class="widget-heading">匿名询价</div>-->
<!--&lt;!&ndash;                                        <div class="widget-subheading">Last year expenses</div>&ndash;&gt;-->
<!--                                    </div>-->
<!--                                    <div class="widget-content-right">-->
<!--                                        <div class="widget-numbers text-success"><%=quote_anonymous.length%></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="col-md-6 col-xl-4">-->
<!--                        <a href="/admin_quotes" style="text-decoration: none;">-->
<!--                        <div class="card mb-3 widget-content" style="cursor:pointer;">-->
<!--                            <div class="widget-content-outer">-->
<!--                                <div class="widget-content-wrapper">-->
<!--                                    <div class="widget-content-left">-->
<!--                                        <div class="widget-heading">总询价</div>-->
<!--&lt;!&ndash;                                        <div class="widget-subheading">Revenue streams</div>&ndash;&gt;-->
<!--                                    </div>-->
<!--                                    <div class="widget-content-right">-->
<!--                                        <div class="widget-numbers text-warning"><%=quotes.length%></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="d-xl-none d-lg-block col-md-6 col-xl-4">-->
<!--                        <div class="card mb-3 widget-content">-->
<!--                            <div class="widget-content-outer">-->
<!--                                <div class="widget-content-wrapper">-->
<!--                                    <div class="widget-content-left">-->
<!--                                        <div class="widget-heading">Income</div>-->
<!--                                        <div class="widget-subheading">Expected totals</div>-->
<!--                                    </div>-->
<!--                                    <div class="widget-content-right">-->
<!--                                        <div class="widget-numbers text-focus">$147</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="widget-progress-wrapper">-->
<!--                                    <div class="progress-bar-sm progress-bar-animated-alt progress">-->
<!--                                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100" style="width: 54%;"></div>-->
<!--                                    </div>-->
<!--                                    <div class="progress-sub-label">-->
<!--                                        <div class="sub-label-left">Expenses</div>-->
<!--                                        <div class="sub-label-right">100%</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="row" style="margin-left:-30px;">
                    <div class="col-md-12">
                        <div class="main-card mb-3 card">
                            <div class="card-header">后台管理人员
                                <div class="btn-actions-pane-right">
                    
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th class="text-center">负责产品</th>
                                        <th>姓名</th>
                                        <th class="text-center">在线状态</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <% adminDatas.forEach(function(d){%>
                                            <tr class="admin_tr">
                                                <td class="text-center text-muted"><%=d.Productproficiency%></td>
                                                <td>
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left mr-3">
                                                                <div class="widget-content-left">
                                                                    <img width="40" class="rounded-circle" src="<%=d.img%>" alt="">
                                                                </div>
                                                            </div>
                                                            <div class="widget-content-left flex2">
                                                                <div class="widget-heading adminNt"><%=d.name%></div>
                                                                <div class="widget-subheading opacity-7"><%=d.position%></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                        
                                                <td class="text-center">
                                                    <div class="badge badge-warning adminSts"><%=d.status%></div>
                                                </td>
                                    
                                            </tr>
                                        <% }) %>
                              
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-block text-center card-footer">
                                <!-- <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i class="pe-7s-trash btn-icon-wrapper"> </i></button>
                                <button class="btn-wide btn btn-success">Save</button> -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

<script>
    $(document).ready(function (e) {
        const host = '<%= host %>';
        const socket = io.connect("http://"+ host + ":3001");
        // socket = io.connect('http://47.107.184.56:3001');
        socket.on("connection");
        socket.emit("adminJoin",{adminName:$("#adminName").text()});
        setTimeout(function(){
            socket.emit("check_admin_status");
        },2000);

        var  useSocketId = '';
        var customer_queries = 0;
        var thisAdminName = '';
        socket.on("admin_echo",function (data) {
            //show message card and enable send button and close session button
            $(".admin_echo_popContents").text(data);
            $(".admin_echo_pop").show();

            $(".sm").removeClass("chatting_inactive");
            $(".sm").removeAttr("disabled");
            $(".endChatting").removeAttr("disabled");
            $("#endChatting").removeClass("chatting_inactive");
        });

        function hide_session(){
            $(".admin_echo_close").hide();
        }
        socket.on("user-disconnect",function (data) {
            $(".adminChattingDisplay").html('');
            $(".admin_echo_pop").hide();
            $(".sm").addClass("chatting_inactive");
            $(".sm").attr("disabled","disabled");
            $(".endChatting").attr("disabled","disabled");
            $("#endChatting").addClass("chatting_inactive");
            $(".admin_echo_close").show();
            $(".admin_echo_closeSession").text(data);
            setTimeout(hide_session, 2000);
        });


        socket.on("privateChat",function (data) {
            var data = $("<div>" + data.username + ":" + data.message + "</div>");
            $(".adminChattingDisplay").append(data);
        });

        socket.on("notify_other_admin_status", function(data){
            if(!data){
                return false;
            }else{
                $("tr.admin_tr").each(function(index, val){
                        $(val).find(".adminSts").text("Offline").removeClass("badge-success").addClass("badge-warning");
                });
                for(var i = 0; i < data.length; i++){
                    $("tr.admin_tr").each(function(index, val){
                        if($(val).find(".adminNt").text().indexOf(data[i].adminName) != -1){
                            $(val).find(".adminSts").text(data[i].isOnline).removeClass("badge-warning").addClass("badge-success");
                        }
                    });
                }
            }
        });

        $("#sm").bind("click",function(){
            var message = $("#ls").val();
            if(message.lenght <= 0){
                return false;
            }else{
                var adminName = $.trim($("#adminName").text());
                var data = {
                    adminName:adminName,
                    message:message
                };
                socket.emit("privateChat_return",data);
                var dp = $("<div class='adminMessage'>" + adminName +":" + message + "</div>");
                $(".adminChattingDisplay").append(dp);
                $("#ls").val("");
            }
        });

        $("#endChatting").bind("click", function () {
            //terminate user socket connection from admin side
            var r = confirm("Are you sure you want to stop?");
            if(r){
                socket.emit("manual-disconnectionAdmin");
                // socket.close();
                $(".adminChattingDisplay").html('');
                $(".admin_echo_pop").hide();
                $(".sm").addClass("chatting_inactive");
                $(".sm").attr("disabled","disabled");
                $(".endChatting").attr("disabled","disabled");
                $("#endChatting").addClass("chatting_inactive");
            }else{

            }
        });



        function getEmails(){
            $.ajax({
                url: "/admin_reply_mail",
                dataType: "json",
                success: function (d) {
                    if(d.code == 1){
                        const data = d.data;
                        customer_queries = data.length;
                        $("#customer_query_length").text(customer_queries);
                    }
                }
            });
        }
        getEmails();

        $("#logoff").bind("click",function () {
            $.ajax({
                url: "/admin_signout",
                dataType: "json",
                success: function (d) {
                    if(d.code == 1){
                        window.location.href = "/admin_login";
                    }
                }
            });
        });

        function getAdminImg(){
            var adminName = $("#adminName").text();
            $.ajax({
                url: "/get_admin_img",
                dataType: "json",
                type:"post",
                data:{
                    adminName:adminName
                },
                success: function (d) {
                    if(d.code == 1){
                        var img =d.data[0].img;
                        $("#admin_img").attr("src",img)
                    }
                }
            });
        }

        getAdminImg();

    });
</script>
<script type="text/javascript" src="javascripts/main.js"></script></body>
</body>
</html>
