
<script>
  $(document).ready(function(){

    $("#user_signout").bind("click",function (){
      $.ajax({
        url: "/signout",
        dataType: "json",
        success: function (d) {
          if(d.code == 1){
            window.location.href = "/";
          }
        }
      });
    });
    $("#searchProduct").bind("click",function (){
      if($("#CityAjax").val().length <= 0 ){
        return false;
      }
      var searchContents = $("#CityAjax").val();
      $.ajax({
        url: "/searchContents",
        type:"post",
        data:{
          searchContents:searchContents
        },
        dataType: "json",
        success: function (d) {
          if(d.code == 1){
            //搜索返回有值
            window.location.href = "/searchResult"
          }
        }
      });
    });
  })
</script>

<div class="header">
    <div class="header_main"> 
    <div class="header_main_list_more_all" style="height: 0px;"> 
      <div class="header_main_list_more nav0 show"> 
      <div class="header_main_list_more allcategories show"> 
        <div class="fs_home_nav_bg"></div> 
        <div class="home_solution_container"> 
        <div class="home_solution_left">
          <p class="home_solution_tit">All Categories</p>
          <ul class="home_solution_left_ul">
            <% gpdLists.forEach(function(gpdList){%>
            <li class="gpdListLi">
              <a href="https://www.fs.com/c/networking-911">
                <span class='gpdListTag'><%=gpdList.id %></span><%=gpdList.des %><i class="iconfont icon"></i>
                <i class="iconfont icon">
                  
                </i>
              </a>
            </li>
              <% }) %>
          </ul>
        </div>
        <div class="home_solution_right">
          <a href="javascript:;" class="iconfont icon home_solution_close">
            
          </a>
          <ul class="home_solution_right_ul subGpdListLi" >
            <li class="active myHidden">
              <div class="fs_home_product_container">
                <div class="header_list_more_ul_main_all en">
                  <% subGpdLists.forEach(function(subGpdList){%>
                    <dl class="header_list_more_ul_main_all_con myHidden" parentID="<%=subGpdList.parentID%>">
                    <dt>
                      <img src="<%=subGpdList.url%>" width="110px" height="110px">
                    </dt>
                    <dd>
                      <h2>
                        <a class="" href="/sub_pdinfo?gpid=<%=subGpdList.id%>">
                          <%=subGpdList.des %>
                        </a>
                      </h2>
                      <p class="choose">
                            <% lvsubGpdLists3.forEach(function(lvsubGpdList3){%>
                              <% if(lvsubGpdList3.parentID == subGpdList.id){%>
                          <a href="/pdinfo?pid=<%=lvsubGpdList3.id %>">
                                <p class="gapL"><%=lvsubGpdList3.des %></p>
                            </a>
                            <% }%>
                            <% }) %>
                      </p>
                    </a>
                    </dd>
                  </dl>
                    <% }) %>
                </div>
              </div>
            </li>
          </ul>
        </div> 
        </div> 
      </div> 
      </div> 
      <div class="header_main_list_more nav1"> 
      <div class="home_solution_container"> 
        <div class="home_solution_flex_container"> 
        <h3 class="fs_home_tit">Support</h3>
        <a href="javascript:;" class="iconfont icon home_solution_close"></a> 
        <div class="new_support_content"> 
          <div class="new_support_content_left"> 
          <p class="new_support_content_tit">Find documents, case studies, videos, or request technical support to get tailored solutions. Get instant help for purchasing or other related issues.</p> 
          <ul class="new_support_content_ul after"> 
            <li><a href="/case-studies.html">Case Studies</a></li>
            <li><a href="/solution_support.html">Get Technical Support</a></li>
            <li><a target="_blank" href="https://www.youtube.com/FiberStore">Video Library</a></li>
            <li><a href="/service/help_center.html">FS Support</a></li>
            <li><a href="/index.php?main_page=products_support">Technical Documents</a></li> 
          </ul> 
          </div> 
          <div class="new_support_content_right"> 
          <img class="home_solution_img" src="https://img-en.fs.com//images/head_file/20210111102124_556.jpg" alt="Support" /> 
          </div> 
        </div> 
        </div> 
      </div> 
      </div> 
      <div class="header_main_list_more nav2"> 
      <div class="home_solution_container"> 
        <div class="home_solution_flex_container"> 
        <h3 class="fs_home_tit">Services</h3> 
        <a href="javascript:;" class="iconfont icon home_solution_close"></a> 
        <div class="new_support_content"> 
          <div class="new_support_content_left"> 
          <p class="new_support_content_tit">Explore popular topics on account, shipping, returns, etc. FS is committed to bringing you the simplest buying experience.</p> 
          <ul class="new_support_content_ul after"> 
            <li><a href="/payment_methods.html">Payment Methods</a></li>
            <li><a href="/policies/net_30.html">Net Terms</a></li>
            <li><a href="/shipping_delivery.html">Shipping &amp; Delivery</a></li>
            <li><a href="/service/sales_tax.html">Sales Tax</a></li>
            <li><a href="/policies/day_return_policy.html">Return Policy</a></li>
            <li><a href="/index.php?main_page=e_rate">E-rate</a></li> 
          </ul> 
          </div> 
          <div class="new_support_content_right"> 
          <img class="home_solution_img" src="https://img-en.fs.com//images/head_file/20210111102822_716.jpg" alt="Services" /> 
          </div> 
        </div> 
        </div> 
      </div> 
      </div> 
      <div class="header_main_list_more nav3"> 
      <div class="home_solution_container"> 
        <div class="home_solution_flex_container"> 
        <h3 class="fs_home_tit">Company</h3> 
        <a href="javascript:;" class="iconfont icon home_solution_close"></a> 
        <div class="new_support_content"> 
          <div class="new_support_content_left"> 
          <p class="new_support_content_tit">FS is a global high-tech company providing high-speed communication network solutions and services. So far, more than 400,000 customers have benefited from FS high quality products, network solutions and worry-free services.</p> 
          <ul class="new_support_content_ul after"> 
            <li><a href="/company/quality_control.html">Quality Commitment</a></li>
            <li><a href="mailto:us@fs.com">us@fs.com</a></li>
            <li><a href="/support/test-assured-program.html">Test Bed</a></li>
            <li><a style="text-decoration: none;" href="javascript:void(0);">+1 (888) 468 7419</a></li>
            <li><a href="/company/about_us.html">About Us</a></li> 
          </ul> 
          </div> 
          <div class="new_support_content_right"> 
          <img class="home_solution_img" src="https://img-en.fs.com//images/head_file/20210112110806_836.jpg" alt="About Us" /> 
          </div> 
        </div> 
        </div> 
      </div> 
      </div> 
      <div class="header_main_list_more nav4"> 
      <div class="home_solution_container"> 
        <div class="home_solution_flex_container"> 
        <h3 class="fs_home_tit">Community</h3> 
        <a href="javascript:;" class="iconfont icon home_solution_close"></a> 
        <div class="home_solution_flex"> 
          <dl class="home_solution_dl"> 
          <dt> 
            <a target="_blank" href="https://community.fs.com/"> <img class="home_solution_img" src="https://img-en.fs.com//images/head_file/20210111110159_895.jpg" alt="Fs 20210111110159_895.jpg" /> </a> 
            <span class="fs_home_insights"><i></i></span> 
          </dt> 
          <dd> 
            <h3 class="home_solution_ul_tit"><a target="_blank" href="https://community.fs.com/">A Place for Sharing and Innovation</a></h3> 
            <p class="home_solution_ul_txt">Explore FS Community to get FS latest news, as well as advice, guidance, experience, and trends from experts and FS customers.</p> 
          </dd> 
          </dl> 
          <dl class="home_solution_dl"> 
          <dt> 
            <img class="home_solution_img" src="https://img-en.fs.com//images/head_file/20210111110209_504.jpg" alt="IT Pros Are Sharing" /> 
            <div class="fs_home_ommunity_bg"> 
            <div> 
              <p class="fs_home_ommunity_tit">IT Pros Are Sharing</p> 
              <a class="fs_home_ommunity_a" target="_blank" href="https://community.fs.com/ideas">Explore</a> 
            </div> 
            </div> 
          </dt> 
          <dd> 
            <ul class="fs_home_service_ul"> 
            <li><a target="_blank" href="https://community.fs.com/blog">Blog</a></li>
            <li><a target="_blank" href="https://community.fs.com/insight">Insight</a></li>
            <li><a target="_blank" href="https://community.fs.com/news">What's New</a></li> 
            </ul> 
          </dd> 
          </dl> 
        </div> 
        </div> 
      </div> 
      </div> 
    </div> 
    <div class="ob_nav_bar"> 
      <a class="header_logo" href="/"> <img width="72" height="35" src="images/logo_vudj.png" alt="Fs logo.svg" /> </a> 
      <ul class="header_main_firstul"> 
        <li class="navSelect header_main_list header_main_index_0" navSelect="1"> <p class="header_main_list_font">All Categories</p> </li> 
        <li class="navSelect header_main_list header_main_index_1" navSelect="2"> <p class="header_main_list_font">Technologies  </p> </li> 
        <li class="navSelect header_main_list header_main_index_2" navSelect="3"> <p class="header_main_list_font">Resources</p> </li> 
        <li class="navSelect header_main_list header_main_index_3" navSelect="4"> <p class="header_main_list_font">Company</p> </li> 
        <li class="navSelect header_main_list header_main_index_4" navSelect="5"> <p class="header_main_list_font">News</p> </li> 
        <i class="header_sign_more_arrow pc-header_sign_more_arrow" style="left: 112.133px;"></i> 
        <span class="home_drop_down_carrier" style="display: none; left: 24.4562px;"></span> 
      </ul> 

      <div class="top_cart" id="ShoppingCartInfo"> 
      <a class="cart_info" href="/cart"> <span class="icon iconfont cart"></span> <span class="cart_span">Cart</span> </a>
      <div class="top_cart_more"> 
        <div class="header_sign_more_arrow"></div> 
        <div class="top_cart_more_main" id="shopping_cart"> 
        <div id="loader_order_alone" class="loader_order loading_products">
          <svg class="circular" viewbox="25 25 50 50">
          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"></circle>
          </svg>
        </div> 
        <p class="shopping_cart_loading_font">Cart Loading</p> 
        </div>
      </div> 
      </div> 
      <div class="top_sign"> 
      <a href="<%=action%>" class="top_sign_a"><i class="iconfont icon"></i><span><%=loginInfo%></span></a>
      <div class="header_sign_more"> 
        <div class="header_sign_more_arrow"></div> 
        <div class="header_sign_more_main"> 

        
   
       
        <%if(isDisplayed == "show"){%>
          <div class="hreder_wrapp"> 
            <a class="header_sign_more_main_sign " onclick="$(this).addClass('choosez').find('.header_signTxt').css('opacity','0');" href="/login"><span class="header_signTxt">Sign in</span> 
            <div class="loader_order">
              <svg class="circular" viewbox="25 25 50 50">
              <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>
              </svg>
            </div> </a> 
           
            <p class="header_sign_more_main_register">New Customer? <a href="/regist">Create an account</a> </p> 
          </div>
        <%}%>
        <%if(isDisplayed == "hide"){%>
          <div class="New-Numbering">
            <a href="/my_dashboard">
              <span class="top_hello" id="topHello">
               
              </span>
            </a>
            <div class="header_sign_more_accountNo">
              <span class="Numbering-span">
                Account #:<%=loginInfo%>
                <a href="#">
                
                </a>
              </span>
            </div>
          </div>
        <%}%>

  




        <div class="header_not_log"> 
          <ul class="header_not_ul"> 
          <li> <span class="header_not_ul_font"> ACCOUNT </span> </li> 
          <li> <a href="/"><span>Order History</span></a> </li>
          <li> <a href="/"><span>Order Review</span></a> </li>
          <li> <a href="/"><span>Quote History</span></a> </li>
          <li> <a href="/"><span>Saved Carts</span></a> </li>
          <li> <a href="/"><span>Recently View</span></a> </li>
          <li> <a href="/" id="user_signout"><span>Sign Out</span></a> </li>
          </ul> 
        </div> 
        </div> 
      </div> 
      </div> 
      <div class="header_main_search"> 
      <span class="aron_barry_clear_input icon iconfont"></span> 
      <div>
        <input type="hidden" name="main_page" value="advanced_search_result" /> 
        <input type="text" class="header_main_search_txt" name="keyword" id="CityAjax" autocomplete="off" value="" /> 
        <button type="button" id="searchProduct" class="header_main_search_btn icon iconfont" name="searchSubmit" value="Search"></button type="button" >
        <div class="ac_results" style="display: none;"></div> 
        <!-- hot search --> 
        <div class="fs_search_results" style="display: none;"> 
        <div class="fs_search_default"> 
          <dl class="fs_search_default_dl fs_recent_search" style="display:none;"> 
          <dt>
            Recent Search
          </dt> 
          <dd> 
          </dd> 
          </dl> 
          <dl class="fs_search_default_dl fs_hot_search"> 
          <dt>
            Hot Search 
            <a href="javascript:;" onclick="change_hot_search(this)"><i class="iconfont icon"></i><span>Change</span></a> 
          </dt> 
          <dd> 
            <a target="_blank" data-page="1" href="/index.php?main_page=advanced_search_result&amp;keyword=s5860&amp;searchSubmit=Search">s5860</a> 
            <a target="_blank" data-page="1" href="/index.php?main_page=advanced_search_result&amp;keyword=access point&amp;searchSubmit=Search">access point</a> 
            <a target="_blank" data-page="1" href="/index.php?main_page=advanced_search_result&amp;keyword=data center switch&amp;searchSubmit=Search">data center switch</a> 
            <a target="_blank" data-page="1" href="/index.php?main_page=advanced_search_result&amp;keyword=qsfp28&amp;searchSubmit=Search">qsfp28</a> 
            <a target="_blank" data-page="1" href="/index.php?main_page=advanced_search_result&amp;keyword=cwdm&amp;searchSubmit=Search">cwdm</a> 
            <a target="_blank" data-page="1" href="/index.php?main_page=advanced_search_result&amp;keyword=fiber optic cable&amp;searchSubmit=Search">fiber optic cable</a> 
            <a target="_blank" data-page="1" href="/index.php?main_page=advanced_search_result&amp;keyword=media converter&amp;searchSubmit=Search">media converter</a> 
            <a target="_blank" data-page="1" href="/index.php?main_page=advanced_search_result&amp;keyword=ethernet cable&amp;searchSubmit=Search">ethernet cable</a> 
          </dd> 
          </dl> 
        </div> 
        <div class="real_time_results" style="display:none;"> 
          <ul class="real_time_results_ul"> 
          </ul> 
        </div> 
        </div> 
        <!-- hot search --> 
      </div>
      </div> 
    </div> 
    </div> 
  </div> 