<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery-ui.min.js"></script>
    <script type="text/javascript"  src="javascripts/handlebars-v4.7.7.js"></script>
    <script src="http://127.0.0.1:3001/socket.io/socket.io.js"></script>
</head>
<style>
    .adminChattingDisplay{
        height:400px;
        width:300px;
        border: solid 1px gray;
        overflow: auto;
    }

</style>
<body>
<span>welcome:<span id="adminName"><%=admin%></span></span>


<div class="livechat" id="livechat">
    <div id="chattingDisplay" class="adminChattingDisplay">


    </div>
    <textarea id="ls" class="ls" style="width:300px;height:100px;">

    </textarea><br />
    <button id="sm" class="sm">Send</button>
</div>

<div class="questions" id="questions">
    <button id="logoff">退出登录</button>
<ul class="questions_lists" id="questions_lists">
    <% result.forEach(function(d){%>
        <li class="question_li">
            <div><b>Product id</b>:<span id="questionId"><%=d.pid%></span></div>
            <div><b>question</b>:<%=d.ques%></div>
            <div><a href="<%=d.url%>"><img src="<%=d.img%>" width="150" height="160" /></a></div>
            <div><b>product</b>:<%=d.pd_des%></div>
            <div><b>question by</b>:<%=d.ques_user%></div>
            <textarea style="width:420px;height:120px;"></textarea><br />
            <button class="answerq">Answer this question</button>
        </li>
    <% }) %>
</ul>
</div>

<div class="coming_email_list" id="coming_email_list">
    <ul id='mail_ul'>
    <script type="text/x-handlebars-template" id="template">
        {{#each this}}
            <li>
                <div>Questions/Comments:{{comments}}</div>
                <div>About:{{subject}}</div>
                <div>phone:{{phone}}</div>
                <div>mail:{{email}}</div>
                <div>name:{{lastname}} {{firstname}}</div>
            </li>
        {{/each}}
    </script>
    </ul>
</div>



<script>
    $(document).ready(function (e) {

        const socket = io.connect('http://localhost:3001');
        socket.on("connection");
        socket.emit("adminJoin");
        var  useSocketId = '';

        socket.on("user-disconnect",function (data) {
            alert(data);
            $(".adminChattingDisplay").html('');

        });


        socket.on("privateChat",function (data) {
            var data = $("<div>" + data.username + ":" + data.message + "</div>");
            $(".adminChattingDisplay").append(data);
        });

        $("#sm").bind("click",function(){
            var message = $("#ls").val();
            if(message.lenght <= 0){
                return false;
            }else{
                var adminName = $.trim($("#adminName").text());
                var data = {
                    adminName:adminName,
                    message:message
                };
                socket.emit("privateChat_return",data);
                var dp = $("<div>" + adminName +":" + message + "</div>");
                $(".adminChattingDisplay").append(dp);
                $("#ls").val("");
            }
        });

        socket.on("adminEcho",function (data) {
            alert(data);
        });


        function getEmails(){
            $.ajax({
                url: "/admin_reply_mail",
                dataType: "json",
                success: function (d) {
                    if(d.code == 1){
                        const data = d.data;
                        var container = document.querySelector('#mail_ul');
                        var templateDom = document.querySelector('#template');
                        var template = Handlebars.compile(templateDom.innerHTML);
                        container.innerHTML = template(data);
                    }
                }
            });
        }
        getEmails();

        $("#logoff").bind("click",function () {
            $.ajax({
                url: "/admin_signout",
                dataType: "json",
                success: function (d) {
                    if(d.code == 1){
                        window.location.href = "/admin_login";
                    }
                }
            });
        });

        $(".answerq").bind("click",function (){
            if($(this).parent("li.question_li").find("textarea").val().length <= 0){
                alert("请输入答案。")
                return false;
            }
            $.ajax({
                url: "/admin_reply",
                data: {
                    reply:$(this).parent("li.question_li").find("textarea").val(),
                    admin:$.trim($("#adminName").text()),
                    questionId:$.trim($(this).parent("li.question_li").find("span#questionId").text())
                },
                type: "POST",
                dataType: "json",
                success: function (d) {
                    if(d.code == 1){
                        alert("answered.");
                    }
                }
            });

        });
    });
</script>
</body>
</html>
