<!DOCTYPE html>
<html>
<head> 
  <title>YOGEL</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script type="text/javascript"  src="javascripts/jquery-3.5.1.min.js"></script>
  <script type="text/javascript"  src="javascripts/js_cdn.js"></script>
  <script type="text/javascript"  src="javascripts/header.js"></script>
<!--  <script src="http://127.0.0.1:3001/socket.io/socket.io.js"></script>-->
<script src="http://<%=host%>:3001/socket.io/socket.io.js"></script>
  <script type="text/javascript"  src="javascripts/utility_fte.js"></script>
  <script type="text/javascript"  src="javascripts/tagsinput.js"></script>

  <script type='text/javascript'>
$(document).ready(function(){

  function popMainPageLc(){
    setTimeout(function(){
      $("#indexLivecht").show();
    },5000);
  }

  popMainPageLc();


    // const socket = io.connect('http://localhost:3001');
    // socket.on("connection");





  const host = '<%= host %>';
  const socket = io.connect("http://"+ host + ":3001");
  socket.on("connection");
  socket.emit("userLandingLc",{msg:'how are u? buddy boy'});

  socket.on("lc",function (data) {
    alert(data.msg);
  });



























  function getProfile(){
    $.ajax({
      url: "/user_profile",
      dataType: "json",
      success: function (d) {
        if(d.code == 0){
          // alert("用户未登录");
        }else if(d.code == 1){
          var fullname = d.d;
          $("#topHello").text(fullname);
        }
      }
    });
  }
  getProfile();
  utility_fte.initHeaderBav();

  $("#askQuote").bind("click", function(e){
    var quote_user_name = $.trim($("#quote_user_name").val());
    var quote_user_mail = $.trim($("#quote_user_mail").val());
    var quote_contents = $.trim($("#quote_contents").val());
    if(!quote_user_name){

      // alert("Please enter your name");
      window.examples['theme-modern']();
      fixPop();
      givePopVal("Please enter your name.");
      return false;
    }
    if(!quote_user_mail){
      // alert("Please enter your mail");
      window.examples['theme-modern']();
      fixPop();
      givePopVal("Please enter your mail.");
      return false;
    }
    if(!quote_contents){
      // alert("Please enter your quote contents");
      window.examples['theme-modern']();
      fixPop();
      givePopVal("Please enter your quote contents.");
      return false;
    }

    var quote_contents = {
      name:quote_user_name,
      mail:quote_user_mail,
      contents:quote_contents
    }
    $.ajax({
      url: "/ask_quote",
      dataType: "json",
      data:{
        contents:quote_contents
      },
      type:"POST",
      success: function (d) {
        if(d.code == 1){
          if(d.isUserLogin){
            const quoteNumber = d.quote_number;
            window.examples['theme-modern']();
            fixPop();
            givePopVal("Quote received.You quote number is " + quoteNumber + "\n"+
                    " We will contact you very soon. And you can also check our response in your user panel using the quote number.");
          }else{
            window.examples['theme-modern']();
            fixPop();
            givePopVal("Thanks, We will contact you very soon. You may also register to be a member for more assistance.");
          }
        }
      }
    });
  });
});
  </script>
   
  <link rel="shortcut icon" href="images/logo_vudj.png" type="image/x-icon" /> 
  <style>

  </style>

  <link rel="stylesheet" href="stylesheets/iconfont.css" />
  <link rel="stylesheet" href="stylesheets/swiper-sweetalert2.css" />
  <link rel="stylesheet" href="stylesheets/fs_home.css" />
  <link rel="stylesheet" href="stylesheets/new_index.css" />
  <link rel="stylesheet" href="stylesheets/media.css" />
  <link rel="stylesheet" href="stylesheets/public.css" />

  <link rel="stylesheet" href="stylesheets/quoteInput.css" />



  <style>
    .home-trade-section{
      overflow: hidden;
    }
    .infs{
      width:30%;
      float:left;
      margin-left:3px;
    }
    .selling-point{
      display: inline-block;
      width:83%;

    }

    .selling-point-img{
      display: inline-block;
      width:15%;
      position: relative;
      bottom: 40px;
      right:5px;
    }
    .quoteArea{
      width:85%;
      margin:0 auto;
      margin-top:5px;
      margin-top: 35px;
      border-top:1px solid #e5e5e5;
      padding-top:15px;
    }


    .quoteinput{
      background: #fff;
      background-clip: padding-box;
      border: 1px solid #c2c2c2;
      border-radius: 1px;
      font-family: 'Acumin Pro';
      font-size: 14px;
      height: 32px;
      line-height: 1.42857143;
      padding: 0 9px;
      vertical-align: baseline;
      width: 100%;
      box-sizing: border-box;
    }
    .quotetext {
      background: #fff;
      background-clip: padding-box;
      border: -4px solid #c2c2c2;
      border-radius: 1px;
      font-family: 'Acumin Pro';
      font-size: 14px;
      height: auto;
      line-height: 1.42857143;
      margin: 0;
      padding: 10px;
      vertical-align: baseline;
      width: 100%;
      box-sizing: border-box;
      resize: vertical;
    }

    #askQuote{
      background-color: #333399;
      border: solid 1px #333399;
      height: 42px;
      box-shadow:inset 0 1px 0 0 #fff, inset 0 -1px 0 0 rgb(204 204 204 / 30%);
      cursor: pointer;
      color:#fff;
      width:200px;
    }

    .siteInfo{
      width:85%;
      margin:0 auto;
      margin-top:5px;
    }
    .siteInfo-banel{
      width:85%;
      margin:0 auto;
      margin-top: 30px;
      border-top:solid 1px #e5e5e5;
      padding-top:15px;
    }

.tit-a{
  font-size: 15px;
  color: #666;
  font-weight: 600;
  /*display: block;*/
  font-family: 'Acumin Pro';
  line-height: 20px;
}

.container{
  position: relative;
  top: 20px;
  left: 56px;

}


  </style>
  </head> 
  <body >
  <!-- 顶部 -->
  <%- include('partials/top.ejs') %>
  <!-- 导航、搜索 -->
  <%- include('partials/header.ejs') %>

  <div class="box">
    <div class="remove_bg"></div> 
    <div class="content content_index"> 

    <div class="index_main ">
      <div class="index_main_bg"></div>
    </div>

    <div class="index_wap_box">
      <div class="m-center-container"></div>
    </div>

    <!-- banner cache -->
    <div class="banner">
      <div class="banner_main">
      <div class="swiper-container swiper-container-horizontal swiper-container-fade">
        <div class="swiper-wrapper" style="transition-duration: 0ms;">
        <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-home-custom-name="banner3" data-swiper-slide-index="5" style="width: 1519px; transform: translate3d(0px, 0px, 0px); opacity: 1; transition-duration: 0ms;">
          <div class="banner_main_pic pic01" style="background-image: url('/images/banner/1.jpg');"></div>
          <a href="/specials/400g-200g-transceiver-connectivity-101.html">
          <div class="slide_main">
            <div class="banner_main_font white" style="width: 610px;">
            <h2> 400G/200G High Capacity Connectivity Solutions</h2>
            <p> Provide solutions up to 400 Gbps aggregate,<br /> deal with increasing data traffic and maximize network value</p>
            <span class="banner_main_font_more" style="color: #fff;">Learn more<em class="icon iconfont"></em></span>
            </div>
            <br />
          </div> </a>
        </div>
        <div class="swiper-slide" data-home-custom-name="banner_us" data-swiper-slide-index="0" style="width: 1519px; transform: translate3d(-1519px, 0px, 0px); opacity: 1; transition-duration: 0ms;">
          <div class="banner_main_pic pic01" style="background-image: url('/images/banner/2.jpg');"></div>
          <a href="/shipping_delivery.html">
          <div class="slide_main">
            <div class="banner_main_font white">
            <h2> U.S. Same Day Shipping</h2>
            <p> For in-stock orders placed before 5:00pm EST</p>
            <span class="banner_main_font_more" style="color: #fff;">Learn more<em class="icon iconfont"></em></span>
            </div>
            <br />
          </div> </a>
        </div>
        <div class="swiper-slide" data-home-custom-name="banner5" data-swiper-slide-index="1" style="width: 1519px; transform: translate3d(-3038px, 0px, 0px); opacity: 1; transition-duration: 0ms;">
          <div class="banner_main_pic pic01" style="background-image: url('/images/banner/3.jpg');"></div>
          <a href="/specials/wifi6-117.html">
          <div class="slide_main">
            <div class="banner_main_font white" style="width: 630px;">
            <h2> FS Seamless Wi-Fi 6 Solutions</h2>
            <p> Accelerate and secure your wireless connectivity</p>
            <span class="banner_main_font_more" style="color: #fff;">Learn more<em class="icon iconfont"></em></span>
            </div>
          </div> </a>
        </div>
        <div class="swiper-slide" data-home-custom-name="banner6" data-swiper-slide-index="2" style="width: 1519px; transform: translate3d(-4557px, 0px, 0px); opacity: 1; transition-duration: 0ms;">
          <div class="banner_main_pic pic01" style="background-image: url('/images/banner/4.jpg');"></div>
          <a href="/specials/fs-m-series-optical-transport-network-solutions-123.html">
          <div class="slide_main">
            <div class="banner_main_font white" style="width: 660px;">
            <h2><font color="#ffffff">10/40/100/200G <br />WDM/OTN Network</font></h2>
            <p><span style="" open="" sans",="" arial,="" helvetica,="" sans-serif;="" font-size:="" 16px;="" text-align:="" center;="" background-color:="" initial;"=""><span style="background-color: initial;"><font color="#ffffff">B</font></span><span style="background-color: initial;"><font color="#ffffff">uilding ultra-broadband, flexible and simplified transport networks</font></span></span></p>
            <span class="banner_main_font_more" style="color: #fff;">Learn more<em class="icon iconfont"></em></span>
            </div>
            <br />
          </div> </a>
        </div>
        <div class="swiper-slide swiper-slide-prev" data-home-custom-name="banner4" data-swiper-slide-index="3" style="width: 1519px; transform: translate3d(-6076px, 0px, 0px); opacity: 1; transition-duration: 0ms;">
          <div class="banner_main_pic pic01" style="background-image: url('/images/banner/5.jpg');"></div>
          <a href="/specials/remote-technical-support-111.html">
          <div class="slide_main">
            <div class="banner_main_font white" style="width: 610px;">
            <h2> Remote Technical Support</h2>
            <p> Deliver expertise and technical support, respond quickly to<br /> move your business forward</p>
            <span class="banner_main_font_more" style="color: #fff;">Learn more<em class="icon iconfont"></em></span>
            </div>
          </div> </a>
        </div>
        <div class="swiper-slide swiper-slide-active" data-home-custom-name="banner2" data-swiper-slide-index="4" style="width: 1519px; transform: translate3d(-7595px, 0px, 0px); opacity: 1; transition-duration: 0ms;">
          <div class="banner_main_pic pic01" style="background-image: url('/images/banner/6.jpg');"></div>
          <a href="/specials/mtp-high-density-data-center-cabling-solution-113.html">
          <div class="slide_main">
            <div class="banner_main_font white" style="width: 610px;">
            <h2 style="font-size: 26px;"> FS &times; US Conec</h2>
            <p style="font-size: 40px; line-height: 48px;"> MTP&reg; High-Density Data Center<br /> Cabling Solution</p>
            <span class="banner_main_font_more" style="color: #fff;">Learn more<em class="icon iconfont"></em></span>
            </div>
          </div> </a>
        </div>
        <div class="swiper-slide swiper-slide-next" data-home-custom-name="banner3" data-swiper-slide-index="5" style="width: 1519px; transform: translate3d(-9114px, 0px, 0px); opacity: 0; transition-duration: 0ms;">
          <div class="banner_main_pic pic01" style="background-image: url('/images/banner/7.jpg');"></div>
          <a href="/specials/400g-200g-transceiver-connectivity-101.html">
          <div class="slide_main">
            <div class="banner_main_font white" style="width: 610px;">
            <h2> 400G/200G High Capacity Connectivity Solutions</h2>
            <p> Provide solutions up to 400 Gbps aggregate,<br /> deal with increasing data traffic and maximize network value</p>
            <span class="banner_main_font_more" style="color: #fff;">Learn more<em class="icon iconfont"></em></span>
            </div>
            <br />
          </div> </a>
        </div>
        <div class="swiper-slide swiper-slide-duplicate" data-home-custom-name="banner_us" data-swiper-slide-index="0" style="width: 1519px; transform: translate3d(-10633px, 0px, 0px); opacity: 0; transition-duration: 0ms;">
          <div class="banner_main_pic pic01" style="background-image: url('https://img-en.fs.com/images/home_custom/20200925173400_548.jpg.webp');"></div>
          <a href="/shipping_delivery.html">
          <div class="slide_main">
            <div class="banner_main_font white">
            <h2> U.S. Same Day Shipping</h2>
            <p> For in-stock orders placed before 5:00pm EST</p>
            <span class="banner_main_font_more" style="color: #fff;">Learn more<em class="icon iconfont"></em></span>
            </div>
            <br />
          </div> </a>
        </div>
        </div>
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
        <span class="swiper-pagination-bullet"></span>
        </div>
        <div class="swiper-button-switch-container">
        <div class="swiper-button-next icon iconfont">
          
        </div>
        <div class="swiper-button-prev icon iconfont">
          
        </div>
        </div>
      </div>
      </div>
    </div>
   
    <div class="fs_content_public home_fs_content_public_first"> 
      <div class="fs_home_width"> 
      <div style="margin-top:16px;margin-bottom:16px;"> <h2>Featured Products</h2></div>
      <div class="fs_home_nav_shadow"> 
        <div class="fs_home_nav_ul_overflow"> 
         
        <div class="swiper-container"> 
          <div class="swiper-wrapper"> 
          <div class="swiper-slide" img="../images/svg/switches.svg" choose-img="../images/svg/network_switches_hover.svg"> 
            <i class="fs_nav_backgroundimg" style="background-image: url('../images/svg/switches.svg');"></i> 
            <i class="fs_nav_backgroundimg fs_nav_backgroundimg_two" style="background-image: url('../images/svg/network_switches_hover.svg');"></i> 
            <p class="fs_nav_txt" title="Network Switches">Optical Connectors</p> 
            <span class="fs_home_nav_ul_hover_carrier"></span> 
          </div> 
          <div class="swiper-slide" img="../images/svg/transceiver.svg" choose-img="../images/svg/transceivers_hover.svg"> 
            <i class="fs_nav_backgroundimg" style="background-image: url('../images/svg/transceiver.svg');"></i> 
            <i class="fs_nav_backgroundimg fs_nav_backgroundimg_two" style="background-image: url('../images/svg/transceivers_hover.svg');"></i> 
            <p class="fs_nav_txt" title="Optical Transceivers">Passive Optical Products</p> 
            <span class="fs_home_nav_ul_hover_carrier"></span> 
          </div> 
          <div class="swiper-slide" img="../images/svg/dac-&amp;-aocs.svg" choose-img="../images/svg/dac-&amp;-aocs_hover.svg"> 
            <i class="fs_nav_backgroundimg" style="background-image: url('../images/svg/dac-&amp;-aocs.svg');"></i> 
            <i class="fs_nav_backgroundimg fs_nav_backgroundimg_two" style="background-image: url('../images/svg/dac-&amp;-aocs_hover.svg');"></i> 
            <p class="fs_nav_txt" title="DAC/AOC Cables">Fusion splicers & Accessories</p> 
            <span class="fs_home_nav_ul_hover_carrier"></span> 
          </div> 
          <div class="swiper-slide" img="../images/svg/fiber-cables-3.svg" choose-img="../images/svg/fiber-cables_hover.svg"> 
            <i class="fs_nav_backgroundimg" style="background-image: url('../images/svg/fiber-cables-3.svg');"></i> 
            <i class="fs_nav_backgroundimg fs_nav_backgroundimg_two" style="background-image: url('../images/svg/fiber-cables_hover.svg');"></i> 
            <p class="fs_nav_txt" title="Fiber Patch Cables">CATV Optical Equipments</p> 
            <span class="fs_home_nav_ul_hover_carrier"></span> 
          </div> 
          <div class="swiper-slide active" img="../images/svg/mpo_cables.svg" choose-img="../images/svg/mpo_cables_hover.svg"> 
            <i class="fs_nav_backgroundimg" style="background-image: url('../images/svg/mpo_cables.svg');"></i> 
            <i class="fs_nav_backgroundimg fs_nav_backgroundimg_two" style="background-image: url('../images/svg/mpo_cables_hover.svg');"></i> 
            <p class="fs_nav_txt" title="MTP&reg;/MPO Cables">Broadband data Optical Equip ments</p> 
            <span class="fs_home_nav_ul_hover_carrier"></span> 
          </div> 
          <div class="swiper-slide" img="../images/svg/rack&amp;enclosures-1.svg" choose-img="../images/svg/rack&amp;enclosures_hover.svg"> 
            <i class="fs_nav_backgroundimg" style="background-image: url('../images/svg/rack&amp;enclosures-1.svg');"></i> 
            <i class="fs_nav_backgroundimg fs_nav_backgroundimg_two" style="background-image: url('../images/svg/rack&amp;enclosures_hover.svg');"></i> 
            <p class="fs_nav_txt" title="Racks &amp; Enclosures">Optical boxes, cabinets </p> 
            <span class="fs_home_nav_ul_hover_carrier"></span> 
          </div> 
          <div class="swiper-slide" img="../images/svg/copper_cables-2.svg" choose-img="../images/svg/copper_cable_hover.svg"> 
            <i class="fs_nav_backgroundimg" style="background-image: url('../images/svg/copper_cables-2.svg');"></i> 
            <i class="fs_nav_backgroundimg fs_nav_backgroundimg_two" style="background-image: url('../images/svg/copper_cable_hover.svg');"></i> 
            <p class="fs_nav_txt" title="Copper Network">Optical Handheld Testers</p> 
            <span class="fs_home_nav_ul_hover_carrier"></span> 
          </div> 
          <div class="swiper-slide" img="../images/svg/wdm&amp;optical-access-1.svg" choose-img="../images/svg/wdm&amp;optical_access_hover.svg"> 
            <i class="fs_nav_backgroundimg" style="background-image: url('../images/svg/wdm&amp;optical-access-1.svg');"></i> 
            <i class="fs_nav_backgroundimg fs_nav_backgroundimg_two" style="background-image: url('../images/svg/wdm&amp;optical_access_hover.svg');"></i> 
            <p class="fs_nav_txt" title="WDM Mux Demux">Fiber Optic Instruments & Tools</p> 
            <span class="fs_home_nav_ul_hover_carrier"></span> 
          </div> 
          </div> 
        </div> 
        </div> 
        <span class="home_compati" style="left: 655.4px;"></span> 
      </div> 
      <div class="swiper-container fs_home_nav_content_ul swiper-container-horizontal h_slideWrap swp" > 
        <a href="/all_pds" class="viewmore">View All Products >></a>
        <div class="swiper-wrapper fs_home_nav_content_wrapper" style="transform: translate3d(-14880px, 0px, 0px); transition-duration: 0ms;">

        <div class="fs_home_nav_content_li swiper-slide  h_slide1 h_slide" data-swiper-slide-index="0" style="margin-right: 40px;"> 
          <div class="swiper-container"> 
          <div class="swiper-wrapper"> 

            <% lvsubGpdLists3_abbr.forEach(function(d){%>
              <%if(d.parentsID == 1){%>
            <div class="swiper-slide"> 
              <dl class="fs_home_nav_content_dl"> 
                <a href="/pdinfo?pid=<%= d.id%>"> 
                <dt> 
                  <img src="<%= d.url%>" alt="Fs 1.-108710.jpg.webp" /> 
                </dt> 
                <dd class=""> 
                  <div class="fs_home_nav_content_dl_top"> 
                  <span class="fs_home_red"><i></i></span> 
                  <h3 class="fs_home_nav_content_tit"> <%=d.des %></h3>
                  <!-- <span><%=d.parentsID %></span> -->
                  </div> 
                  <!-- <div class="fs_home_nav_content_dl_bottom"> 
                  <p class="fs_home_nav_content_price"> US$&nbsp;1,399.00 </p> 
                  <p class="fs_home_nav_content_stock"> Available </p> 
                  </div>  -->
                </dd> </a> 
              </dl> 
            </div> 
            <% } %>
            <% }) %>

          </div> 
          </div> 
          <!-- Add Pagination --> 
          <div class="swiper-pagination"></div> 
        </div> 
        <div class="fs_home_nav_content_li swiper-slide h_slide2 h_slide" data-swiper-slide-index="1" style="margin-right: 40px;"> 
          <div class="swiper-container"> 
          <div class="swiper-wrapper"> 
            <% lvsubGpdLists3_abbr.forEach(function(d){%>
              <%if(d.parentsID == 2){%>
            <div class="swiper-slide"> 
              <dl class="fs_home_nav_content_dl"> 
                <a href="/pdinfo?pid=<%= d.id%>"> 
                <dt> 
                  <img src="<%= d.url%>" alt="Fs 1.-108710.jpg.webp" /> 
                </dt> 
                <dd class=""> 
                  <div class="fs_home_nav_content_dl_top"> 
                  <span class="fs_home_red"><i></i></span> 
                  <h3 class="fs_home_nav_content_tit"> <%=d.des %></h3>
                  <!-- <span><%=d.parentsID %></span> -->
                  </div> 

                </dd> </a> 
              </dl> 
            </div> 
            <% } %>
            <% }) %>
          </div> 
          </div> 
          <!-- Add Pagination --> 
          <div class="swiper-pagination"></div> 
        </div> 
        <div class="fs_home_nav_content_li swiper-slide h_slide3 h_slide" data-swiper-slide-index="2" style="margin-right: 40px;"> 
          <div class="swiper-container"> 
          <div class="swiper-wrapper"> 
            <% lvsubGpdLists3_abbr.forEach(function(d){%>
              <%if(d.parentsID == 3){%>
            <div class="swiper-slide"> 
              <dl class="fs_home_nav_content_dl"> 
                <a href="/pdinfo?pid=<%= d.id%>"> 
                <dt> 
                  <img src="<%= d.url%>" alt="Fs 1.-108710.jpg.webp" /> 
                </dt> 
                <dd class=""> 
                  <div class="fs_home_nav_content_dl_top"> 
                  <span class="fs_home_red"><i></i></span> 
                  <h3 class="fs_home_nav_content_tit"> <%=d.des %></h3>
                  <!-- <span><%=d.parentsID %></span> -->
                  </div>
                </dd> </a> 
              </dl> 
            </div> 
            <% } %>
            <% }) %>
          </div> 
          </div> 
          <!-- Add Pagination --> 
          <div class="swiper-pagination"></div> 
        </div> 
        <div class="fs_home_nav_content_li swiper-slide h_slide4 h_slide swiper-slide-prev" data-swiper-slide-index="3" style="margin-right: 40px;"> 
          <div class="swiper-container"> 
          <div class="swiper-wrapper"> 
            <% lvsubGpdLists3_abbr.forEach(function(d){%>
              <%if(d.parentsID == 4){%>
            <div class="swiper-slide"> 
              <dl class="fs_home_nav_content_dl"> 
                <a href="/pdinfo?pid=<%= d.id%>"> 
                <dt> 
                  <img src="<%= d.url%>" alt="Fs 1.-108710.jpg.webp" /> 
                </dt> 
                <dd class=""> 
                  <div class="fs_home_nav_content_dl_top"> 
                  <span class="fs_home_red"><i></i></span> 
                  <h3 class="fs_home_nav_content_tit"> <%=d.des %></h3>
                  <!-- <span><%=d.parentsID %></span> -->
                  </div> 

                </dd> </a> 
              </dl> 
            </div> 
            <% } %>
            <% }) %>
          </div> 
          </div> 
          <!-- Add Pagination --> 
          <div class="swiper-pagination"></div> 
        </div> 
        <div class="fs_home_nav_content_li swiper-slide h_slide5 h_slide swiper-slide-active" data-swiper-slide-index="4" style="margin-right: 40px;"> 
          <div class="swiper-container"> 
          <div class="swiper-wrapper"> 
            <% lvsubGpdLists3_abbr.forEach(function(d){%>
              <%if(d.parentsID == 5){%>
            <div class="swiper-slide"> 
              <dl class="fs_home_nav_content_dl"> 
                <a href="/pdinfo?pid=<%= d.id%>"> 
                <dt> 
                  <img src="<%= d.url%>" alt="Fs 1.-108710.jpg.webp" /> 
                </dt> 
                <dd class=""> 
                  <div class="fs_home_nav_content_dl_top"> 
                  <span class="fs_home_red"><i></i></span> 
                  <h3 class="fs_home_nav_content_tit"> <%=d.des %></h3>
                  <!-- <span><%=d.parentsID %></span> -->
                  </div> 

                </dd> </a> 
              </dl> 
            </div> 
            <% } %>
            <% }) %>
          
          </div> 
          </div> 
          <!-- Add Pagination --> 
          <div class="swiper-pagination"></div> 
        </div> 
        <div class="fs_home_nav_content_li swiper-slide h_slide6 h_slide swiper-slide-next" data-swiper-slide-index="5" style="margin-right: 40px;"> 
          <div class="swiper-container"> 
          <div class="swiper-wrapper"> 
            <% lvsubGpdLists3_abbr.forEach(function(d){%>
              <%if(d.parentsID == 6){%>
            <div class="swiper-slide"> 
              <dl class="fs_home_nav_content_dl"> 
                <a href="/pdinfo?pid=<%= d.id%>"> 
                <dt> 
                  <img src="<%= d.url%>" alt="Fs 1.-108710.jpg.webp" /> 
                </dt> 
                <dd class=""> 
                  <div class="fs_home_nav_content_dl_top"> 
                  <span class="fs_home_red"><i></i></span> 
                  <h3 class="fs_home_nav_content_tit"> <%=d.des %></h3>
                  <!-- <span><%=d.parentsID %></span> -->
                  </div> 

                </dd> </a> 
              </dl> 
            </div> 
            <% } %>
            <% }) %>
          </div> 
          </div> 
          <!-- Add Pagination --> 
          <div class="swiper-pagination"></div> 
        </div> 
        <div class="fs_home_nav_content_li swiper-slide h_slide7 h_slide" data-swiper-slide-index="6" style="margin-right: 40px;"> 
          <div class="swiper-container"> 
          <div class="swiper-wrapper"> 
            <% lvsubGpdLists3_abbr.forEach(function(d){%>
              <%if(d.parentsID == 7){%>
            <div class="swiper-slide"> 
              <dl class="fs_home_nav_content_dl"> 
                <a href="/pdinfo?pid=<%= d.id%>"> 
                <dt> 
                  <img src="<%= d.url%>" alt="Fs 1.-108710.jpg.webp" /> 
                </dt> 
                <dd class=""> 
                  <div class="fs_home_nav_content_dl_top"> 
                  <span class="fs_home_red"><i></i></span> 
                  <h3 class="fs_home_nav_content_tit"> <%=d.des %></h3>
                  <!-- <span><%=d.parentsID %></span> -->
                  </div> 

                </dd> </a> 
              </dl> 
            </div> 
            <% } %>
            <% }) %>
          </div> 
          </div> 
          <!-- Add Pagination --> 
          <div class="swiper-pagination"></div> 
        </div> 
        <div class="fs_home_nav_content_li swiper-slide h_slide8 h_slide" data-swiper-slide-index="7" style="margin-right: 40px;"> 
          <div class="swiper-container"> 
          <div class="swiper-wrapper"> 
            <% lvsubGpdLists3_abbr.forEach(function(d){%>
              <%if(d.parentsID == 8){%>
            <div class="swiper-slide"> 
              <dl class="fs_home_nav_content_dl"> 
                <a href="/pdinfo?pid=<%= d.id%>"> 
                <dt> 
                  <img src="<%= d.url%>" alt="Fs 1.-108710.jpg.webp" /> 
                </dt> 
                <dd class=""> 
                  <div class="fs_home_nav_content_dl_top"> 
                  <span class="fs_home_red"><i></i></span> 
                  <h3 class="fs_home_nav_content_tit"> <%=d.des %></h3>
                  <!-- <span><%=d.parentsID %></span> -->
                  </div> 
                </dd> </a> 
              </dl> 
            </div> 
            <% } %>
            <% }) %>
          </div> 
          </div> 
          <!-- Add Pagination --> 
          <div class="swiper-pagination"></div> 
        </div> 
    
       
        </div> 
        <div class="swiper-pagination fs_home_nav_pagination swiper-pagination-clickable swiper-pagination-bullets">
          <span class="swiper-pagination-bullet"></span>
          <span class="swiper-pagination-bullet"></span>
          <span class="swiper-pagination-bullet"></span>
          <span class="swiper-pagination-bullet"></span>
          <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
          <span class="swiper-pagination-bullet"></span>
          <span class="swiper-pagination-bullet"></span>
          <span class="swiper-pagination-bullet"></span>
        </div> 
        <div class="swiper-button-next fs_home_nav_next iconfont icon">
        
        </div> 
        <div class="swiper-button-prev fs_home_nav_prev iconfont icon">
        
        </div> 
      </div> 
      </div> 
    </div>
      <footer class="page-footer">
        <div class="footer content" style="padding-top:20px;">


<!-- <script type="text/x-magento-init">
{ "*": { "slickCarousel": {} } }
</script> -->


          <div class="widget block block-static-block siteInfo">
            <p style="text-align: left;">
              &nbsp;
            </p>
            <h1 style="text-align: justify;position: relative; bottom:16px;">
				<span style="font-size: large;">
					<strong>
						Yogel is China's Leading Direct to Public, Wholesaler and Retailer
						of Cabling, Server Racks and IT Management Accessories
					</strong>
				</span>
            </h1>
            <p>
				<span id="docs-internal-guid-58e89e5c-7fff-a4e2-0145-88be8a4bb9d4">
					Yogel is the leading direct to consumer manufacturer, wholesaler and
					retailer of cabling,
					<a href="#" target="_blank"
                       rel="noopener">
						electrical accessories
					</a>
					and server racks in China
				</span>
              . We specialise in
              <a href="#"
                 target="_self">
                copper cables
              </a>
              , network cables,&nbsp;
              <a href="#" target="_self">
                fibre leads and accessories
              </a>
              ,
              <a href="#"
                 target="_self">
                network server rack equipment
              </a>
              , data and other electrical cabling products. For the most complete selection
              of the best ethernet cables and other computer cables online, you’ve definitely
              come to the right place.
            </p>
            <div style="margin-top:10px;">
              Since we started in 2001, our objective has always been to better serve
              those who work in the cabling industry. Yogel have changed the cabling
              market by breaking the mould of the traditional distribution network. Whilst
              Yogel was born as an online business, we have grown exponentially into
              a disruptive omnichannel business serving more than 100,000 happy customers.
            </div>
            <p style="margin-top:10px;">
              Yogel is committed to providing you with the highest quality
              cabling products. We have an on-site
              <a href="#"
                 target="_blank" rel="noopener">
                Fibre Termination Facility
              </a>
              in China. The Fibre Termination Facility has a dedicated cleanroom fitted
              with state of the art fibre termination and fibre testing capabilities.
            </p>
            <p>
              <div style="margin-top:10px;"><span id="docs-internal-guid-2214dc59-7fff-19f7-5b46-1697652828c7">
                Yogel is a multi-award winning organisation as one of the fastest-growing companies in China. We focus
                on providing superior customer service, personal touch and expert sales
                staff who are passionate about the products they sell.
              </span></div>
	
            </p>
            <p>
				<span style="color: #000000; text-decoration: underline;">
					<span style="text-decoration: underline;">
						<a id="displayText">
						</a>
					</span>
				</span>
            </p>

          </div>
          <div class="widget block block-static-block siteInfo-banel">
            <div class="container">
              <div class="home-trade-section row">
                <div class="infs">
                  <div class="selling-point-img"><img src="images/trade-buyer.png" alt=""></div>

                  <div class="selling-point">
							<span style="font-size: 12px;">
								<span style="font-size: 14px;">
									<strong class="tit-a">
										Trade Buyers
									</strong>
								</span><br />
								Join our Trade Program for exclusive discounts on our large range of products.
								Members also receive many other features &amp; benefits.
							</span>
                  </div>
                </div>
                <div class="infs">
                  <div class="selling-point-img"><img src="images/sare.png" alt=""></div>
                  <div class="selling-point">
							<span style="font-size: 12px;">
								<span style="font-size: 14px;">
									<strong class="tit-a">
										The Yogel Difference?
									</strong><br />
								</span>
								When you purchase from Yogel you buy quality products at very competitive
								prices. We pride ourselves in providing the best customer service and support.
							</span>
                  </div>
                </div>
                <div class="infs">
                  <div class="selling-point-img"><img src="images/warehouse.png" alt=""></div>
                  <div class="selling-point">
							<span style="font-size: 12px;">
								<span style="font-size: 14px;">
									<strong class="tit-a">
										Warehouse &amp; Shipping
									</strong><br />
								</span>
                <div>Yogel holds a huge amount of stock ready for picking in warehouses
                  across China. 97% of the 100s of orders we process daily are picked
                  and shipped on the same day.</div>
				
							</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="quoteArea">
          <h2 style="margin-top:15px;margin-bottom:15px;">Ask for Quote</h2>
          <div>
            <label for="form-field-name" class="elementor-field-label">
              Your Name
            </label><br />
            <input type="text" id="quote_user_name" class="quoteinput tagsinput">
          </div>
          <div>
            <label for="form-field-email" class="elementor-field-label">
              Email Address
            </label><br />

            <input type="text" id="quote_user_mail" class="quoteinput tagsinput" name="tagsinput"  data-role="tagsinput" value="" placeholder="enter mails">

<!--            <div class="box">-->
<!--              <h1 style="text-align: center;margin: 20px 0;margin-top: 200px;">提取faltUI中的标签input</h1>-->
<!--              <div class="tagsinput-primary form-group">-->
<!--                <input name="tagsinput" id="tagsinputval" class="tagsinput" data-role="tagsinput" value="faltui,这是一个标签" placeholder="输入后回车">-->
<!--                <button class="btn" onClick="getinput()">获取输入的值</button>-->
<!--              </div>-->
<!--            </div>-->
          </div>
          <div>
            <label for="form-field-message" class="elementor-field-label">
              Your Message Here...
            </label><br />
            <textarea id="quote_contents" class="quotetext">
		</textarea>
          </div>
          <div>
            <button type="submit" id="askQuote" class="elementor-button elementor-size-sm"
                    style="background-color: #333399; border:solid 1px #333399;height:42px;">
			<span class="elementor-button-text contact-quote">
				Contact Us Today
			</span>
            </button>
          </div>
        </div>


      </footer>

      <script type="text/javascript">
        function getinput(){
          alert($('#quote_user_mail').val());
        }
      </script>

      <script type="text/javascript">
    //产品滑动
    var fs_home_nav_content_li_swiper;
    var fs_home_nav_content_ul_swiper;
    if ($(window).width() < 960) {
        fs_home_nav_content_li_swiper = new Swiper('.fs_home_nav_ul_overflow .swiper-container', {
            paginationClickable: true,
            spaceBetween: 40,
            slidesPerView: 'auto',
            breakpoints: {
                960: {
                    spaceBetween: 0,
                },
                640: {
                    spaceBetween: 28,
                }
            }
        });
        // fs_home_swiper('.fs_home_nav_content_li.active .swiper-container','.fs_home_nav_content_li.active .swiper-pagination');
    }

    if ($(window).width() > 960) {
        fs_home_nav_content_ul_swiper = new Swiper('.fs_home_nav_content_ul.swiper-container', {
            paginationClickable: true,
            spaceBetween: 40,
            slidesPerView: 'auto',
            pagination: '.fs_home_nav_content_ul .fs_home_nav_pagination',
            nextButton: '.fs_home_nav_next ',
            prevButton: '.fs_home_nav_prev',
            onlyExternal: true,
            preventClicks: false,
            loop: true,
            onSlideChangeStart: function (swiper) {
                var index = $('.fs_home_nav_content_li.swiper-slide-active').index() - $('.fs_home_nav_ul_overflow').find('.swiper-slide').length;
                if (index > ($('.fs_home_nav_ul_overflow').find('.swiper-slide').length - 1)) {
                    index = 0;
                }


                $('.fs_home_nav_ul_overflow').find('.swiper-slide').eq(index).addClass('active').siblings('.swiper-slide').removeClass('active');
                var swiper_index = $('.fs_home_nav_ul_overflow').find('.swiper-slide').eq(index);
                var slide_width = (swiper_index.width() - 40) / 2;
                var slide_left = (swiper_index.offset().left - $('.fs_home_nav_shadow').offset().left + slide_width) + 'px';
                $('.home_compati').css('left', slide_left);
            }
        });
    }


    if ($(window).width() > 960) {
        var index_0 = $('.fs_home_nav_ul_overflow .swiper-slide').eq(0);
        var slide_width = (index_0.width() - 40) / 2;
        var slide_left = (index_0.offset().left - $('.fs_home_nav_shadow').offset().left + slide_width) + 'px';
        $('.home_compati').css('left', slide_left);
    }


    var timer;
    var settime = 0;
    $('.fs_home_nav_ul_overflow .swiper-slide').hover(function () {
        if ($(window).width() > 960) {
            settime = 300;
        }
        timer = setTimeout(() => {
            var index = $(this).index();
            var swiper_index = index + $('.fs_home_nav_ul_overflow .swiper-slide').length;
            $(this).addClass('active').siblings('.swiper-slide').removeClass('active');
            var width = ($(this).width() - 40) / 2;
            var left = ($(this).offset().left - $('.fs_home_nav_shadow').offset().left + width) + 'px';
            $('.home_compati').css('left', left);
            resetBackImg();
            $('.fs_home_nav_content_ul .fs_home_nav_content_li').eq(index).addClass('active').siblings('.fs_home_nav_content_li').removeClass('active');


            if ($(window).width() > 960) {
                fs_home_nav_content_ul_swiper.slideTo(swiper_index, 300, false);
            }


            if ($(window).width() < 960) {
                fs_home_nav_content_li_swiper.slideTo(index, 300, false);

            }
        }, settime);
    }, function () {
        clearTimeout(timer)
    })

    if ($(window).width() < 960) {
        $('.fs_home_nav_ul_overflow .swiper-slide').click(function () {
            var index = $(this).index();
            var fs_home_nav_content_li_top = $('.fs_home_nav_content_wrapper .fs_home_nav_content_li').eq(index).offset().top - $('.header_top').height() - $('.fs_home_nav_shadow').height() - 16 + 'px';
            $('html , body').animate({scrollTop: fs_home_nav_content_li_top}, 300);
        })
        $(window).scroll(function () {
            var topp = $(document).scrollTop();
            $('.fs_home_nav_content_li').each(function () {
                var thistop = $(this).offset().top - $('.header_top').height() - $('.fs_home_nav_shadow').height() - 18;
                if (topp >= thistop) {
                    var this_index = $(this).index();
                    fs_home_nav_content_li_swiper.slideTo(this_index, 300, false);
                    $('.fs_home_nav_ul_overflow .swiper-slide').eq(this_index).addClass('active').siblings('.swiper-slide').removeClass('active');

                }
            })
        })
    }




    $(function () {
        if ($('#agree_cookie_div').length > 1) {
            var cookie_height = $('#agree_cookie_div').height() + 'px';
            $('.fs_public_footer').css('padding-bottom', cookie_height);
        }
    })



    function resetBackImg() {
        $('.fs_home_nav_ul li').each(function (e, o) {
            var img = $(o).attr('img');
            $(o).find('i').css("background-image", "url(" + img + ")");
        })
    }


    function fs_home_swiper(a, b) {
        var fs_home_nav_content_li_swiper = new Swiper(a, {
            pagination: b,
            paginationClickable: true,
            spaceBetween: 16,
            slidesPerView: 3,
            slidesPerColumn: 2,
            slidesPerGroup: 3,
            observer: true, //修改swiper自己或子元素时，自动初始化swiper
            observeParents: true, //修改swiper的父元素时，自动初始化swiper
            breakpoints: {
                640: {
                    slidesPerView: 2,
                    slidesPerGroup: 2,
                }
            }
        });
    }
</script> 
    <!--  video play  --> 

    <div class="ccc"></div> 
    </div> 
    <div class="ccc"></div> 
  </div>
  <div style="margin-top:20p; height:20px;"></div>
  <%- include('partials/footer.ejs') %>




  <script type="text/javascript" src="javascripts/sweetalert2.min.js"></script>
  <script type="text/javascript" src="javascripts/jquery.validate.js"></script>
  <script type="text/javascript" src="javascripts/jquery.validate.myadd.js"></script>
  <script type="text/javascript" src="javascripts/index.js"></script>
  <script type="text/javascript" src="javascripts/product_list.js"></script>
  <script type="text/javascript" src="javascripts/currencyFormatter.min.js"></script>
  <script type="text/javascript" src="javascripts/footer.js"></script>
  <!--footer.js afftects header menu-->

  <script type="text/javascript">
    
    $('#feedback_window .pro_new_select01_wap').click(function () {
        if($(this).hasClass('active')){
            $(this).removeClass('active').find('.pro_new_select01_x').slideUp();
        }else{
            $(this).addClass('active').find('.pro_new_select01_x').slideDown();
        }
        //$('#feedback_window .pro_new_select01_x').slideToggle();
    })
    var choose_one = $(".pro_new_select01_span").html();
    $(".pro_new_select01_x ul li").click(function () {
        $("#feedback_topic").val($(this).attr('data'));
        $(".pro_new_select01_span").addClass('active').html($(this).html());
        $("#topic_erro").hide();
        $(this).closest('.pro_new_select01_wap').removeClass('active');
        $('.pro_new_select01_x').slideUp();
        event.stopPropagation();
    });
    $(document).click(function (e) {
        var target = $(e.target);
        if (target.closest('.pro_new_select01_wap').length < 1) {
            $('.pro_new_select01_x').slideUp();
            $('.pro_new_select01').removeClass('show');
            $('.pro_new_select01_wap').removeClass('active');
        }
    });
</script> 

<script>
	(function(){

let winbox;

window.examples = {

	"basic": function(){

		new WinBox("Basic Window");
	},
	"root": function(){

		new WinBox("Custom Root", {

			root: document.body
		});
	},
	"border": function(){

		new WinBox("Custom Border", {

			border: "0.3em"
		});
	},
	"color": function(){

		new WinBox({

			title: "Custom Color",
			background: "#ff005d",
			border: 4
		});
	},
	"viewport": function(){

		new WinBox("Limit Viewport", {

			top: 50,
			right: 50,
			bottom: 0,
			left: 50
		});
	},
	"splitscreen": function(){

		new WinBox("Splitscreen (Left)", {

			right: "50%",
			max: true
		});

		new WinBox("Splitscreen (Right)", {

			x: "100%",
			left: "50%",
			max: true
		});
	},
	"position": function(){

		new WinBox({

			title: "Custom Position / Size",
			x: "center",
			y: "center",
			width: "50%",
			height: "50%"
		});
	},
	"modal": function(){

		new WinBox("Modal Window", {

			modal: true
		});
	},
	"innerhtml": function(){

		new WinBox({

			title: "Set innerHTML",
			html: "<h1>Lorem Ipsum</h1>"
		});
	},
	"mount-clone": function(){

		new WinBox("Mount DOM", {

			mount: document.getElementById("content")
						   .cloneNode(true)
		});
	},
	"mount-auto": function(){

		new WinBox("Mount DOM", {

			mount: document.getElementById("content")
		});
	},
	"iframe": function(){

		new WinBox("WinBox.js", {

			url: "https://nextapps-de.github.io/winbox/",
			class: "iframe"
		});
	},
	"all-options": function(){

		new WinBox({

			id: "my-window",
			class: ["no-full", "my-theme"],
			root: document.body,
			title: "All Options",
			background: "#fff",
			border: 4,
			index: 50,
			width: 200,
			height: 200,
			minheight: 100,
			minwidth: 100,
			x: "center",
			y: "center",
			max: false,
			splitscreen: true,
			top: 50,
			right: 50,
			bottom: 0,
			left: 50,
			html: "width: 200, height: 200",
			onfocus: function(){
				this.setBackground("#fff");
			},
			onblur: function(){
				this.setBackground("#999");
			},
			onresize: function(width, height){
				this.body.textContent = (
					"width: " + width + ", " +
					"height: " + height
				);
			},
			onmove: function(x, y){
				this.body.textContent = (
					"x: " + x + ", " +
					"y: " + y
				);
			},
			onclose: function(force){
				return !confirm("Close window?");
			}
		});
	},
	"custom-css": function(){

		new WinBox("Custom CSS", {

			class: "custom",
			mount: document.getElementById("content")
						   .cloneNode(true)
		});
	},
	"custom-class": function(){

		new WinBox("Custom CSS (Class)", {

			class: "my-theme",
			mount: document.getElementById("content")
						   .cloneNode(true)
		});
	},
	"theme-modern": function(){

		new WinBox("Yogel:", {

			class: "modern",
			mount: document.getElementById("content")
						   .cloneNode(true)
		});
	},
	"controls": function(){

		winbox = new WinBox("Controls", {

			mount: document.getElementById("controls"),
			border: 4,
			onclose: function(force){
				return !force && !confirm("Close window?");
			}
		});
	}
};

window.buttons = {

	minimize: function(){

		winbox.minimize();
	},
	maximize: function(){

		winbox.maximize();
	},
	fullscreen: function(){

		winbox.fullscreen();
	},
	center: function(){

		winbox.move("center", "center");
	},
	move: function(){

		winbox.move("right", "bottom");
	},
	resize: function(){

		winbox.resize("50%", "50%");
	},
	title: function(){

		winbox.setTitle("Title-" + Math.random());
	},
	color: function(){

		winbox.setBackground(
			"rgb(" + (Math.random() * 255 | 0) + "," +
					 (Math.random() * 255 | 0) + "," +
					 (Math.random() * 255 | 0) + ")"
		);
	},
	modal: function(){

		winbox.body.parentNode.classList.toggle("modal");
	},
	add: function(){

		winbox.addClass("my-theme");
	},
	remove: function(){

		winbox.removeClass("my-theme");
	},
	close: function(){

		winbox.close();
	},
	force_close: function () {

		winbox.close(true);
	}
};

}());

// hljs.highlightAll();
</script>
  <div id="qds" style="display:none;"></div>
  <div id="backstore" style="display: none;height: auto;">
    <div id="content" style="height: auto;">
          <div style="color:#000" id="pop"></div>
      
    </div>
  </div>
  <script type="text/javascript"  src="javascripts/winbox.min.js"></script>
  <script src="../javascripts/popwindow/highlight.min.js"></script>
  <script src="../javascripts/popwindow/fixpopwindow.js"></script>
  <!--pop window-->
  <link rel="stylesheet" href="../stylesheets/railscasts.min.css" />
  <link rel="stylesheet" href="../stylesheets/winbox.min.css" />
  <link rel="stylesheet" href="../stylesheets/modern.min.css" />
  <link rel="stylesheet" href="../stylesheets/white.min.css" />
  <link rel="stylesheet" href="../stylesheets/pop.css" />
  <!--pop window-->



  <!-- <script>
    $(document).ready(function(){
      
    });
  </script> -->

<style>
  /*--------------------
Mixins
--------------------*/

@mixin center {
  position: relative;
/*  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}

@mixin ball {
  @include center;
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
/*  background: rgba(255, 255, 255, .5);*/
  background:#888;
  z-index: 2;
  margin-top: 4px;
  animation: ball .45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
}


/*--------------------
Body
--------------------*/



html,
body {
  height: 100%;
}

body {

}

.bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  /* background: url('https://images.unsplash.com/photo-1451186859696-371d9477be93?crop=entropy&fit=crop&fm=jpg&h=975&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925') no-repeat 0 0;*/
  filter: blur(80px);
  transform: scale(1.2);
 background: #fff;
}


/*--------------------
Chat
--------------------*/

.chat {
  @include center;
  width: 100%;
  height: calc(100% - 15px);
  max-height: 500px;
  z-index: 10;
  overflow: hidden;
  /*box-shadow: 0 5px 30px rgba(0, 0, 0, .2);*/
  /* background: rgba(0, 0, 0, .5);*/
  background: transparent;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


/*--------------------
Chat Title
--------------------*/

.chat-title {
  flex: 0 1 45px;
  position: relative;
  z-index: 2;
  width:100%;
  border-bottom:1px solid #ccc;
  color: #777;
  padding-top:50px;
  padding-bottom:5px;
  background-color:#fff;
  text-transform: uppercase;
  text-align: center;



}


/*--------------------
Messages
--------------------*/

.messages {
  flex: 1 1 auto;
  /*  color: rgba(255, 255, 255, .5);
  color: #fff;*/
  overflow: hidden;
  position: relative;
  width: 100%;

}
  


/*--------------------
Message Box
--------------------*/

.message-box {
  flex: 0 1 42px;
  width: 90%;
  background: #fff; 
  margin:2px auto;
/*-webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);
box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);*/
  /*background: rgba(0, 0, 0, 0.3);
    border-top:1px solid #e3e3e3;*/
  padding: 10px;
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; 
  height:14px;
  border:1px solid #ccc;

}


/*--------------------
Custom Srollbar
--------------------*/

.mCSB_scrollTools {
  margin: 1px -3px 1px 0;
  opacity: 0;
}

.mCSB_inside > .mCSB_container {
  margin-right: 0px;
  padding: 0 10px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.5)!important;
}


/*--------------------
Bounce
--------------------*/

@keyframes bounce {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

@keyframes ball {
  from {
    transform: translateY(0) scaleY(.8);
  }
  to {
    transform: translateY(-10px);
  }
}


.avenue-messenger {  
    opacity: 1;
    -webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
    height: calc(100% - 60px)!important;
  max-height:460px!important;
  min-height:220px!important;
    width: 320px;
  /*  transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
  */
    background: rgba(255, 255, 255, 0.9);
      position: fixed;
  right: 20px;
    bottom: 20px;
    margin: auto;
    z-index: 10;
    box-shadow: 2px 10px 40px rgba(22,20,19,0.4);
  /*  transform: translateX(300px);*/
    -webkit-transition: 0.3s all ease-out 0.1s, transform 0.2s ease-in;
    -moz-transition: 0.3s all ease-out 0.1s, transform 0.2s ease-in;
  
}

.avenue-messenger div.agent-face {
    position: absolute;
    left: 0;
    top: -50px;
    right: 0;
    margin: auto;
    width: 101px;
    height: 50px;
    background: transparent;
  z-index:12;
    

}


.avenue-messenger div {
    font-size: 14px;
    color:#232323;
}


.close {
  display: block;
  width: 100px;
  height: 100px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em; opacity: 0.5;
  /*border: 1px solid #ccc;
  color:#ccc;*/
/* -webkit-box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.5);
-moz-box-shadow:    0px -1px 2px 0px rgba(0, 0, 0, 0.5);
box-shadow:         0px -1px 2px 0px rgba(0, 0, 0, 0.5);*/
}
.close:hover {/*
-webkit-box-shadow:  0 1px 1px rgba(0,0,0,0.3);
-moz-box-shadow:  0 1px 1px rgba(0,0,0,0.3);
box-shadow: 0 1px 1px rgba(0,0,0,0.3);*/
  opacity:0.9;
}

.circle {
  display: block;
  width: 80px;
  height: 80px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 2px solid #fff; /*#4A90E2;*/
 /* -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
box-shadow: 0px 0px 10px rgba(0,0,0,.8);*/

}

.contact-icon .circle:hover{
 box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  transition:0.2s all ease-out 0.2s;
  -webkit-transition:0.2s all ease-out 0.2s;
  -moz-transition:0.2s all ease-out 0.2s;
}


.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #fff;
    border-width: 5px;
    margin-top: -5px;
}
.arrow_box {
    position: relative;
    background: #fff;
    border: 1px solid #4A90E2;
}
.arrow_box:after, .arrow_box:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}


.menu div.items {
/*  height: 140px;
  width: 180px;
  overflow: hidden;
  position: absolute;
  left: -130px;
  z-index: 2;
  top: 20px;*/
}

.menu .items span {
    color: #111;
  z-index:12;
    font-size: 14px;
    text-align: center;
    position: absolute;
    right: 0;
  top:40px;
    height: 86px;
    line-height: 40px;
    background: #fff;
    border-left:1px solid #ccc; 
  border-bottom:1px solid #ccc;
  border-right:1px solid #ccc;
    width: 48px;
    opacity: 0;
   border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
}

.menu .button {
    font-size: 30px;
    
    z-index:12;
    text-align: right;
    color: #333;
    content: "...";
    display: block;
    width: 48px;
    line-height: 25px;
    height: 40px;
    border-top-right-radius: 20px;
/*  border-top-left-radius:20px;*/
    position: absolute;
    right: 0;
  padding-right:10px;
  cursor: pointer;
  transition: .3s all ease-in-out;
  -webkit-transition: .3s all ease-in-out;
  -moz-transition: .3s all ease-in-out;
}
.menu .button.active {background: #ccc;}
/*
.menu .button:hover .menu .items span {
  display: block;
  left: -2px;
  opacity: 1;
}*/

.menu .items span.active {
  opacity:1;
  /*border-radius:10px;
  height: 180px;
  width: 400px;
  transform:translateY(0);
  -webkit-transform:translateY(0);
  -moz-transform:translateY(0);*/
}

.menu .items a {color:#111; text-decoration:none;}
.menu .items a:hover{color:#777}



@media only screen and (max-device-width: 667px), screen and (max-width: 450px) {
.avenue-messenger {
    z-index: 2147483001!important;
    width: 100%!important;
    height: 100%!important;
    max-height: none!important;
    top: 0!important;
    left: 0!important;
    right: 0!important;
    bottom: 0!important;
  -webkit-border-radius: 0!important;
-moz-border-radius: 0!important;
border-radius: 0!important;
  background:#fff;
}
  .avenue-messenger div.agent-face {
    top:-10px!important;
   /* left:initial !important;*/
  }
  .chat {-webkit-border-radius: 0!important;
-moz-border-radius: 0!important;
border-radius: 0!important;
  max-height:initial!important;}
  
  .chat-title {  
    padding:20px 20px 15px 10px!important;
    text-align:left;
    
  }
  .circle {
    width:80px; 
    height:80px;
    border:1px solid #fff;
  }
  .menu .button {
    border-top-right-radius:0;
  }
}

@media only screen and (min-device-width: 667px) {
div.half {

  margin: auto;
  width: 80px;
    height: 40px;
    background-color: #fff;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  
    border-bottom: 0;
  box-shadow:1px 4px 20px rgba(22,20,19,0.6);
  -webkit-box-shadow:1px 4px 20px rgba(22,20,19,0.6) ;
  -moz-box-shadow:1px 4px 20px rgba(22,20,19,0.6);
}
}
</style>

  <section class="avenue-messenger" id='indexLivecht' style='display:none;'>
    <div class="menu">
     <div class="items"><span>
       <a href="#" title="Minimize">&mdash;</a><br>
       <a href="#" title="End Chat">&#10005;</a>
       </span></div>
      <div class="button">...</div>
    </div>
    <div class="agent-face">
      <div class="half">
       <img class="agent circle" src="http://askavenue.com/img/17.jpg" alt="Jesse Tino"></div>
    </div>
  <div class="chat">
    <div class="chat-title">
      <h2>YOGEL</h2>
    </div>
    <div class="messages">
      <div class="messages-content"></div>
    </div>
    <div class="message-box">
      <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
      <button type="submit" class="message-submit">Send</button>
    </div>
  </div>
    </div>
  </section>
  
  </body>
</html>
