<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en">
	<head>
		<title>
			Confirm Your Orders
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="x-dns-prefetch-control" content="on" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="author" content="FS" />
		<script type="text/javascript"  src="../javascripts/ec.js"></script>
		<script type="text/javascript"  src="../javascripts/jquery-3.5.1.min.js"></script>
		<script type="text/javascript"  src="../javascripts/js_cdn.js"></script>
		<script type="text/javascript"  src="../javascripts/header.js"></script>
		<script type="text/javascript"  src="javascripts/utility_fte.js"></script>
	
		<script type="text/javascript"  src="javascripts/vue.pro.js"></script>
		<script type="text/javascript"  src="javascripts/layer_renamed.js"></script>
		<script type="text/javascript"  src="javascripts/checkout_dev.js"></script>
		<script type="text/javascript"  src="javascripts/component.js"></script>
		<script type="text/javascript"  src="javascripts/rsa.js"></script>
		<script type="text/javascript"  src="javascripts/rng.js"></script>
		<script type="text/javascript"  src="javascripts/checkVat.js"></script>

        <script type="text/javascript"  src="javascripts/stripe_checkout.js" defer></script>
	
	</head>

	<link rel="shortcut icon" href="../images/logo_vudj.png" type="image/x-icon" /> 
	
	<link rel="stylesheet" href="../stylesheets/iconfont.css" />
	<link rel="stylesheet" href="../stylesheets/public.css" />
	<link rel="stylesheet" href="../stylesheets/checkout_new.css" />
    <link rel="stylesheet" href="../stylesheets/checkout.css" />

    <link rel="stylesheet" href="../stylesheets/backstage.css" />
	<link rel="stylesheet" href="../stylesheets/layer.css" />
    <link rel="stylesheet" href="../stylesheets/choose_time.css" />
    <link href="https://assets.pay2.secured-by-ingenico.com/templates/generic/responsive/wro/html-header.css?hash=0fc06ee328a53f11cf8b1520dc4f772cd3df1e45"
    rel="stylesheet" type="text/css">

<script>
$(document).ready(function(){

    utility_fte.initHeaderBav();
})
</script>

<script>
 
 
</script>
<style>
    span.cart{
        padding: 0 !important;
        min-height:auto!important;
    }
</style>
</head>


	<!--top-->
	<%- include('partials/top.ejs') %>

	<!-- 导航、搜索 -->
	<%- include('partials/header.ejs') %>

<body id="checkoutglobalcollectbillingBody" data-new-gr-c-s-check-loaded="14.1018.0"
data-gr-ext-installed="" rlt="1" style="" inmaintabuse="true">


	<header class="checkout-header">
		<div class="checkout-header-main">
			<div class="checkout-header-main-logo">
				<a href="/">
				</a>
				<h2 class="checkout-header-main-logo-tit">
					Order Payment
				</h2>
			</div>
			<div class="checkout-header-main-right after">
				<div class="checkout-header-main-right-line line01 already">
				</div>
				<div class="checkout-header-main-right-line line02 already">
				</div>
				<div class="checkout-header-main-right-dot already dot01">
					<div class="checkout-header-dot icon iconfont">
						
					</div>
					<p>
						Cart
					</p>
				</div>
				<div class="checkout-header-main-right-dot already dot02">
					<div class="checkout-header-dot icon iconfont">
						
					</div>
					<p>
						Confirm Order
					</p>
				</div>
				<div class="checkout-header-main-right-dot ing dot03">
					<div class="checkout-header-dot">
						3
					</div>
					<p>
						Order Payment
					</p>
				</div>
			</div>
		</div>
	</header>
	<div class="checkout_Npro_Bwrapp checkout_payment_against">
		<div class="checkout_Npro_Bcontent">
			<div class="checkout_Npro_main">
				<div class="checkout_Npro_mLeft">
					<div class="checkout_Npro_Bli">
						<dl class="checkout_Npro_BliM">
							<dt class="checkout_Npro_theAddress">
								Credit/Debit Card Payment Center
								<!-- <span class="checkout_Npro_changeBtn choosez" id="checkout_Npro_changeBtn1"
								style="display: none;">Change</span> -->
								<!-- 提示语 -->
								<div>
									<div class="checkout_Npro_promptBox01">
									</div>
								</div>
							</dt>
							<div class="checkout_Npro_theContxt_1 flex">
								<p class="checkout_Npro_theContxt_2 iconfont icon">
									
								</p>
								<div class="checkout_Npro_theContxt_1_alltext">
									<p class="checkout_Npro_theContxt1_new">
										Please complete payment within 2 business days. Otherwise, the order will
										be cancelled automatically due to the inventory change of items.
									</p>
								</div>
							</div>
							<dd class="checkout_Npro_theCont public_position">
								<ul>
									<li class="checkout_Npro_theContLi1 pointerNone">
										<div class="checkout_Npro_pad2">
											<!--获取线上信用卡支付代码-->
											<div class="pay_error error error_info">
											</div>
											
												<div class="checkout_Npro_useAddre choosez">
													<input type="hidden" name="is_use" class="is_use" value="1">
													<span class="checkout_Npro_theContxt2">
														Billing Address
														<div class="track_orders_wenhao m_track_orders_wenhao m-track-alert">
															<div class="question_bg_icon question_bg_grayIcon iconfont icon">
																
															</div>
															<div class="new_m_bg1">
															</div>
															<div class="new_m_bg_wap">
																<div class="question_text_01 leftjt">
																	<a href="javascript:;" class="bubble_popup_close_a m_960_close new_m_icon_Close">
																		<i class="iconfont icon">
																		</i>
																	</a>
																	<div class="arrow">
																	</div>
																	<div class="popover-content">
																		Please make sure the billing address above matches what appears on this
																		credit card's statements.
																	</div>
																</div>
															</div>
														</div>
													</span>
													<!-- <div class="checkout_Npro_priceLiL tax_color2 payMent_addAddress" onclick="show_billing_form(this)">
														<i class="icon iconfont">
															
														</i>
														<span>
															Edit
														</span>
													</div> -->
												</div>
												<div class="checkout_Npro_btnBox2  billBox" >
													<div class="bill_list bill_ist_pore" style="display:block">
														<p class="checkout_Npro_selectBilling blling_name">
															<%=order_information.shippingAddress.shippingAdd_name%>
														</p>
														<p class="checkout_Npro_selectBilling billing_company_name">
															
														</p>
														<p class="checkout_Npro_selectBilling billing_address_info">
															<span><%=order_information.shippingAddress.shippingAdd_entry_street_address%></span>
                                                            <span><%=order_information.shippingAddress.shippingAdd_entry_city%></span>
                                                            <span><%=order_information.shippingAddress.shippingAdd_entry_state%></span>
														</p>
														<p class="checkout_Npro_selectBilling blling_telephone">
															<%=order_information.shippingAddress.entry_telephone%>
														</p>
														<p class="checkout_Npro_selectBilling blling_tax_number">
                                                            <%=order_information.shippingAddress.shippingAdd_entry_postcode%>
														</p>
													</div>
												</div>
												<p class="checkout_Npro_border">
												</p>
												<p class="checkout_Npro_theContxt4 checkout_Npro_theContxt2 checkout_Npro_theContxt2_bottom">
													Select Credit/Debit Card:
													<span>
														<i class="iconfont icon">
															
														</i>
														Secure and Encrypted
													</span>
												</p>
												<p class="checkout_txt">
													* Your data will only be used to process this order and will not be saved
													by Yogel .
												</p>
												<div class="new17check_payment_st_con checkout_Npro_st_con">
													<div class="checkout_Npro_theContLi2 choosez" onclick="getHost(this)">
														<span class="iconfont icon">
															
														</span>
														<img src="images/svg/Credit-01.svg"
														alt="">
														<input type="hidden" name="RadioGroup1" value="1" id="RadioGroup1_0" data-type="1">
													</div>
													<div class="checkout_Npro_theContLi2" onclick="getHost(this)">
														<span class="iconfont icon">
															
														</span>
														<img src="images/svg/Credit-06.svg"
														alt="">
														<input type="hidden" name="RadioGroup1" value="2" id="RadioGroup1_5" data-type="2">
													</div>
													<div class="checkout_Npro_theContLi2" onclick="getHost(this)">
														<span class="iconfont icon">
															
														</span>
														<img src="images/svg/Credit-03.svg"
														alt="">
														<input type="hidden" name="RadioGroup1" value="3" id="RadioGroup1_2" data-type="3">
													</div>
													<div class="checkout_Npro_theContLi2" onclick="getHost(this)">
														<span class="iconfont icon">
															
														</span>
														<img src="images/svg/Credit-02.svg"
														alt="">
														<input type="hidden" name="RadioGroup1" value="114" id="RadioGroup1_1"
														data-type="114">
													</div>
													<div class="checkout_Npro_theContLi2" onclick="getHost(this)">
														<span class="iconfont icon">
															
														</span>
														<img src="images/svg/Credit-04.svg"
														alt="">
														<input type="hidden" name="RadioGroup1" value="119" id="RadioGroup1_3"
														data-type="119">
													</div>
													<div class="checkout_Npro_theContLi2" onclick="getHost(this)">
														<span class="iconfont icon">
															
														</span>
														<img src="images/svg/Credit-05.svg"
														alt="">
														<input type="hidden" name="RadioGroup1" value="122" id="RadioGroup1_4"
														data-type="122">
													</div>
													<div class="checkout_Npro_theContLi2" onclick="getHost(this)">
														<span class="iconfont icon">
															
														</span>
														<img src="images/svg/Credit-07.svg"
														alt="">
														<input type="hidden" name="RadioGroup1" value="125" id="RadioGroup1_7"
														data-type="125">
													</div>
													<div class="checkout_Npro_theContLi2" onclick="getHost(this)">
														<span class="iconfont icon">
															
														</span>
														<img src="images/svg/Credit-08.svg"
														alt="">
														<input type="hidden" name="RadioGroup1" value="128" id="RadioGroup1_8"
														data-type="128">
													</div>
													<div class="checkout_Npro_theContLi2" onclick="getHost(this)">
														<span class="iconfont icon">
															
														</span>
														<img src="images/svg/Credit-09.svg"
														alt="">
														<input type="hidden" name="RadioGroup1" value="132" id="RadioGroup1_9"
														data-type="132">
													</div>
													<div class="error_prompt" style="display: none">
													</div>
												</div>
										


                                           
                                               
                                                 
                                                    
                                                        <div id="content">
                                                            <main id="main" class="container">
                                                                <div class="row">
                                                                    <div class="col-md-24">
                                                                        <div id="paymentoptionswrapper" class="paymentoptions">
                                                                            <div class="par">
                                                                                <p class="securePayment pull-right" id="securePaymentblockwrapper">
                                                                                    <i class="icon-lock">
                                                                                    </i>
                                                                                    <span id="securePaymentblock">
                                                                                        Secure payment
                                                                                    </span>
                                                                                </p>
                                                                                <div class="clearfix">
                                                                                </div>
                                                                            </div>
                                                                            <form id="paymentoptionForm" method="post" class="validatedForm" novalidate="novalidate"
                                                                            action="/payment">
                                                                   
                                                                    
                                                                            </script>
                                                                                <input type="hidden" value="6504" name="publicMerchantId">
                                                                                <input type="hidden" value="109" name="variantCode">
                                                                                <input type="hidden" value="en_GB" name="locale">
                                                                                <input type="hidden" value="d4f85fff-1e86-432b-a561-206605a18524" name="idempotenceKey">
                                                                                <input type="hidden" value="6504-7a485177ef2a44d99148cd0e72e752b6:39b1345c-6325-404d-926e-c37ee600812b:38fdcdf9a295484ca035269353cd67df"
                                                                                name="token">
                                                                                <input type="hidden" value="fa9cb1ff-72e3-4697-b0f3-29a818f2af38" name="requestToken">
                                                                                <input type="hidden" value="true" name="isPaymentProductDetailsShown">
                                                                                <input type="hidden" value="true" name="jsEnabled">
                                                                                <input type="hidden" id="buttonValue">
                                                                                <input type="hidden" value="132" name="paymentProductId">
                                                                                <input type="hidden" value="false" name="isFramed">
                                                                                <div class="paymentoption">
                                                                                    <input type="hidden" name="colorDepth">
                                                                                    <input type="hidden" name="screenHeight">
                                                                                    <input type="hidden" name="screenWidth">
                                                                                    <input type="hidden" name="timezoneOffsetUtcMinutes">
                                                                                    <input type="hidden" name="browserLocale">
                                                                                    <input type="hidden" name="javaEnabled">
                                                                                    <input type="hidden" name="innerHeight">
                                                                                    <input type="hidden" name="innerWidth">
                                                                                   
                                                                                    <div class="form-group form-group--prefill-editable hasIcon" data-display-order="10">
                                                                                        <label id="label-cardNumber" for="cardNumber" class="hidden-xs hidden-sm">
                                                                                            Card number
                                                                                        </label>
                                                                                        <div class="hasIcon ltr" dir="ltr">
                                                                                            <input name="cardNumber" placeholder="**** **** **** ****" id="cardNumber"
                                                                                            class="form-control cc-num" data-send="true" autocomplete="cc-number" data-rule-allowedincontext="true"
                                                                                            data-fixedpaymentproduct="" type="tel" required="" data-rule-luhn="true"
                                                                                            data-rule-regularexpression="true" data-rule-length="true">
                                                                                            <span class="cc-image">
                                                                                                <img src="/templates/master/global/css/img/ppimages/pp_logo_132_v1.png?size=40x27"
                                                                                                alt="Diners Club">
                                                                                            </span>
                                                                                            <i class="icon-card">
                                                                                            </i>
                                                                                        </div>
                                                                                        <div id="cobrand">
                                                                                            <button type="button" class="toggle-cobrand" aria-toggle="dropdown" aria-haspopup="true"
                                                                                            aria-expanded="false">
                                                                                                Multiple payment options detected.
                                                                                            </button>
                                                                                            <div class="cobrand-wrapper" aria-labelledby="cobrand">
                                                                                                <div class="row">
                                                                                                    <div class="col-xs-20 cobrand-intro-wrapper">
                                                                                                        <p>
                                                                                                            This card has multiple payment options, please choose your preferred option.
                                                                                                        </p>
                                                                                                    </div>
                                                                                                    <div class="col-xs-4 cobrand-close-wrapper">
                                                                                                        <button type="button" class="cobrand-close" aria-label="close">
                                                                                                            <span class="icon-close">
                                                                                                            </span>
                                                                                                        </button>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <ul id="paymentoptionslist">
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                 
                                                                                    <div class="form-group hasIcon expiration" data-display-order="20">
                                                                                        <label id="label-expiryDate" for="expiryDate" class="hidden-xs hidden-sm"
                                                                                        style="height: 19.2px;">
                                                                                            Expiry date
                                                                                        </label>
                                                                                        <div class="hasIcon ltr" dir="ltr">
                                                                                            <input name="expiryDate" placeholder="MM/YY" id="expiryDate" class="form-control cc-exp"
                                                                                            data-send="true" type="tel" required="" data-rule-expirationdate="true"
                                                                                            data-rule-regularexpression="true" data-rule-length="true">
                                                                                            <i class="icon-date">
                                                                                            </i>
                                                                                        </div>
                                                                                    </div>
                                                                                 
                                                                                    <div class="form-group cvv hasIcon" data-display-order="24">
                                                                                        <label id="label-cvv" for="cvv" class="hidden-xs hidden-sm" style="height: 19.2px;">
                                                                                            CVV
                                                                                        </label>
                                                                                        <div class="hasIcon ltr" dir="ltr">
                                                                                            <input name="cvv" placeholder="123" id="cvv" class="form-control cvvinput cc-cvc"
                                                                                            data-send="true" autocomplete="off" type="tel" required="" data-rule-regularexpression="true"
                                                                                            data-rule-length="true">
                                                                                            <i class="icon-lock">
                                                                                            </i>
                                                                                            <span class="tooltip-button-container" tabindex="0">
                                                                                                <button type="button" data-content="<span>Please enter your CVV code as shown in the image</span><img src='https://assets.pay2.secured-by-ingenico.com/templates/master/global/css/img/ppimages/ppf_cvv_v1.png?size=150x92' alt='CVV' style='display: block;' class='cvvImage' />"
                                                                                                id="cvv-popover" data-toggle="popover" class="info-popover show-js" title=""
                                                                                                data-html="true" data-original-title="">
                                                                                                    <i class="icon-qmark">
                                                                                                    </i>
                                                                                                    <span class="sr-only">
                                                                                                        Additional information
                                                                                                    </span>
                                                                                                </button>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                    
                                                                                    <div class="form-group cardholder-name hasIcon" data-display-order="1142">
                                                                                        <label id="label-cardholderName" for="cardholderName" class="hidden-xs hidden-sm">
                                                                                            Cardholder name
                                                                                        </label>
                                                                                        <div class="hasIcon ltr" dir="ltr">
                                                                                            <input name="cardholderName" placeholder="John Doe" id="cardholderName"
                                                                                            class="form-control cc-name" data-send="true" autocomplete="cc-name" type="text"
                                                                                            data-rule-cardholdername="true" data-rule-length="true">
                                                                                            <i class="icon-user">
                                                                                            </i>
                                                                                            <span class="tooltip-button-container" tabindex="0">
                                                                                                <button type="button" data-content="<span>Put in the cardholder name as described on the card, in latin characters.</span>"
                                                                                                id="cardholder-name-popover" data-toggle="popover" class="info-popover show-js"
                                                                                                title="" data-html="true" data-original-title="">
                                                                                                    <i class="icon-qmark">
                                                                                                    </i>
                                                                                                    <span class="sr-only">
                                                                                                        Additional information
                                                                                                    </span>
                                                                                                </button>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                   
                                                                                    <div class="clearfix">
                                                                                    </div>
                                                                                   
                                                                                    <div class="checkbox" id="remembermeBlock">
                                                                                        <label>
                                                                                            <input name="remember" type="checkbox" class="sendInput" id="rememberme">
                                                                                            <span id="remembermeText">
                                                                                                Remember my details for future purchases
                                                                                            </span>
                                                                                        </label>
                                                                                        <span class="tooltip-button-container" tabindex="0">
                                                                                            <button type="button" data-content="If you check this box your payment information will be stored for future purchases."
                                                                                            data-toggle="popover" class="info-popover show-js" title="" data-original-title="">
                                                                                                <i class="icon-qmark">
                                                                                                </i>
                                                                                                <span class="sr-only">
                                                                                                    Additional information
                                                                                                </span>
                                                                                            </button>
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="paymentbuttons" id="paymentButtons">
                                                                                    <button id="primaryButton" class="btn btn-block-rpp btn-primary" type="submit"
                                                                                    name="doPayment" value="doPayment">
                                                                                        <span id="paymentbuttontext">
                                                                                            Pay
                                                                                        </span>
                                                                                    </button>
                                                                         
                                                                                </div>
                                                                                <input name="expiryDateMonth" id="expiryDateMonth" type="text" autocomplete="cc-exp-month"
                                                                                tabindex="-1" aria-labelledby="label-expiryDate" style="opacity: 0; width: 0px; height: 0px; overflow: hidden; pointer-events: none; margin: 0px; padding: 0px; position: absolute;">
                                                                                <input name="expiryDateYear" id="expiryDateYear" type="text" autocomplete="cc-exp-year"
                                                                                tabindex="-1" aria-labelledby="label-expiryDate" style="opacity: 0; width: 0px; height: 0px; overflow: hidden; pointer-events: none; margin: 0px; padding: 0px; position: absolute;">
                                                                            </form>
                                                                        </div>
                                                                        <div class="extra-content">
                                                                            <div id="prefootertext">
                                                                                write here…
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </main>
                                                            <div id="loading">
                                                                <div class="loading-inner">
                                                                    <i class="icon-spinner-1">
                                                                    </i>
                                                                </div>
                                                                <div class="clearfix">
                                                                </div>
                                                                <div class="loading-text">
                                                                    We are processing your payment. Please wait. It may take several seconds
                                                                    to process your payment.
                                                                </div>
                                                            </div>
                                                        </div>
                                                      
                                                        
                                      


                                                
												<div class="ccc">
												</div>
												
									
										</div>
									</li>
								</ul>
								<div class="spinWrap public_bg_wap" style="display: none;">
									<div class="bg_color">
									</div>
									<div id="loader_order_alone" class="loader_order">
										<svg class="circular" viewBox="25 25 50 50">
											<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
											stroke-miterlimit="10">
											</circle>
										</svg>
									</div>
								</div>
							</dd>
						</dl>
					</div>
				</div>
				<div class="checkout_Npro_mRight">
					<div class="checkout_Npro_mRightM" style="position: relative; top: 0px; padding-top: 0px;">
						<h2 class="checkout_Npro_theAddress">
							<span class="checkout_Npro_orderSum">
								Order Summary
							</span>
						</h2>
						<div class="checkout_Npro_pad2">
							<ul class="checkout_Npro_priceList">
								<li class="checkout_Npro_priceLi">
									<div class="checkout_Npro_priceLiL">
										<p class="checkout_Npro_theContxt8">
											Order Date: <%=orderTime%>
										</p>
									</div>
								</li>
							</ul>
							<ul class="checkout_Npro_priceList">
								<li class="checkout_Npro_priceLi1">
									<div class="checkout_Npro_priceLiL">
										<p class="checkout_Npro_theContxt8">
											Order Number
										</p>
									</div>
									<div class="checkout_Npro_priceLiR">
										<p class="checkout_Npro_theContxt8">
											Expected Delivery
										</p>
									</div>
								</li>
								<li class="checkout_Npro_priceLi checkout_Npro_mbt20">
									<!-- <a class="checkout_Npro_priceLiL tax_color" href="-->
									<!--">-->
									<!--</a>-->
									<a class="checkout_Npro_priceLiL tax_color" href="https://www.fs.com/index.php?main_page=manage_orders">
										<p style='color:red'>learn some things and logic of order number</p>
									</a>
									<div class="checkout_Npro_priceLiR">
										<p style='color:red'>the logic of Expected Delivery is now unknown</p>
									</div>
								</li>
							</ul>
							<div>
								<div class="checkout_Npro_theContxt6">
									<div class="checkout_Npro_priceLiL">
										<span class="totxt_style01">
											Total:
										</span>
									</div>
									<div class="checkout_Npro_priceLiR">
										<span class="totxt_style01">
											<%=checkoutCartSession.cartPrice%>
										</span>
									</div>
								</div>
							</div>
							<div class="checkout_Success_border">
								<ul class="checkout_Npro_priceList">
								</ul>
								<p class="checkout_Npro_theContxt6">
									<a href="javascript:;" >
										Live Chat
									</a>
									or call
									<span class="phone">
										+1 (888) 468 7419
									</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	</div> 


</body>

<script type="text/javascript" src="javascripts/footer.js"></script>
<!--footer-->
<%- include('partials/footer.ejs') %>

</html>