<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en">
	<head>
		<title>
			Confirm Your Orders
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="x-dns-prefetch-control" content="on" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="author" content="FS" />
		<script type="text/javascript"  src="../javascripts/ec.js"></script>
		<script type="text/javascript"  src="../javascripts/jquery-3.5.1.min.js"></script>
		<script type="text/javascript"  src="../javascripts/js_cdn.js"></script>
		<script type="text/javascript"  src="../javascripts/header.js"></script>
		<script type="text/javascript"  src="javascripts/utility_fte.js"></script>
	
		<script type="text/javascript"  src="javascripts/vue.pro.js"></script>
		<script type="text/javascript"  src="javascripts/layer_renamed.js"></script>
		<script type="text/javascript"  src="javascripts/checkout_dev.js"></script>
		<script type="text/javascript"  src="javascripts/component.js"></script>
		<script type="text/javascript"  src="javascripts/rsa.js"></script>
		<script type="text/javascript"  src="javascripts/rng.js"></script>
		<script type="text/javascript"  src="javascripts/checkVat.js"></script>

        <script type="text/javascript"  src="javascripts/stripe_checkout.js" defer></script>
	
	</head>

	<link rel="shortcut icon" href="../images/logo_vudj.png" type="image/x-icon" /> 
	
	<link rel="stylesheet" href="../stylesheets/iconfont.css" />
	<link rel="stylesheet" href="../stylesheets/public.css" />
	<link rel="stylesheet" href="../stylesheets/checkout_new.css" />
    <link rel="stylesheet" href="../stylesheets/checkout.css" />

    <link rel="stylesheet" href="../stylesheets/backstage.css" />
	<link rel="stylesheet" href="../stylesheets/layer.css" />
    <link rel="stylesheet" href="../stylesheets/choose_time.css" />
    <link href="https://assets.pay2.secured-by-ingenico.com/templates/generic/responsive/wro/html-header.css?hash=0fc06ee328a53f11cf8b1520dc4f772cd3df1e45"
    rel="stylesheet" type="text/css">

<script>
$(document).ready(function(){

    utility_fte.initHeaderBav();
})
</script>

<script>
 
 
</script>
<style>
    span.cart{
        padding: 0 !important;
        min-height:auto!important;
    }
</style>
</head>


	<!--top-->
	<%- include('partials/top.ejs') %>

	<!-- 导航、搜索 -->
	<%- include('partials/header.ejs') %>

<body id="checkoutglobalcollectbillingBody" data-new-gr-c-s-check-loaded="14.1018.0"
data-gr-ext-installed="" rlt="1" style="" inmaintabuse="true">


	<header class="checkout-header">
		<div class="checkout-header-main">
			<div class="checkout-header-main-logo">
				<a href="/">
				</a>
				<h2 class="checkout-header-main-logo-tit">
					Order Payment
				</h2>
			</div>
			<div class="checkout-header-main-right after">
				<div class="checkout-header-main-right-line line01 already">
				</div>
				<div class="checkout-header-main-right-line line02 already">
				</div>
				<div class="checkout-header-main-right-dot already dot01">
					<div class="checkout-header-dot icon iconfont">
						
					</div>
					<p>
						Cart
					</p>
				</div>
				<div class="checkout-header-main-right-dot already dot02">
					<div class="checkout-header-dot icon iconfont">
						
					</div>
					<p>
						Confirm Order
					</p>
				</div>
				<div class="checkout-header-main-right-dot ing dot03">
					<div class="checkout-header-dot">
						3
					</div>
					<p>
						Order Payment
					</p>
				</div>
			</div>
		</div>
	</header>
	<div class="checkout_Npro_Bwrapp checkout_payment_against">
		<div class="checkout_Npro_Bcontent">
			<div class="checkout_Npro_main">
				<div class="checkout_Npro_mLeft">
					<div class="checkout_Npro_Bli">
						<dl class="checkout_Npro_BliM">
							<dt class="checkout_Npro_theAddress">
								Credit/Debit Card Payment Center
								<!-- <span class="checkout_Npro_changeBtn choosez" id="checkout_Npro_changeBtn1"
								style="display: none;">Change</span> -->
								<!-- 提示语 -->
								<div>
									<div class="checkout_Npro_promptBox01">
									</div>
								</div>
							</dt>
							<div class="checkout_Npro_theContxt_1 flex">
								<p class="checkout_Npro_theContxt_2 iconfont icon">
									
								</p>
								<div class="checkout_Npro_theContxt_1_alltext">
									<p class="checkout_Npro_theContxt1_new">
										Please complete payment within 2 business days. Otherwise, the order will
										be cancelled automatically due to the inventory change of items.
									</p>
								</div>
							</div>
							<dd class="checkout_Npro_theCont public_position">
								<ul>
									<li class="checkout_Npro_theContLi1 pointerNone">
										<div class="checkout_Npro_pad2">
											<!--获取线上信用卡支付代码-->
											<div class="pay_error error error_info">
											</div>
											
												<div class="checkout_Npro_useAddre choosez">
													<input type="hidden" name="is_use" class="is_use" value="1">
													<span class="checkout_Npro_theContxt2">
														Billing Address
														<div class="track_orders_wenhao m_track_orders_wenhao m-track-alert">
															<div class="question_bg_icon question_bg_grayIcon iconfont icon">
																
															</div>
															<div class="new_m_bg1">
															</div>
															<div class="new_m_bg_wap">
																<div class="question_text_01 leftjt">
																	<a href="javascript:;" class="bubble_popup_close_a m_960_close new_m_icon_Close">
																		<i class="iconfont icon">
																		</i>
																	</a>
																	<div class="arrow">
																	</div>
																	<div class="popover-content">
																		Please make sure the billing address above matches what appears on this
																		credit card's statements.
																	</div>
																</div>
															</div>
														</div>
													</span>
													<!-- <div class="checkout_Npro_priceLiL tax_color2 payMent_addAddress" onclick="show_billing_form(this)">
														<i class="icon iconfont">
															
														</i>
														<span>
															Edit
														</span>
													</div> -->
												</div>
												<div class="checkout_Npro_btnBox2  billBox" >
													<div class="bill_list bill_ist_pore" style="display:block">
														<p class="checkout_Npro_selectBilling blling_name">
															<%=order_information.shippingAddress.shippingAdd_name%>
														</p>
														<p class="checkout_Npro_selectBilling billing_company_name">
															
														</p>
														<p class="checkout_Npro_selectBilling billing_address_info">
															<span><%=order_information.shippingAddress.shippingAdd_entry_street_address%></span>
                                                            <span><%=order_information.shippingAddress.shippingAdd_entry_city%></span>
                                                            <span><%=order_information.shippingAddress.shippingAdd_entry_state%></span>
														</p>
														<p class="checkout_Npro_selectBilling blling_telephone">
															<%=order_information.shippingAddress.entry_telephone%>
														</p>
														<p class="checkout_Npro_selectBilling blling_tax_number">
                                                            <%=order_information.shippingAddress.shippingAdd_entry_postcode%>
														</p>
													</div>
												</div>
												<p class="checkout_Npro_border">
												</p>
											
												<p class="checkout_txt">
													* Your data will only be used to process this order and will not be saved
													by Yogel .
												</p>
									
				
												<form id="paymentoptionForm" method="post" class="validatedForm" novalidate="novalidate"
												action="/payment">

													<button style="width:20%;"id="primaryButton" class="btn btn-block-rpp btn-primary" type="submit"
													name="doPayment" value="doPayment">
													<span id="paymentbuttontext">
													 Pay with Paypal
													</span>
													</button>
												</form>
   
												<div class="ccc">
												</div>
												
									
										</div>
									</li>
								</ul>
								<div class="spinWrap public_bg_wap" style="display: none;">
									<div class="bg_color">
									</div>
									<div id="loader_order_alone" class="loader_order">
										<svg class="circular" viewBox="25 25 50 50">
											<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
											stroke-miterlimit="10">
											</circle>
										</svg>
									</div>
								</div>
							</dd>
						</dl>
					</div>
				</div>
				<div class="checkout_Npro_mRight">
					<div class="checkout_Npro_mRightM" style="position: relative; top: 0px; padding-top: 0px;">
						<h2 class="checkout_Npro_theAddress">
							<span class="checkout_Npro_orderSum">
								Order Summary
							</span>
						</h2>
						<div class="checkout_Npro_pad2">
							<ul class="checkout_Npro_priceList">
								<li class="checkout_Npro_priceLi">
									<div class="checkout_Npro_priceLiL">
										<p class="checkout_Npro_theContxt8">
											Order Date: <%=orderTime%>
										</p>
									</div>
								</li>
							</ul>
							<ul class="checkout_Npro_priceList">
								<li class="checkout_Npro_priceLi1">
									<div class="checkout_Npro_priceLiL">
										<p class="checkout_Npro_theContxt8">
											Order Number
										</p>
									</div>
									<div class="checkout_Npro_priceLiR">
										<p class="checkout_Npro_theContxt8">
											Expected Delivery
										</p>
									</div>
								</li>
								<li class="checkout_Npro_priceLi checkout_Npro_mbt20">
									<!-- <a class="checkout_Npro_priceLiL tax_color" href="-->
									<!--">-->
									<!--</a>-->
									<a class="checkout_Npro_priceLiL tax_color" href="https://www.fs.com/index.php?main_page=manage_orders">
										<p style='color:red'>learn some things and logic of order number</p>
									</a>
									<div class="checkout_Npro_priceLiR">
										<p style='color:red'>the logic of Expected Delivery is now unknown</p>
									</div>
								</li>
							</ul>
							<div>
								<div class="checkout_Npro_theContxt6">
									<div class="checkout_Npro_priceLiL">
										<span class="totxt_style01">
											Total:
										</span>
									</div>
									<div class="checkout_Npro_priceLiR">
										<span class="totxt_style01">
											<%=checkoutCartSession.cartPrice%>
										</span>
									</div>
								</div>
							</div>
							<div class="checkout_Success_border">
								<ul class="checkout_Npro_priceList">
								</ul>
								<p class="checkout_Npro_theContxt6">
									<a href="javascript:;" >
										Live Chat
									</a>
									or call
									<span class="phone">
										+1 (888) 468 7419
									</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	</div> 


</body>

<script type="text/javascript" src="javascripts/footer.js"></script>
<!--footer-->
<%- include('partials/footer.ejs') %>

</html>