<!DOCTYPE html>
<html>
<head>
    <title>YOGEL</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 

    <script type="text/javascript"  src="../javascripts/ec.js"></script>
    <script type="text/javascript"  src="../javascripts/jquery-3.5.1.min.js"></script>
    <script type="text/javascript"  src="../javascripts/js_cdn.js"></script>
    <script type="text/javascript"  src="../javascripts/header.js"></script>
    <script type="text/javascript"  src="../javascripts/utility_fte.js"></script>
<!--    <script type="text/javascript"  src="../javascripts/vue.js"></script>-->
    <script type="text/javascript"  src="../javascripts/handlebars-v4.7.7.js"></script>
    <script type="text/javascript"  src="../javascripts/product_list.js"></script>
    <script src="http://127.0.0.1:3001/socket.io/socket.io.js"></script>
</head>
<style>
    .new_popup_bg{
        z-index: 11!important;
    }
    .admin_return_massage{
        padding-left:200px;
    }
    .chattingDisplay{
        border:solid 1px grey;
        padding:5px;

    }
</style>
<script type='text/javascript'>
    $(document).ready(function(){
        var acc_email = '';
        // var _qa = null;
        function qa() {
            var pid = utility_fte.get_pid();
            $.ajax({
                url: "/qa",
                dataType: "json",
                type:"post",
                data:{
                    pid:pid
                },
                success: function (d) {
                    if(d.code == 1){
                        var container = document.querySelector('#QA_ul');
                        var templateDom = document.querySelector('#template');
                        var template = Handlebars.compile(templateDom.innerHTML);
                        var data = d.data;
                        for(var i = 0; i < data.length; i++){
                            if(data[i].answ == 'null'){
                                data[i].answ = "This question has not been answered";
                                data[i].ques_admin = "";
                            }
                        }
                        container.innerHTML = template(data);
                    }
                }
            });
        }
        qa();

        $("#askHide").bind("click",function (e) {
            $("#popBg").hide();
            $("#questionPop").hide();
        });
        $("#askShow").bind("click",function (e){
            //用promise机制修改
            $.ajax({
                url: "/is_sign_in",
                dataType: "json",
                success: function (d) {
                    if(d.code == 0){
                        window.location.href = "/login";
                    }else{
                        acc_email = d.acc_email;
                        var pd_img = $("#pd_img").attr("src");
                        $("#popImg").attr("src",pd_img);
                        var pd_des = $("#detailFontBold").text();
                        $("#popup_con_dl_tit").text(pd_des);
                        $("#popBg").show();
                        $("#questionPop").show();
                    }
                }
            });
        });

        $("#qa_submit").bind("click",function (e) {
                var qVal = $("#q_contents").val();
                if(qVal.length <= 0){
                    alert("Please enter your question.");
                    return false;
                }
                $.ajax({
                    url: "/raise_question",
                    dataType: "json",
                    data:{
                        "question":qVal,
                        "acc_email":acc_email,
                        "img":$("#pd_img").attr("src"),
                        "pd_des":$.trim($("#detailFontBold").text()),
                        "url":window.location.href,
                        "pid":utility_fte.get_pid()
                    },
                    type:"post",
                    success: function (d) {
                        if(d.code == 1){
                            alert(d.data);
                            window.location.href = window.location.href;
                        }
                    }
                });
        });


        
        function getRelatedPd() {
            var pid = utility_fte.get_pid();
            $.ajax({
                url: "/get_related_pd",
                dataType: "json",
                type:"post",
                data:{
                    pid:pid
                },
                success: function (d) {
                    if(d.code == 1){
                        var otherPd = [];
                        var data = d.data;//array
                        for(var i = 0; i < data.length; i++){
                            if(data[i].id != pid){
                                otherPd.push(data[i]);
                            }
                        }
                        var container = document.querySelector('#pd_models');
                        var templateDom = document.querySelector('#template_pd_model');
                        var template = Handlebars.compile(templateDom.innerHTML);
                        container.innerHTML = template(otherPd);
                    }
                }
            });
        }
        getRelatedPd();
        utility_fte.initHeaderBav();


        $("#c_add_cart").bind("click",function (e) {
            // alert($(this).attr("pd"));


            var pid = ($(this).attr("pd"));
            var qty = parseInt($(cart_quantity).val());
            addCart(pid,qty);

        });

        function addCart(pid,qty){
            $.ajax({
                url: "/add_cart",
                dataType: "json",
                type:"post",
                data:{
                    pid:pid,
                    qty:qty
                },
                success: function (d) {
                    if(d.code == 1){
                        alert(d.data);
                        window.location.href = "/cart";
                    }else{
                        alert(d.data);
                        window.location.href = "/login";
                    }
                }
            });
        }

        $("#reducePd").bind("click",function (e) {
            var currentVal = parseInt($("#cart_quantity").val()) - 1;
            if(currentVal == 0){
                return false;
            }
            $("#cart_quantity").val(currentVal)
        });
        $("#addPd").bind("click",function (e) {
            var currentVal = parseInt($("#cart_quantity").val()) + 1;
            $("#cart_quantity").val(currentVal)
        });


    });
</script>

<link rel="icon" href="https://img-en.fs.com/images/favicon.ico" type="image/x-icon" /> 
<link rel="shortcut icon" href="../images/logo_vudj.png" type="image/x-icon" /> 
<style>@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:url(https://img-en.fs.com/includes/templates/fiberstore/images/opensans.woff2);src:local('Open Sans'),local('OpenSans'),url(https://img-en.fs.com/includes/templates/fiberstore/images/opensans.woff2) format('woff2')}@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'),local('OpenSans-Light'),url(https://img-en.fs.com/includes/templates/fiberstore/images/opensans-light-webfont.woff2) format('woff2');}@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('opensans semibold webfont'),local('opensans-semibold-webfont'),url(https://img-en.fs.com/includes/templates/fiberstore/images/opensans-semibold-webfont.woff2) format('woff2');font-display: swap}    </style> 


<link rel="stylesheet" href="../stylesheets/iconfont.css" />
<link rel="stylesheet" href="../stylesheets/public.css" />
<link rel="stylesheet" href="../stylesheets/swiper-sweetalert2.css" />
<link rel="stylesheet" href="../stylesheets/new_product_list.css" />
<link rel="stylesheet" href="../stylesheets/css1.css" />
<link rel="stylesheet" href="../stylesheets/product_detail.css" />
<link rel="stylesheet" href="../stylesheets/serch_result.css" />

<body ondragstart="return false" data-new-gr-c-s-check-loaded="14.1010.0" data-gr-ext-installed="" style="">
<!--top-->
<%- include('partials/top.ejs') %>
<%- include('partials/header.ejs') %>
<!--产品页面-->
<div class="box">
    <div class="remove_bg"></div>
    <div class="subPrdView">
    <div class="proImg_describe_box">
        <div class="detail_proLeft">
            <div class="detail_proImg_top" style="position: relative">

                <div id="img_loading" style="display:none;width:420px; height:420px; text-align:center; background:#fff;  position:absolute;z-index:95; top:0; left:50%; transform: translateX(-50%);">
                    <div id="loader_order_alone" class="loader_order" style="z-index:29999999;">
                        <svg class="circular" viewBox="25 25 50 50">
                            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
                            stroke-miterlimit="10">
                            </circle>
                        </svg>
                    </div>
                </div>
                <div class="featurePics_proImg">
                    <!--视频播放代码-->
                    <a class="proImg_alink" href="javascript:;">
                        <img id="pd_img" src="<%=pdGenerInfo.url %>" />
                    </a>
                </div>
                <!-- <div class="proImg_enlarge">
                    Click to open expanded view
                </div> -->
            </div>
            <div class="detail_proImg_bottom">
                <div class="proImg_check_carousel">

                    <div class="proImg_check_carousel_cont swiper-container swiper-container-horizontal">

                    </div>
                </div>
            </div>
        </div>
        <div class="detail_proRight">
            <div class="detail_proDecribe_tit">



                <h1 class="detailFontBold" id="detailFontBold">
                    <%=pdGenerInfo.des%>
                </h1>
                <span>
                    #110485
                </span>



            </div>
            <div class="new_proList_applyBox after">

            </div>
            <div class="product_sticky" id="products_add_cart">
                <div class="product_container">
                    <div class="product_tab_wap" style="display: none;">
                        <div class="product_proinfo">
                            <dl class="after">
                                <dt>
                                    <img src="https://img-en.fs.com/images/products/60x60/110485.main.jpg"
                                    class="" alt="NC8200-24BC, 24-Port 25Gb SFP28 Line Card, with 2 x 100Gb QSFP28 Uplinks for Data Center Chassis Switch NC8200-4TD"
                                    title="NC8200-24BC, 24-Port 25Gb SFP28 Line Card, with 2 x 100Gb QSFP28 Uplinks for Data Center Chassis Switch NC8200-4TD">
                                </dt>
                                <dd>
                                    <h3>
                                        <a href="javascript:window.scrollTo( 0, 0 );">
                                            NC8200-24BC, 24-Port 25Gb SFP28 Line Card, with 2 x 100Gb QSFP28 Uplinks
                                            for Data Center Chassis Switch NC8200-4TD
                                        </a>
                                    </h3>
                                    <div>
                                        <a class="gotoReview" href="javascript:;">
                                            <span class="p_star11 new_pro_starGray">
                                            </span>
                                        </a>
                                        <a href="javascript:void(0);">
                                            0 Review
                                        </a>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="product_sticky_add ">
                            <ul>
                                <li>
                                    <span class="header_products_price">
                                        US$&nbsp;1,219.00
                                    </span>
                                    <p class="product_sticky_newDetali_txt">
                                        10 In Stock
                                    </p>
                                </li>
                                <li>
                                    <input type="text" value="1" class="p_07 product_sticky_qty" name="cart_quantity"
                                    maxlength="5" min="1" id="move_cart_quantity" onkeyup="this.value=this.value.replace(/[^\d]/g,'')"
                                    onafterpaste="this.value=this.value.replace(/[^\d]/g,'')" onchange="move_check_min_qty(this,110485)"
                                    onfocus="move_enterKey(this)" onblur="this.style.border='';">
                                    <div class="pro_mun">
                                        <a href="javascript:void(move_cart_quantity_change(1));" class="cart_qty_add ">
                                        </a>
                                        <a href="javascript:void(move_cart_quantity_change(0));" class="cart_qty_reduce cart_reduce ">
                                        </a>
                                    </div>
                                </li>
                                <li class="product_sticky_btn">
                                    <button type="button" id="img_go_to_cart_110485" onclick="HeadAddToCart(110485,$(this))"
                                    value="Add to Cart" name="Add to Cart" class="new_pro_addCart_btn">
                                        <div class="new_pro_addCart_mainDev after">
                                            <span class="icon iconfont add_to_cart_iconfont">
                                                
                                            </span>
                                            Add to Cart
                                        </div>
                                        <div class="new_addCart_loading choosez">
                                            <div class="new_chec_bg">
                                            </div>
                                            <div class="loader_order">
                                                <svg class="circular" viewBox="25 25 50 50">
                                                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4"
                                                    stroke-miterlimit="10">
                                                    </circle>
                                                </svg>
                                            </div>
                                        </div>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product_tab01">
                        <ul class="product_tab01_ul after">
                            <li class="hover QA_discription active" id="productinfotab_specifications">
                                <a href="javascript:;">
                                    Specifications
                                </a>
                            </li>
                            <li id="productinfotab_productstree" class="">
                                <a href="javascript:;">
                                    Network Connectivity
                                </a>
                            </li>
                            <li id="productinfo_highlights" class="">
                                <a href="javascript:;">
                                    Product Highlights
                                </a>
                            </li>
                            <li id="productinfo_community" class="">
                                <a href="javascript:;">
                                    Community
                                </a>
                            </li>
                            <li id="productinfotab_qa" class="">
                                <a href="javascript:;">
                                    Q&amp;A
                                </a>
                            </li>
                            <li id="productinfotab_reviews" class="">
                                <a href="javascript:;">
                                    Reviews
                                </a>
                            </li>
                            <li id="productinfotab_technicaldocs" class="">
                                <a href="javascript:;">
                                    Resources
                                </a>
                            </li>
                            <span class="home_compati" style="left: -20px;">
                            </span>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="new_popup video show pro_email_share" id="share1" style="display: none;">













            </div>
            <div class="detail_proAssess_starNum share_text_align">
                <!--第三方分享-->
            </div>
            <!--Mobile phone picture display star-->
            <div class="featurePics_proImg_m">
                <div class="proImg_check_carousel_mcont ">
                    <div class=" swiper-container proImg_check_carousel_mswiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-img" data-alt="NC8200-24BC, 24-Port 25Gb SFP28 Line Card, with 2 x 100Gb QSFP28 Uplinks for Data Center Chassis Switch NC8200-4TD"
                            data-title="NC8200-24BC, 24-Port 25Gb SFP28 Line Card, with 2 x 100Gb QSFP28 Uplinks for Data Center Chassis Switch NC8200-4TD">
                                <img value="1" data-src="https://img-en.fs.com/images/products_cache/800x800/110485.main.jpg"
                                class="swiper-lazy">
                                <div class="swiper-lazy-preloader">
                                    <div id="loader_order_alone" class="loader_order">
                                        <svg class="circular" viewBox="25 25 50 50">
                                            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
                                            stroke-miterlimit="10">
                                            </circle>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-img" data-alt="NC8200-24BC, 24-Port 25Gb SFP28 Line Card, with 2 x 100Gb QSFP28 Uplinks for Data Center Chassis Switch NC8200-4TD"
                            data-title="NC8200-24BC, 24-Port 25Gb SFP28 Line Card, with 2 x 100Gb QSFP28 Uplinks for Data Center Chassis Switch NC8200-4TD">
                                <img value="2" data-src="https://img-en.fs.com/images/products_cache/800x800/110485.B.jpg"
                                class="swiper-lazy">
                                <div class="swiper-lazy-preloader">
                                    <div id="loader_order_alone" class="loader_order">
                                        <svg class="circular" viewBox="25 25 50 50">
                                            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
                                            stroke-miterlimit="10">
                                            </circle>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-img" data-alt="NC8200-24BC, 24-Port 25Gb SFP28 Line Card, with 2 x 100Gb QSFP28 Uplinks for Data Center Chassis Switch NC8200-4TD"
                            data-title="NC8200-24BC, 24-Port 25Gb SFP28 Line Card, with 2 x 100Gb QSFP28 Uplinks for Data Center Chassis Switch NC8200-4TD">
                                <img value="3" data-src="https://img-en.fs.com/images/products_cache/800x800/110485.C.jpg"
                                class="swiper-lazy">
                                <div class="swiper-lazy-preloader">
                                    <div id="loader_order_alone" class="loader_order">
                                        <svg class="circular" viewBox="25 25 50 50">
                                            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
                                            stroke-miterlimit="10">
                                            </circle>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-Mpagination">
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-3d-popup">
                <h2 class="m-3d-popup-tit">
                    <icon class="icon iconfont">
                        
                    </icon>
                </h2>
                <div class="m-3d-popup-content">
                    <div class="sketchfab-embed-wrapper">
                        <iframe title="A 3D model" width="100%" height="100%" src="" frameborder="0"
                        allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true">
                        </iframe>
                    </div>
                </div>
            </div>
            <!--end-->
            <div class="product_details_sales_container">
                <div class="product_details_sales_left">
                    <div class="detail_proPrice price_ru" id="productsbaseprice">
                        <%=pdGenerInfo.price%>
                    </div>
                    <div class="fs_pro_Prodiscount_box" style="display:none">
                    </div>
                    <p class="detail_FSP_N">
                        FS P/N:
                        <span>
                            NC8200-24BC
                        </span>
                    </p>
                </div>
                <div class="product_details_sales_right">
                    <ul class="product_details_sales_ul">
                        <li>
                            <span class="new_sales">
                                <em>
                                    0
                                </em>
                                Sold
                            </span>
                        </li>
                        <li>
                            <span class="gotoReview new_reviews" id="review1">
                                <em>
                                    0
                                </em>
                                Review
                            </span>
                        </li>
                        <li>
                            <span class="gotoQuestion" id="question1">
                                <em>
                                    3
                                </em>
                                Questions
                            </span>
                        </li>
                    </ul>
                    <div class="product_details_live_chat_container">
                        <a class="product_details_live_chat" href="javascript:;" onclick="LC_API.open_chat_window();return false;">
                            <i class="iconfont icon">
                                
                            </i>
                            <span>
                                Live Chat
                            </span>
                        </a>
                    </div>
                </div>
            </div>






            <div class="detail_transceiver_type">
                <dl id="pd_models">
                    <dt>
                        Models:
                    </dt>
                    <script type="text/x-handlebars-template" id="template_pd_model">
                        {{#each this}}
                        <dd class=" pro_item match_products">
                            <a href="/pdinfo?pid={{id}}">
                                <img src="{{url}}"
                                      width="60" height="60" />
                                {{des}}
                            </a>
                        </dd>
                        {{/each}}
                    </script>
                </dl>
                <div class="ccc">
                </div>
            </div>






            <div class="location_text_pro">
                <div class="location_text">
                </div>
                <div class="product_03_01 product_03_13 detail_seattle_z" id="fs_availabilty">
                    <div class="warehouse_text warehouse_details_text">
                        <i class="iconfont warehouse_details_baoguoIc">
                            
                        </i>
                        <span class="track_orders_wenhao track_orders_wenhao_only m_track_orders_wenhao m-track-alert">
                            10 In Stock,&nbsp;
                            <div class="new_m_bg1">
                            </div>
                            <div class="new_m_bg_wap">
                                <div class="question_text_01 leftjt">
                                    <a class="bubble_popup_close_a m_960_close new_m_icon_Close" href="javascript:;">
                                        <i class="iconfont icon">
                                            
                                        </i>
                                    </a>
                                    <div class="arrow">
                                    </div>
                                    <div class="popover-content">
                                        <div class="arr_top">
                                            <i>
                                                ·
                                            </i>
                                            <strong>
                                                9
                                            </strong>
                                            <p>
                                                In Stock,&nbsp;Asia Warehouse
                                            </p>
                                        </div>
                                        <div class="arr_top">
                                            <i>
                                                ·
                                            </i>
                                            <strong>
                                                0
                                            </strong>
                                            <p>
                                                In Stock,&nbsp;RU Warehouse
                                            </p>
                                        </div>
                                        <div class="arr_top">
                                            <i>
                                                ·
                                            </i>
                                            <strong>
                                                0
                                            </strong>
                                            <p>
                                                In Stock,&nbsp;SG Warehouse
                                            </p>
                                        </div>
                                        <div class="arr_top">
                                            <i>
                                                ·
                                            </i>
                                            <strong>
                                                0
                                            </strong>
                                            <p>
                                                In Stock,&nbsp;AU Warehouse
                                            </p>
                                        </div>
                                        <div class="arr_top">
                                            <i>
                                                ·
                                            </i>
                                            <strong>
                                                0
                                            </strong>
                                            <p>
                                                In Stock,&nbsp;DE Warehouse
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </span>
                        <em class="instock_warehouse sfpDetail-instock-warehouse">
                            U.S. Warehouse
                        </em>
                        <div class="track_orders_wenhao m_track_orders_wenhao m-track-alert">
                            <div class="question_bg_icon question_bg_grayIcon iconfont icon">
                                
                            </div>
                            <div class="new_m_bg1">
                            </div>
                            <div class="new_m_bg_wap">
                                <div class="question_text_01 leftjt">
                                    <a class="bubble_popup_close_a m_960_close new_m_icon_Close" href="javascript:;">
                                        <i class="iconfont icon">
                                            
                                        </i>
                                    </a>
                                    <div class="arrow">
                                    </div>
                                    <div class="popover-content">
                                        FS U.S. Warehouse located in Delaware, supports fast same day shipping.
                                        <a target="_blank" href="https://www.fs.com/shipping_delivery.html">
                                            Learn more
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <dl class="Ship_To_dl" id="dl_country_post">
                            <dt>
                                <i class="iconfont warehouse_details_baoguoIc">
                                    
                                </i>
                                Deliver to
                                <div class="ship_to_a">
                                    <a href="javascript:;" onclick="showShippingList()">
                                        New York, 10010
                                    </a>
                                </div>
                            </dt>
                            <dd>
                            </dd>
                        </dl>
                    </div>
                    <div class="shipping_text">
                        <span class="pro_font_w">
                            Free Shipping
                        </span>
                        via UPS Ground®, get it by Fri. May. 14
                        <input type="hidden" value="upsgroundeastzones" id="default_shipping_methods">
                        <div class="track_orders_wenhao m_track_orders_wenhao m-track-alert">
                            <div class="question_bg_icon question_bg_grayIcon iconfont icon">
                                
                            </div>
                            <div class="new_m_bg1">
                            </div>
                            <div class="new_m_bg_wap">
                                <div class="question_text_01 leftjt">
                                    <a class="bubble_popup_close_a m_960_close new_m_icon_Close" href="javascript:;">
                                        <i class="iconfont icon">
                                            
                                        </i>
                                    </a>
                                    <div class="arrow">
                                    </div>
                                    <div class="popover-content">
                                        The delivery date applies to the inventory items purchased by 5pm EST
                                        on business days. After that, your order will ship on the next business
                                        day. If your requested quantity exceeds the inventory, it will be dispatched
                                        from FS Asia warehouse with
                                        <a target="_blank" href="/specials/global-shipping-program-107.html">
                                            Global Shipping Program (GSP)
                                        </a>
                                        .
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--custom products tips-->
            <div class="custom_product_tips_fa">
                <p class="custom_product_tips" id="option_remark">
                    <i class="iconfont icon">
                        
                    </i>
                    <span>
                        Please select an option for each attribute.
                    </span>
                </p>
                <p class="custom_product_tips" id="brand_remark">
                    <i class="iconfont icon">
                        
                    </i>
                    <span>
                        Please choose a brand.
                    </span>
                </p>
            </div>
            <div class="newDetail_addCart_box" id="product_add_to_cart">
                <div class="newPro_common_num_cont product_03_08 product_03_24">
                    <input type="text" value="1" class="p_07 product_03_10" name="cart_quantity"
                    onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d]/g,'')"
                    maxlength="5" min="1" id="cart_quantity" onchange="check_min_qty01(this,110485)"
                    onblur="fslocking(110485);">
                    <div class="pro_mun">
                        <a href="javascript:void(0)" class="cart_qty_add" id="addPd">
                            <span class="iconfont icon">
                            </span>
                        </a>
                        <a href="javascript:void(0)" class="cart_qty_reduce cart_reduce" id="reducePd">
                            <span class="iconfont icon">
                            </span>
                        </a>
                    </div>
                </div>
                <button type="button" id="prod_add_110485" onclick="prodAddToCart(110485,$(this))"
                value="Add to Cart" name="Add to Cart" class="new_pro_addCart_btn ">
                    <div class="new_pro_addCart_mainDev after">
                        <span class="icon iconfont add_to_cart_iconfont">
                            
                        </span>
                       <a href="javascript:void(0)" style="color:#fff;" id="c_add_cart" pd="<%=pid%>">Add to Cart</a>
                    </div>
                    <div class="new_addCart_loading choosez">
                        <div class="new_chec_bg">
                        </div>
                        <div class="loader_order">
                            <svg class="circular" viewBox="25 25 50 50">
                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4"
                                stroke-miterlimit="10">
                                </circle>
                            </svg>
                        </div>
                    </div>
                </button>
            </div>
            <div class="ccc">
            </div>

            <div class="detail_foot_link">
                <div class="warranty_optimization">
                    <p class="warranty_optimization_tit">
                        Professional Quality Testing Program for Data Center Switches.
                    </p>
                    <ul class="warranty_optimization_ul after">
                        <li>
                            <em class="spot">
                            </em>
                            <a class="warranty_optimization_a" href="https://www.fs.com/shipping_delivery.html"
                            target="_blank">
                                Shipping &amp; Delivery
                            </a>
                        </li>
                        <li>
                            <em class="spot">
                            </em>
                            <a class="warranty_optimization_a" href="/policies/warranty.html" target="_blank">
                                5 Years Warranty
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <script type="text/javascript">
            var is_inquiry = 0;
        </script>
        <div class="ccc">
        </div>
        <div class="ccc">
        </div>
        <!-- </div>-->
        <div class="ccc">
        </div>
    </div>
	</div>
    <div class="hover tab-description-page" id="specifications">
        <div class="p_con_new_tit01">
            <div>
                Product Information
            </div>
        </div>
        <div class="m_product_desctable_box">
            <%=pdInformation%>
        </div>
        <div class="p_con_02">

        </div>
        <hr>
        <hr>
    </div>
    <div class="hover tab-description-page" id="specifications">
        <div class="p_con_new_tit01">
            <div>
                Product Description
            </div>
        </div>
        <div class="m_product_desctable_box">
            <%=pdDescription%>
        </div>
        <div class="p_con_02">

        </div>
        <hr>
        <hr>
    </div>
    <div class="hover tab-description-page" id="specifications">
        <div class="p_con_new_tit01">
            <div>
                Product Features
            </div>
        </div>
        <div class="m_product_desctable_box">
            <ul>
            <% for (var i = 0; i < pdFeature.length; i++) {%>
                <li>
                    <%=pdFeature[i]%>
                </li>
            <% } %>
        </ul>
        </div>
        <div class="p_con_02">

        </div>
        <hr>
        <hr>
    </div>

    <div class="hover tab-description-page" id="specifications">
        <div class="p_con_new_tit01">
            <div>
                Specifications
            </div>
        </div>

        <div class="p_con_new_tit02">
            Product Specifications
        </div>
        <div class="m_product_desctable_box">
            <div class="m_product_desctable_listBg">
            </div>
            <% for(q in pdSpe){%>
                <div>
                    <span><%=q%>:</span>
                    <span><%=pdSpe[q]%></span>
                </div>
            <% } %>
        </div>
        <div class="p_con_02">
        </div>
        <hr>

        <hr>

    </div>
</div>

</div>

<div class="product-reviews-box" id="qa">
    <div class="QA_show" id="QA-outer-title">
        <div class="p_hot_01 QA_card">
            <b>
				<span name="reviews">
					Questions &amp; Answers
				</span>
            </b>
            <p>

                <a href="javascript:;" class="show_QA_ask_window toSign-tips-hoverBox " id="askShow">
                    Ask a question
                </a>
            </p>
        </div>
        <div class="pro17_QA product_review">
            <div class="pro17_container">

                <ul id="QA_ul">
                    <script type="text/x-handlebars-template" id="template">
                        {{#each this}}
                            <li class="li_show">
                                <div class="pro17_Q_tit qa_result">
                                    <div class="qa_container">
                                        <dl class="qa_result_dl">
                                            <dt>
                                                <div class="qa_result_dlFlex">
									<span>
										Q:
									</span>
                                                    <p>
                                                        <a class="qa_a_hover" href="#">
                                                            {{ques}}
                                                        </a>
                                                        <strong class="pro_hiden01">
                                                            By {{ques_user}}
                                                        </strong>
                                                    </p>
                                                </div>
                                            </dt>
                                            <!-- answer block -->



                                            <div class="answer_block">
                                                <dd class="">
                                                    <div class="qa_overflow">
                                                        <div class="qa_result_ddFlex">
											<span>
												A:
											</span>
                                                            <p>
                                                                {{answ}}
                                                                <strong class="pro_hiden01">
                                                                    By {{ques_admin}}
                                                                </strong>
                                                            </p>
                                                        </div>

                                                        <p class="question_answering" style="display:none;">
                                                            <a href="customer_qa.html?qid=72962&amp;type=0">
                                                                Answer this Question
                                                                <em class="iconfont icon">
                                                                    
                                                                </em>
                                                            </a>
                                                        </p>
                                                    </div>
                                                </dd>
                                            </div>




                                        </dl>
                                    </div>
                                </div>
                            </li>

                        {{/each}}
                    </script>

                </ul>
            </div>
            <div id="show_qa_loading" style="display: none;">
                <div class="spinWrap list_fsLoading" style="position:absolute;">
                    <div class="bg_color">
                    </div>
                    <div id="loader_order_alone" class="loader_order">
                        <svg class="circular" viewBox="25 25 50 50">
                            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
                                    stroke-miterlimit="10">
                            </circle>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="header_main_search" style="display: none">
            <input type="text" placeholder="Have a question? Search for answers" class="header_main_search_txt qa_keyword_name"
                   name="keyword" id="qa_keyword_outer" autocomplete="off" value="">
        </div>

</div>


<div class="new_popup_bg" id="popBg" style="display: none;"></div>
<div class="new_popup_main popup_width680 pupop_video" id="questionPop" style="display: none;">
    <h2 class="new_popup_addCart_tit new_popup_changeTit01">
        <div class="addCrat_item_number">
            <span class="addCrat_item_numberTit">Have a question?</span>
        </div>
        <span class="icon iconfont" id="askHide"></span>
    </h2>
    <div id="QA_form">
        <input type="hidden" name="mOrPc" id="mOrPc" value="1">
        <div class="new_popup_content addCart_cont">
            <dl class="popup_con_dl">
                <dt>
                    <img src="#" width="120" height="120" id="popImg">
                </dt>
                <dd>
                    <h2 class="popup_con_dl_tit" id="popup_con_dl_tit"></h2>
                    <p class="popup_con_dl_txt"></p>
                </dd>
            </dl>

            <div class="input_block textarea-limit-numPo">
                <h2 class="popup_con_tit popup001">Question*</h2>
                <textarea id="q_contents" class="login_014 question_content_question" placeholder="Please write down the details of the question here." name="question_content" id="qa_question_content" maxlength="5000"></textarea>
                <p class="error_prompt"></p>
            </div>


            <div class="ask-aQuestion-lableBox">

                <div class="new_proDetails_loadBtn-box">

                    <button class="q_a_submit new_proDetails_loadBtn" type="button" value="Submit" id="qa_submit">
                        <span class="new_proDetails_loadTxt">Submit</span>
                        <div class="loader_order"><svg class="circular" viewBox="25 25 50 50">
                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>
                            </svg></div>
                    </button>
                </div>
            </div>
            <div class="ccc"></div>
        </div>
    </div>
</div>
    <script type="text/javascript" src="javascripts/footer.js"></script>
<!--footer-->

</div>
<%- include('partials/footer.ejs') %>
</body>
</html>