<!DOCTYPE html>
<html>
<head>
    <title>YOGEL</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script type="text/javascript"  src="../javascripts/jquery-3.5.1.min.js"></script>

    <script type="text/javascript"  src="javascripts/utility_fte.js"></script>
    <script type="text/javascript"  src="javascripts/elementui.js"></script>

    <link rel="shortcut icon" href="../images/logo_vudj.png" type="image/x-icon" />


    <link rel="stylesheet" href="../stylesheets/iconfont.css" />
    <link rel="stylesheet" href="../stylesheets/public.css" />
    <link rel="stylesheet" href="../stylesheets/backstage.css" />
    <link rel="stylesheet" href="../stylesheets/elementui.css" />

    <link rel="icon" href="https://img-en.fs.com/images/favicon.ico" type="image/x-icon" />

    <style>


    </style>

</head>


<body ondragstart="return false" data-new-gr-c-s-check-loaded="14.1010.0" data-gr-ext-installed="" style="">
<script>
    $(document).ready(function(){
        utility_fte.initHeaderBav();


    })
</script>
<!-- 顶部 -->
<%- include('partials/top.ejs') %>
<!-- 导航、搜索 -->
<%- include('partials/header.ejs') %>
<script>

</script>


<%if(quoteHistoryDetail){%>
<div>
    <span>mailTo:</span><span><%=quoteHistoryDetail.mailTo%></span>
</div>
<div>
    <span>quoteContents:</span><span><%=quoteHistoryDetail.quoteContents%></span>
</div>
<div>
    <span>adminMail:</span><span><%=quoteHistoryDetail.adminMail%></span>
</div>
<div>
    <span>adminName:</span><span><%=quoteHistoryDetail.adminName%></span>
</div>
<div>
    <span>replay:</span><span><%=quoteHistoryDetail.replay%></span>
</div>
<%}else{%>
This quote has not been replied yet.
<%}%>







<script>



</script>


<script type="text/javascript" src="javascripts/footer.js"></script>

<!--footer-->
<%- include('partials/footer.ejs') %>

</body>
</html>