<!DOCTYPE html>
<html>
<head>
<title>YOGEL</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript"  src="javascripts/jquery-3.5.1.min.js"></script>
<script type="text/javascript"  src="javascripts/header.js"></script>
    <script src="http://127.0.0.1:3001/socket.io/socket.io.js"></script>
<script type="text/javascript"  src="javascripts/utility_fte.js"></script>
<script type='text/javascript'>
$(document).ready(function(){

    const socket = io.connect('http://localhost:3001');
    socket.on("connection");
    function getProfile(){
        $.ajax({
            url: "/user_profile",
            dataType: "json",
            success: function (d) {
                if(d.code == 0){
                    // alert("用户未登录");
                }else if(d.code == 1){
                    var fullname = d.d;
                    $("#topHello").text(fullname);
                }
            }
        });
    }
    getProfile();
    utility_fte.initHeaderBav();

})
</script>
    <style>@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:url(https://img-en.fs.com/includes/templates/fiberstore/images/opensans.woff2);src:local('Open Sans'),local('OpenSans'),url(https://img-en.fs.com/includes/templates/fiberstore/images/opensans.woff2) format('woff2')}@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'),local('OpenSans-Light'),url(https://img-en.fs.com/includes/templates/fiberstore/images/opensans-light-webfont.woff2) format('woff2');}@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('opensans semibold webfont'),local('opensans-semibold-webfont'),url(https://img-en.fs.com/includes/templates/fiberstore/images/opensans-semibold-webfont.woff2) format('woff2');font-display: swap}    </style>
    <link rel="stylesheet" href="stylesheets/iconfont.css" />
    <link rel="stylesheet" href="stylesheets/public.css" />
    <link rel="stylesheet" href="stylesheets/swiper-sweetalert2.css" />
    <link rel="stylesheet" href="stylesheets/fs_home.css" />
    <link rel="stylesheet" href="stylesheets/new_index.css" />
    <link rel="stylesheet" href="stylesheets/media.css" />

    <link rel="stylesheet" href="stylesheets/cn/country_flag.css" />
    <link rel="stylesheet" href="stylesheets/cn/css.css" />
    <link rel="stylesheet" href="stylesheets/cn/fs_allCss.css" />

    <link rel="stylesheet" href="stylesheets/cn/index_popup_opinion.css" />
    <link rel="stylesheet" href="stylesheets/cn/media.css" />
    <link rel="stylesheet" href="stylesheets/cn/new_index.css" />
<!--    <link rel="stylesheet" href="stylesheets/cn/open_font.css" />-->

    <link rel="stylesheet" href="stylesheets/cn/public.css" />
<!--    <link rel="stylesheet" href="stylesheets/cn/swiper-3.4.0.min.css" />-->
<!--    <link rel="stylesheet" href="stylesheets/cn/top_bottom.css" />-->
    <style>
        .box{
            width:1200px!important;
        }
        .subPdInfo-wrap{
            margin-top:5px;
            background-color:#f7f7f7;
        }
        .p_content_02{
            background-color:#fff;
            padding:10px;
            padding-left:160px;

        }
        .breadcrumb-container{
            background-color:#fff;
            padding:10px;
            padding-left:160px;
        }
    </style>
</head>
<body>
<!-- 顶部 -->
<%- include('partials/top.ejs') %>
<!-- 导航、搜索 -->

<%- include('partials/header.ejs') %>
<div class="menu_02 breadcrumb-container">
    <dl class="breadcrumb" id="site-breadcrumb">
        <dt itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <meta itemprop="title" content="首页" />
            <a itemprop="url" href="https://cn.fs.com/"><i>首页</i></a>
        </dt>
        <dd itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="" style="display: block;">
            <a itemprop="url" href="https://cn.fs.com/c/fiber-cable-assemblies-209"> <span itemprop="title">光纤跳线&amp;尾纤</span> </a>
            <b></b>
            <dl>
                <div class="brd_list">
                    <dd style="display: block;">
                        <a href="https://cn.fs.com/c/mtp-mpo-fiber-cabling-899"><span>MTP&reg;/MPO光纤跳线</span></a>
                    </dd>
                    <dd style="display: block;">
                        <a href="https://cn.fs.com/c/fiber-patch-cables-261"><span>常规光纤跳线</span></a>
                    </dd>
                    <dd style="display: block;">
                        <a href="https://cn.fs.com/c/ultra-high-density-cables-1416"><span>数据中心光纤跳线</span></a>
                    </dd>
                    <dd style="display: block;">
                        <a href="https://cn.fs.com/c/pre-terminated-fiber-cables-3245"><span>预端接光纤跳线</span></a>
                    </dd>
                    <dd style="display: block;">
                        <a href="https://cn.fs.com/c/fiber-pigtails-1130"><span>光纤尾纤</span></a>
                    </dd>
                    <dd style="display: block;">
                        <a href="https://cn.fs.com/c/fiber-cable-assemblies-1414"><span>光纤跳线配件</span></a>
                    </dd>
                </div>
            </dl>
        </dd>
        <dd itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="" style="display: block;">
            <a itemprop="url" href="https://cn.fs.com/c/mtp-mpo-fiber-cabling-899"> <span itemprop="title">MTP&reg;/MPO光纤跳线</span> </a>
            <b></b>
            <dl>
                <div class="brd_list">
                    <dd style="display: block;">
                        <a href="https://cn.fs.com/c/mtp-trunk-cables-1135"><span>MTP&reg;/MPO主干跳线</span></a>
                    </dd>
                    <dd style="display: block;">
                        <a href="https://cn.fs.com/c/mtp-mpo-lc-plenum-harness-cables-1140"><span>MTP&reg;/MPO-LC分支跳线</span></a>
                    </dd>
                    <dd style="display: block;">
                        <a href="https://cn.fs.com/c/mtp-pro-standard-trunk-cables-3687"><span>MTP&reg; PRO极性转换主干跳线</span></a>
                    </dd>
                    <dd style="display: block;">
                        <a href="https://cn.fs.com/c/mtp-amp;reg;-mpo-conversion-cables-3769"><span>MTP&reg;/MPO转换跳线</span></a>
                    </dd>
                    <dd style="display: block;">
                        <a href="https://cn.fs.com/c/40g-100g-mtp-conversion-cables-3089"><span>MTP&reg; PRO光纤极性转换工具箱</span></a>
                    </dd>
                    <dd style="display: block;">
                        <a href="https://cn.fs.com/c/custom-mtp-mpo-cables-1125"><span>MTP&reg;/MPO光纤适配器</span></a>
                    </dd>
                    <dd style="display: block;">
                        <a href="https://cn.fs.com/c/custom-mtp-mpo-cables-3432"><span>定制MTP&reg;/MPO光纤跳线</span></a>
                    </dd>
                </div>
            </dl>
        </dd>
    </dl>
    <div class="ccc"></div>
</div>
<div class="p_content_02">
    <h1>MTP&reg;/MPO光纤跳线</h1>
</div>
<div class="subPdInfo-wrap">
    <div class="box  box_edit">


    <div class="content ">

        <!-- 这里是产品分类列表的筛选项 -->
        <div class="Fs-products-list">
            <div class="cn_screening_set after"></div>
        </div>
        <script>

            if($.trim($(".cn_list_menu").text())==""){
                $("div.cn_list_menu").remove();
            }
            window.onload = function () {
                if($('ul').find('.Filter_active').length>1) {
                    $('.narrow_list').find('a').attr('rel','nofollow');
                }else if($('ul').find('.Filter_active').length==1){
                    $('.narrow_list').parents('ul').find('a').attr('rel','nofollow');
                    $('.Filter_active').parents('ul').find('a').removeAttr('rel');
                }
            }
        </script>
        <div class="main_content_page">
            <!-- 排序 -->
            <style>.footer{margin-top: 50px !important;}</style>
            <div class="FS_Product_Top" id="products_list_top">
                <input type="hidden" class="ajax_page_value" value="1" />
                <input type="hidden" class="ajax_total_value" value="4" />
                <input type="hidden" class="ajax_num_value" value="2" />
                <input type="hidden" class="ajax_sort_value" value="sellers" />
                <input type="hidden" class="ajax_view_value" value="" />
                <ul class="after">
                    <li class="FS_Product_Queue_list"> <a class="Product_act" href="javascript:;" onclick="switch_sort('sellers')">推荐</a> <a class="prc" href="javascript:;" onclick="switch_sort('price')" title="价格由低到高">价格</a>
                      <a class="" href="javascript:;" onclick="switch_sort('rate')">评论</a> </li>
                    <li class="FS_Product_Top_center">

                        <div class="Fs_pagination_tips">
                            <em class="first_list_em"><i>Can't find the product? Click to </i><a href="https://cn.fs.com/oem.html">customize a product</a></em>
                            <em class="last_list_em"><span class="iconfont icon"></span><a href="https://cn.fs.com/oem.html">产品定制</a></em>
                        </div> </li>
                    <li class="FS_Product_Top_Switch">
                        <div class="FS_Product_Top_Switch_pag">

                        </div>
                        <div class="FS_Product_Top_Switch_num">
                            <i><%=data.length%></i> products in total
                        </div>

                    </li>
                </ul>
            </div>
            <div class="FS_ProductList">
                <!--网格排列-->
                <div class="FS_ProductListBox Filter_active" id="con_one_1">
                    <% data.forEach(function(d){%>
                    <div class="FS_ProductList_Item">
                        <div class="FS_ProductItem FS_ProductItem_tagsItem">
<!--                            <span class="FS_ProductList_Item_pre item_pre_hotsale"></span>-->
                            <div class="FS_ProductItem_Pic">
                                <a href="/pdinfo?pid=<%= d.id%>"><img src="<%= d.url%>"  width="200" height="200" /></a>
                            </div>
                            <div class="new_proList_ListBox">
                                <ul class="new_proList_List01">
                                    <li class="new_proList_ListSizes after">
                                        <div class="new_proList_ListSizes_list new_proList_ListSizes_list_text">

                                        </div> </li>
                                    <li class="FS_ProductItem_Name ProductItem_name"> <a class="FS_ProductItem_Namez01"  href="/pdinfo?pid=<%= d.id%>"><%= d.des%></a> </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>






        </div>
        <div class="ccc"></div>
    </div>

    <div class="ccc"></div>
</div>
</div>


<script type="text/javascript" src="javascripts/footer.js"></script>
<%- include('partials/footer.ejs') %>
</body>