<!DOCTYPE html>
<html>
<head>
    <title>YOGEL</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 

    <script type="text/javascript"  src="../javascripts/ec.js"></script>
    <script type="text/javascript"  src="../javascripts/jquery-3.5.1.min.js"></script>
    <script type="text/javascript"  src="../javascripts/js_cdn.js"></script>
    <script type="text/javascript"  src="../javascripts/header.js"></script>
    <script type="text/javascript"  src="../javascripts/utility_fte.js"></script>
    <script type="text/javascript"  src="../javascripts/vue.js"></script>
    <script type="text/javascript"  src="../javascripts/handlebars-v4.7.7.js"></script>
    <script type="text/javascript"  src="../javascripts/product_list.js"></script>
    <script src="http://127.0.0.1:3001/socket.io/socket.io.js"></script>
    <script>
    $(document).ready(function () {

    })
    </script>
     <style>
         #app{
             padding:10px;
         }
        .subCatid{
            display: none;
        }
        .subCatli{
           cursor: pointer;
           line-height: 30px;
           font-size:15px;
           
    
        }
        .subCatli-ul{
           
        }
    </style>

    <script>
    var subCatUrl = null;
    var subGpdLists = null;
    const host = '<%= host %>';
</script>
<script>
    $(document).ready(function(){
        utility_fte.initHeaderBav();
        function addSubCatLink(){
            
        }
        addSubCatLink();
    });
</script>
</head>


<style>@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:url(https://img-en.fs.com/includes/templates/fiberstore/images/opensans.woff2);src:local('Open Sans'),local('OpenSans'),url(https://img-en.fs.com/includes/templates/fiberstore/images/opensans.woff2) format('woff2')}@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'),local('OpenSans-Light'),url(https://img-en.fs.com/includes/templates/fiberstore/images/opensans-light-webfont.woff2) format('woff2');}@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('opensans semibold webfont'),local('opensans-semibold-webfont'),url(https://img-en.fs.com/includes/templates/fiberstore/images/opensans-semibold-webfont.woff2) format('woff2');font-display: swap}    </style> 


<link rel="stylesheet" href="../stylesheets/iconfont.css" />
<link rel="stylesheet" href="../stylesheets/public.css" />
<link rel="stylesheet" href="../stylesheets/swiper-sweetalert2.css" />
<link rel="stylesheet" href="../stylesheets/new_product_list.css" />
<link rel="stylesheet" href="../stylesheets/css1.css" />
<link rel="stylesheet" href="../stylesheets/product_detail.css" />
<link rel="stylesheet" href="../stylesheets/serch_result.css" />


<link rel="stylesheet" href="../stylesheets/cn/productInfo.css" />

<body ondragstart="return false" data-new-gr-c-s-check-loaded="14.1010.0" data-gr-ext-installed="" style="">
<!--top-->
<%- include('partials/top.ejs') %>
<%- include('partials/header.ejs') %>
<!--产品页面-->

<div class="box">
    <%- include('partials/nav.ejs') %>
    <div class="remove_bg"></div>
    <div class="subPrdView"></div>
    <div class="hover tab-description-page">
        <input id="supCatId" type="hidden" value="<%=supCatId%>">
        <div id="app" style="min-height: 600px;">
         
            <!-- <ul>
                <li v-if="supCatId==(index + 1)"  v-for="(item,index) in gpdLists">{{item.des}}</li>
            </ul> -->
            <ul class='subCatli-ul'>
                <li class='subCatli' v-if="supCatId==item.parentID" v-on:click="toSubCat($event)" v-for="item in subGpdLists"><span class='subCatid'>{{item.id}}</span>{{item.des}}</li>
            </ul>
        </div>
        <div class="proImg_describe_box">
            <div class="detail_proLeft">
                <div class="detail_proImg_top" style="position: relative">

                    <div id="img_loading" style="display:none;width:420px; height:420px; text-align:center; background:#fff;  position:absolute;z-index:95; top:0; left:50%; transform: translateX(-50%);">
                        <div id="loader_order_alone" class="loader_order" style="z-index:29999999;">
                            <svg class="circular" viewBox="25 25 50 50">
                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
                                        stroke-miterlimit="10">
                                </circle>
                            </svg>
                        </div>
                    </div>
                    <div>

                    
                    </div>
           
                </div>
                <div class="detail_proImg_bottom">
                    <div class="proImg_check_carousel">

                        <div class="proImg_check_carousel_cont swiper-container swiper-container-horizontal">

                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>


    <div class="hover tab-description-page">
        <script type="text/javascript" src="javascripts/footer.js"></script>
    <%- include('partials/footer.ejs') %>
    </div>
</div>

<script>

    const app = new Vue({
        el:"#app",
        data:{
            supCatId:0,
            gpdLists:null,
            subGpdLists:null
            
        },

        methods:{
            sortSubCat(){
                
            },
            toSubCat(e){
     
                const subCatId = $(e.target).find("span.subCatid").text();
                window.location.href = "http://"+ host + ":3000/sub_pdinfo?gpid=" + subCatId;
                
            }
        },
        created() {
            this.supCatId = $("#supCatId").val();


            var that = this;
            this.supCatId = $("#supCatId").val();
            $.ajax({
                url: "/GetSupCat",
                dataType: "json",
                success: function (d) {
                    that.gpdLists = d.gpdLists;
                    that.subGpdLists = d.subGpdLists;
                    subGpdLists = d.subGpdLists;
                
                }
            });
        },
        mounted(){

        }
    });

    // var Ctor = Vue.extend(Main)
    // new app().$mount('#app')
</script>

</body>
</html>