<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en">
<head>
    <title>YOGEL</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript"  src="../javascripts/ec.js"></script>
    <script type="text/javascript"  src="../javascripts/jquery-3.5.1.min.js"></script>
    <script type="text/javascript"  src="../javascripts/js_cdn.js"></script>
    <script type="text/javascript"  src="../javascripts/header.js"></script>
    <script type="text/javascript"  src="javascripts/utility_fte.js"></script>
</head>
<link rel="shortcut icon" href="../images/logo_vudj.png" type="image/x-icon" />

<link rel="stylesheet" href="../stylesheets/iconfont.css" />
<link rel="stylesheet" href="../stylesheets/public.css" />
<link rel="stylesheet" href="../stylesheets/swiper-sweetalert2.css" />
<link rel="stylesheet" href="../stylesheets/fs_allCss.css" />
<link rel="stylesheet" href="../stylesheets/new-list-m.css" />
<link rel="stylesheet" href="../stylesheets/serch_result.css">
<body ondragstart="return false" data-new-gr-c-s-check-loaded="14.1010.0" data-gr-ext-installed="" style="">
<script>
    $(document).ready(function(){
        utility_fte.initHeaderBav();

    
        $(document).find("*").not(".new_proList_mainProse").bind("click", function(e){
            if(e.target == this){
                if($(".sortOptions").is(':visible')){
                    $(".sortOptions").hide();
                }
            }
        });
    })
</script>
<script>
    function hide_sort(){
        $(".sortOptions").hide();
    }


    function show_sort(){
        $(".sortOptions").show();
    }
    function sort_low_to_high(){
        var pd_price = [];
        var lth = function (a,b){
            return a - b;
        };
        $(".new_proList_mainListL ").find(".new_proList_mainListLi").each(function(i, v){
            pd_price.push( parseInt($.trim($(v).find(".pd-price").text())));
        });
        pd_price.sort(lth);

        for(var i = 0; i < pd_price.length; i++){
            $(".new_proList_mainListL ").find(".new_proList_mainListLi").each(function(q, c){
                if($.trim($(c).find(".pd-price").text()) == pd_price[i]){
                    $(c).appendTo($(".new_proList_mainListL "));
                }
            });
        }
        hide_sort();
        $(".popularity_view_sortPriceTxt").text("Price:Low to High");
    }

    function sort_high_to_low(){
        var pd_price = [];
        var lth = function (a,b){
            return b - a;
        };
        $(".new_proList_mainListL ").find(".new_proList_mainListLi").each(function(i, v){
            pd_price.push( parseInt($.trim($(v).find(".pd-price").text())));
        });
        pd_price.sort(lth);

        for(var i = 0; i < pd_price.length; i++){
            $(".new_proList_mainListL ").find(".new_proList_mainListLi").each(function(q, c){
                if($.trim($(c).find(".pd-price").text()) == pd_price[i]){
                    $(c).appendTo($(".new_proList_mainListL "));
                }
            });
        }
        hide_sort();
        $(".popularity_view_sortPriceTxt").text("Price:High to Low");
    }
</script>
<!-- 顶部 -->
<%- include('partials/top.ejs') %>
<!-- 导航、搜索 -->

<%- include('partials/header.ejs') %>
<div class="content  ">
    <div class="">
        <div class="serch_result_box">
            <div class="new_proList_proListBox">
                <div class="new_proList_proListTop_box">
                    <div class="new_proList_proListTop">
                        <div class="menu_list_new">
                            <dl class="menu_list_cont">
                                <dt class="back_Home">
                                    <meta itemprop="title" content="Home">
                                    <a itemprop="url" href="#">
                                        <span>Home</span>
                                        <i>
                                        </i>
                                    </a>
                                </dt>
                                <dd class="Home_next">
                                    <span>Search Results</span></dd>
                            </dl>
                        </div>
                        <div class="new_proList_proListTIB">
                            <h1 class="new_proList_proListTit"></h1>
                            <h1 class="new_proList_proListTit">
                                <span class="new_proList_proListNtit">Search result for</span>“<%=searchContents%>“</h1>

                            <div class="serch_proAsource_tabBox after">
                                <div class="serch_proAsource_tab choosez" tabdata="prolist" data-result-number="1">Product</div>
                                <div class="serch_proAsource_tab " tabdata="doAndre_list" data-result-number="9">Document &amp; Resources</div>
                                <span class="home_compati" style="left: 10.2688px;"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="serch_prolist_box">
                    <div class="serch_result_tabProBox">
                        <div class="serch_prolist_checkBox choosez" id="prolist">
                            <div class="new_proList_bigTabBox">
                                <div class="new_proList_mainProseBox">
                                    <div class="new_proList_mainProse">
                                        <dl class="popularity_view_listz1 new_proList_autoDev">
                                            <dt class="popularity_view_sortz1">
                                                <p>Categories
                                                    <span class="iconfont icon"></span></p>
                                            </dt>
                                            <dd class="popularity_view_listz1_li" style="display: none; opacity: 1;">
                                                <div class="popularity_view_listArrow"></div>
                                                <div class="popularity_view_listz1_liBox01">
                                                    <div class="popularity_view_listz1_liMain">
                                                        <a href="#">
                                                            <div class="new_proList_mainLabel ">Enterprise WIFI</div></a>
                                                    </div>
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl class="popularity_view_listz1 ">
                                            <dt class="popularity_view_sortz1" class="sort_search" onclick="show_sort();">
                                                <p>
                                                    <span class="popularity_view_sortTxt">Sort by :</span>
                                                    <span class="popularity_view_sortPriceTxt">Popularity</span>
                                                    
                                                    <span class="iconfont icon"></span></p>
                                            </dt>
                                            <dd class="popularity_view_listz1_li sortOptions">
                                                <div class="popularity_view_listz1_liMain " data="price" onclick="sort_low_to_high();">
                                                    <p>Price: Low to High</p>
                                                </div>
                                                <div class="popularity_view_listz1_liMain " data="priced" onclick="sort_high_to_low();">
                                                    <p>Price: High to Low</p>
                                                </div>
                                                <div class="popularity_view_listz1_liMain " data="rate" onclick="change_sort_order_by_new($(this).attr('data'),'images','',$(this))">
                                                    <p>Rate: High to Low</p>
                                                </div>
                                                <div class="popularity_view_listz1_liMain " data="new" onclick="change_sort_order_by_new($(this).attr('data'),'images','',$(this))">
                                                    <p>Newest First</p>
                                                </div>
                                                <div class="popularity_view_listz1_liMain choosez" data="popularity" onclick="change_sort_order_by_new($(this).attr('data'),'images','',$(this))">
                                                    <p>Popularity</p>
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="pro_newSee_allBox">
                                        <div class="new_proList_resultTxt"><%=dataLength%> Result</div></div>
                                </div>
                            </div>
                            <div class="new_proList_LTBOX">
                                <!--产品列表1-->
                                <ul class="new_proList_mainListL " id="con_one_2">
                                    <% searchResult.forEach(function(d){%>
                                    <li class="new_proList_mainListLi">
                                        <div>
                                            <div class="hot_product_tag">Hot</div>
                                            <div class="new_proList_ListTop">
                                                <div class="new_proList_ListImg">
                                                    <a href="/pdinfo?pid=<%=d.id%>" target="_blank">
                                                        <img src="<%=d.url%>"  width="180" height="180"></a>
                                                        <div class="video_play_btn">
                                                            <span class="video_play_ic" onclick="my_video_play(this)" data-title="AP-W6D2400C Access Point" data-link="https://www.youtube.com/embed/ZAECFmRqSEI?rel=0&amp;showinfo=0">
                                                            <div class="video_content_open_play">
                                                                <span></span>
                                                            </div>
                                                            </span>
                                                        </div>
                                                    <div class="new_proList_QkviewBtn">
                                                        <a href="javascript:;" name="Add to Cart" onclick="ajax_get_one_product_qv_show(this)" data-product-id="108704">
                                                            <div class="new_proList_QkviewBtnTa">
                                                                <div class="new_proList_QkviewBtnTaCe icon iconfont"></div></div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="new_proList_ListBottom">
                                                <h3 class="new_proList_ListBlink">
                                                    <a href="#" target="_blank" ><%=d.des%></a></h3>
                                                price:<span class="pd-price"><%=d.price%></span>


                                    </li>
                                    <% }) %>
                                </ul>
                                <!--分页1-->



                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- 回到顶部按钮 -->
        <div class="new_proList_goTop" onclick="_proGotop()" style="display: block;">
            <span class="iconfont icon"></span></div>

    </div>
    <div class="ccc"></div>
</div>

<script type="text/javascript" src="javascripts/footer.js"></script>
<!--footer-->
<%- include('partials/footer.ejs') %>
</body>
</html>