<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en">
<head>
    <title>YOGEL</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript"  src="../javascripts/ec.js"></script>
    <script type="text/javascript"  src="../javascripts/jquery-3.5.1.min.js"></script>
    <script type="text/javascript"  src="../javascripts/js_cdn.js"></script>
    <script type="text/javascript"  src="../javascripts/header.js"></script>
    <script type="text/javascript"  src="../javascripts/utility_fte.js"></script>
   <!-- <script type="text/javascript"  src="../javascripts/vue.js"></script> -->
    <script type="text/javascript"  src="../javascripts/handlebars-v4.7.7.js"></script>
    <script type="text/javascript"  src="../javascripts/product_list.js"></script>
    <script src="http://127.0.0.1:3001/socket.io/socket.io.js"></script>
    <script>
    $(document).ready(function () {
        function input_complex_pd_data(){
            //#store-optional-module
            //#store-selections
            //#store-spec-table
            if($("#store-optional-modules").length > 0){
                //数据库中字段optional_modules有值 js拿出来后插入dom
                var store_optional_modules = $("#store-optional-modules").text();
                store_optional_modules = $(store_optional_modules);
                $("#input_optional_modules").append(store_optional_modules);
            }
            if($("#store-selections").length > 0){
                //数据库中字段selections有值 js拿出来后插入dom
                var store_selections = $("#store-selections").text();
                store_selections = $(store_selections);
                $("#input_selections").append(store_selections);
            }
            if($("#store-spec-table").length > 0){
                var store_spec_table = $("#store-spec-table").text();
                store_spec_table = $(store_spec_table);
                $("#input_spec_table").append(store_spec_table);
            }
        }
        input_complex_pd_data();
    })
    </script>

</head>
<style>
    .new_popup_bg{
        z-index: 11!important;
    }
    .tab-description-page{
        margin:50px!important;
        margin-top:30px!important;
    }
</style>
<script type='text/javascript'>
    $(document).ready(function(){
        var acc_email = '';
        // var _qa = null;
        function qa() {
            var pid = utility_fte.get_pid();
            $.ajax({
                url: "/qa",
                dataType: "json",
                type:"post",
                data:{
                    pid:pid
                },
                success: function (d) {
                    if(d.code == 1){
                        var container = document.querySelector('#QA_ul');
                        var templateDom = document.querySelector('#template');
                        var template = Handlebars.compile(templateDom.innerHTML);
                        var data = d.data;
                        for(var i = 0; i < data.length; i++){
                            if(data[i].answ == 'null'){
                                data[i].answ = "This question has not been answered";
                                data[i].ques_admin = "";
                            }
                        }
                        container.innerHTML = template(data);
                    }
                }
            });
        }
        qa();

        $("#askHide").bind("click",function (e) {
            $("#popBg").hide();
            $("#questionPop").hide();
        });
        $("#askShow").bind("click",function (e){
            //用promise机制修改
            $.ajax({
                url: "/is_sign_in",
                dataType: "json",
                success: function (d) {
                    if(d.code == 0){
                        window.location.href = "/login";
                    }else{
                        acc_email = d.acc_email;
                        var pd_img = $("#pd_img").attr("src");
                        $("#popImg").attr("src",pd_img);
                        var pd_des = $("#detailFontBold").text();
                        $("#popup_con_dl_tit").text(pd_des);
                        $("#popBg").show();
                        $("#questionPop").show();
                    }
                }
            });
        });

        $("#qa_submit").bind("click",function (e) {
                var qVal = $("#q_contents").val();
                if(qVal.length <= 0){
                    alert("Please enter your question.");
                    return false;
                }
                $.ajax({
                    url: "/raise_question",
                    dataType: "json",
                    data:{
                        "question":qVal,
                        "acc_email":acc_email,
                        "img":$("#pd_img").attr("src"),
                        "pd_des":$.trim($("#detailFontBold").text()),
                        "url":window.location.href,
                        "pid":utility_fte.get_pid()
                    },
                    type:"post",
                    success: function (d) {
                        if(d.code == 1){
                            alert(d.data);
                            window.location.href = window.location.href;
                        }
                    }
                });
        });


        
        function getRelatedPd() {
            var pid = utility_fte.get_pid();
            $.ajax({
                url: "/get_related_pd",
                dataType: "json",
                type:"post",
                data:{
                    pid:pid
                },
                success: function (d) {
                    if(d.code == 1){
                        var otherPd = [];
                        var data = d.data;//array
                        for(var i = 0; i < data.length; i++){
                            if(data[i].id != pid){
                                otherPd.push(data[i]);
                            }
                        }
                        var container = document.querySelector('#pd_models');
                        var templateDom = document.querySelector('#template_pd_model');
                        var template = Handlebars.compile(templateDom.innerHTML);
                        container.innerHTML = template(otherPd);
                    }
                }
            });
        }
        getRelatedPd();
        utility_fte.initHeaderBav();


        $("#c_add_cart").bind("click",function (e) {
            // alert($(this).attr("pd"));


            var pid = ($(this).attr("pd"));
            var qty = parseInt($(cart_quantity).val());
            addCart(pid,qty);

        });

        function addCart(pid,qty){
            $.ajax({
                url: "/add_cart",
                dataType: "json",
                type:"post",
                data:{
                    pid:pid,
                    qty:qty
                },
                success: function (d) {
                    if(d.code == 1){
                        // alert(d.data);
                        window.examples['theme-modern']();
                        fixPop();
                        givePopVal("The product has been added to your shipping cart.");

                        //window.location.href = "/cart";
                    }else{
                        alert(d.data);
                        window.location.href = "/login";
                    }
                }
            });
        }

        $("#reducePd").bind("click",function (e) {
            var currentVal = parseInt($("#cart_quantity").val()) - 1;
            if(currentVal == 0){
                return false;
            }
            $("#cart_quantity").val(currentVal)
        });
        $("#addPd").bind("click",function (e) {
            var currentVal = parseInt($("#cart_quantity").val()) + 1;
            $("#cart_quantity").val(currentVal)
        });


    });
</script>

<link rel="icon" href="https://img-en.fs.com/images/favicon.ico" type="image/x-icon" /> 
<link rel="shortcut icon" href="../images/logo_vudj.png" type="image/x-icon" /> 



<link rel="stylesheet" href="../stylesheets/iconfont.css" />
<link rel="stylesheet" href="../stylesheets/public.css" />
<link rel="stylesheet" href="../stylesheets/swiper-sweetalert2.css" />
<link rel="stylesheet" href="../stylesheets/new_product_list.css" />
<link rel="stylesheet" href="../stylesheets/css1.css" />
<link rel="stylesheet" href="../stylesheets/product_detail.css" />
<link rel="stylesheet" href="../stylesheets/serch_result.css" />


<!--<link rel="stylesheet" href="../stylesheets/cn/top_bottom.css" />-->
<!--<link rel="stylesheet" href="../stylesheets/cn/fs_allCss.css" />-->
<link rel="stylesheet" href="../stylesheets/cn/productInfo.css" />

<body ondragstart="return false" data-new-gr-c-s-check-loaded="14.1010.0" data-gr-ext-installed="" style="">
<!--top-->
<%- include('partials/top.ejs') %>
<%- include('partials/header.ejs') %>
<!--产品页面-->

<div class="box">
    <%- include('partials/nav.ejs') %>
    <div class="remove_bg"></div>
    <div class="subPrdView"></div>
    <div class="hover tab-description-page">
        <div class="proImg_describe_box">
            <div class="detail_proLeft">
                <div class="detail_proImg_top" style="position: relative">

                    <div id="img_loading" style="display:none;width:420px; height:420px; text-align:center; background:#fff;  position:absolute;z-index:95; top:0; left:50%; transform: translateX(-50%);">
                        <div id="loader_order_alone" class="loader_order" style="z-index:29999999;">
                            <svg class="circular" viewBox="25 25 50 50">
                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
                                        stroke-miterlimit="10">
                                </circle>
                            </svg>
                        </div>
                    </div>
                    <div class="featurePics_proImg">
                        <!--视频播放代码-->
                        <a class="proImg_alink" href="javascript:;">
                            <img id="pd_img" src="<%=pdGenerInfo.url %>" />
                        </a>
                    </div>
                    <!-- <div class="proImg_enlarge">
                        Click to open expanded view
                    </div> -->
                </div>
                <div class="detail_proImg_bottom">
                    <div class="proImg_check_carousel">

                        <div class="proImg_check_carousel_cont swiper-container swiper-container-horizontal">

                        </div>
                    </div>
                </div>
            </div>
            <div class="detail_proRight">
                <div class="detail_proDecribe_tit">
                    <h1 class="detailFontBold" id="detailFontBold">
                        <%=pdGenerInfo.des%>
                    </h1>
                    <span>
<!--                    #110485-->
                </span>



                </div>
                <div class="new_proList_applyBox after">

                </div>
                <div class="product_details_sales_container">
                    <div class="product_details_sales_left">
                        <div class="detail_proPrice price_ru" id="productsbaseprice">
                            <%=pdGenerInfo.price%>
                        </div>
                        <div class="fs_pro_Prodiscount_box" style="display:none">
                        </div>
                        <p class="detail_FSP_N">
                            Yogel P/D:
                            <span>
<!--                            NC8200-24BC-->
                        </span>
                        </p>
                    </div>
                    <div class="product_details_sales_right">
                        <ul class="product_details_sales_ul">
                            <li>
                            <span class="new_sales">
                                <em>
                                    0
                                </em>
                                Sold
                            </span>
                            </li>
                            <li>
                            <span class="gotoReview new_reviews" id="review1">
                                <em>
                                    0
                                </em>
                                Review
                            </span>
                            </li>
                            <li>
                            <span class="gotoQuestion" id="question1">
                                <em>
                                    3
                                </em>
                                Questions
                            </span>
                            </li>
                        </ul>
                        <div class="product_details_live_chat_container">
                            <a class="product_details_live_chat" href="javascript:;" onclick="LC_API.open_chat_window();return false;">
                                <i class="iconfont icon">
                                    
                                </i>
                                <span>
                                Live Chat
                            </span>
                            </a>
                        </div>
                    </div>
                </div>






                <div class="detail_transceiver_type">
                    <dl id="pd_models">
                        <dt>
                            Models:
                        </dt>
                        <script type="text/x-handlebars-template" id="template_pd_model">
                            {{#each this}}
                                <dd class=" pro_item match_products">
                                    <a href="/pdinfo?pid={{id}}">
                                    <img src="{{url}}"
                                         width="60" height="60" />
                                    {{des}}
                                    </a>
                                </dd>
                            {{/each}}
                        </script>
                    </dl>
                    <div class="ccc">
                    </div>
                </div>

                <!--custom products tips-->

                <div class="newDetail_addCart_box" id="product_add_to_cart">
                    <div class="newPro_common_num_cont product_03_08 product_03_24">
                        <input type="text" value="1" class="p_07 product_03_10" name="cart_quantity"
                               onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onafterpaste="this.value=this.value.replace(/[^\d]/g,'')"
                               maxlength="5" min="1" id="cart_quantity" onchange="check_min_qty01(this,110485)"
                               onblur="fslocking(110485);">
                        <div class="pro_mun">
                            <a href="javascript:void(0)" class="cart_qty_add" id="addPd">
                            <span class="iconfont icon">
                            </span>
                            </a>
                            <a href="javascript:void(0)" class="cart_qty_reduce cart_reduce" id="reducePd">
                            <span class="iconfont icon">
                            </span>
                            </a>
                        </div>
                    </div>
                    <button type="button" id="prod_add_110485" onclick="prodAddToCart(110485,$(this))"
                            value="Add to Cart" name="Add to Cart" class="new_pro_addCart_btn ">
                        <div class="new_pro_addCart_mainDev after">
                        <span class="icon iconfont add_to_cart_iconfont">
                            
                        </span>
                            <a href="javascript:void(0)" style="color:#fff;" id="c_add_cart" pd="<%=pid%>">Add to Cart</a>
                        </div>
                        <div class="new_addCart_loading choosez">
                            <div class="new_chec_bg">
                            </div>
                            <div class="loader_order">
                                <svg class="circular" viewBox="25 25 50 50">
                                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4"
                                            stroke-miterlimit="10">
                                    </circle>
                                </svg>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="ccc">
                </div>

                <div class="detail_foot_link">
                    <div class="warranty_optimization">
                        <p class="warranty_optimization_tit">
                            Professional Quality Testing Program for Data Center Switches.
                        </p>
                        <ul class="warranty_optimization_ul after">
                            <li>
                                <em class="spot">
                                </em>
                                <a class="warranty_optimization_a" href="/"
                                   target="_blank">
                                    Shipping &amp; Delivery
                                </a>
                            </li>
                            <li>
                                <em class="spot">
                                </em>
                                <a class="warranty_optimization_a" href="/policies/warranty.html" target="_blank">
                                    5 Years Warranty
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <script type="text/javascript">
                var is_inquiry = 0;
            </script>
            <div class="ccc">
            </div>
            <div class="ccc">
            </div>
            <!-- </div>-->
            <div class="ccc">
            </div>
        </div>
    </div>

    <!--Product Information-->
    <% if (pdInformation) { %>
    <div class="hover tab-description-page" id="specifications">
        <div class="p_con_new_tit01">
            <div>
                Product Information
            </div>
        </div>
        <div class="m_product_desctable_box">
            <%=pdInformation%>
        </div>
        <div class="p_con_02">

        </div>
        <hr>
        <hr>
    </div>
    <%}%>
    <!--Product Description-->
    <% if (pdDescription) { %>
    <div class="hover tab-description-page" id="specifications">
        <div class="p_con_new_tit01">
            <div>
                Product Description
            </div>
        </div>
        <div class="m_product_desctable_box">
            <%=pdDescription%>
        </div>
        <div class="p_con_02">

        </div>
        <hr>
        <hr>
    </div>
    <%}%>
    <!--Product Features array-->
    <% if (pdFeature) { %>
    <div class="hover tab-description-page" id="specifications">
        <div class="p_con_new_tit01">
            <div>
                Product Features
            </div>
        </div>
        <div class="m_product_desctable_box">
            <ul>
            <% for (var i = 0; i < pdFeature.length; i++) {%>
                <li>
                    <%=pdFeature[i]%>
                </li>
            <% } %>
        </ul>
        </div>
        <div class="p_con_02">

        </div>
        <hr>
        <hr>
    </div>
    <%}%>
    <!--old specification-->
    <% if (JSON.stringify(pdSpe)!= '{}') { %>
    <div class="hover tab-description-page" id="specifications">
        <div class="p_con_new_tit01">
            <div>
                Specifications
            </div>
        </div>

        <div class="p_con_new_tit02">
            Product Specifications
        </div>
        <div class="m_product_desctable_box">
            <div class="m_product_desctable_listBg">
            </div>
            <% for(q in pdSpe){%>
                <div>
                    <span><%=q%>:</span>
                    <span><%=pdSpe[q]%></span>
                    <!--表 product_specfication 中的 specfications 字段 -->
                </div>
            <% } %>
        </div>
        <div class="p_con_02">
        </div>
        <hr>

        <hr>

    </div>
    <%}%>
    <!--specification in format-->
    <% if (JSON.stringify(specifications_formated) != '{}') { %>
        <div class="hover tab-description-page" id="specifications">
            <div class="p_con_new_tit01">
                <div>
                    Specifications
                </div>
            </div>

            <div class="m_product_desctable_box">
                <div class="m_product_desctable_listBg">
                </div>
                <div class="news_parameter news_parameter_tabbox">
                    <div class="news_parameter_tablebox">
                        <table border="0" cellpadding="0" cellspacing="0" class="new_solu_table"
                               width="100%">
                            <tbody>
                            <%for(key in specifications_formated){%>
                                <tr>
                                    <td><b><%=key%></b></td>
                                    <td><b><%=specifications_formated[key]%></b></td>
                                </tr>
                            <% }%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="p_con_02">
            </div>
            <hr>

            <hr>

        </div>
     <%}%>
    <!--physical:array-->
    <% if (physical.length > 0) { %>
        <div class="hover tab-description-page" id="specifications">
            <div class="p_con_new_tit01">
                <div>
                    Physical
                </div>
            </div>
            <div class="m_product_desctable_box">
                <ul>
                    <% for (var c = 0; c < physical.length; c++) {%>
                    <li>
                        <%=physical[c]%>
                    </li>
                    <% } %>
                </ul>
            </div>
            <div class="p_con_02">

            </div>
            <hr>
            <hr>
        </div>
    <%}%>

    <!--optional_modules:string-->
    <% if (optional_modules) { %>
        <div id="store-optional-modules" style="display: none;">
            <%=optional_modules%>
        </div>
        <div class="hover tab-description-page" id="specifications">
            <div class="p_con_new_tit01">
                <div>
                    Optional modules
                </div>
            </div>
            <div class="m_product_desctable_box">
                <div class="product-description-table">
                    <div class="product-description-table-main after" id="input_optional_modules">
                    </div>
                </div>
            </div>
            <div class="p_con_02">

            </div>
            <hr>
            <hr>
        </div>
    <%}%>

    <!--selections:string-->
    <% if (selections) { %>
    <div id="store-selections" style="display: none;">
        <%=selections%>
    </div>
    <div class="hover tab-description-page" id="specifications">
        <div class="p_con_new_tit01">
            <div>
                Selections
            </div>
        </div>
        <div class="m_product_desctable_box">
            <div class="product-description-table">
                <div class="product-description-table-main after" id="input_selections">
                </div>
            </div>
        </div>
        <div class="p_con_02">

        </div>
        <hr>
        <hr>
    </div>
    <%}%>


    <!--spe_table:string-->
    <% if (specifications_table) { %>
    <div id="store-spec-table" style="display: none;">
        <%=specifications_table%>
    </div>
    <div class="hover tab-description-page" id="specifications">
        <div class="p_con_new_tit01">
            <div>
                Specifications
            </div>
        </div>
        <div class="m_product_desctable_box">
            <div class="product-description-table">
                <div class="product-description-table-main after" id="input_spec_table">
                </div>
            </div>
        </div>
        <div class="p_con_02">

        </div>
        <hr>
        <hr>
    </div>
    <%}%>




    <!--order Information array-->
    <% if (order_Information.length > 0) { %>
        <div class="hover tab-description-page" id="specifications">
            <div class="p_con_new_tit01">
                <div>
                    Order Information
                </div>
            </div>
            <div class="m_product_desctable_box">
                <ul>
                    <% for (var u = 0; u < order_Information.length; u++) {%>
                    <li>
                        <%=order_Information[u]%>
                    </li>
                    <% } %>
                </ul>
            </div>
            <div class="p_con_02">

            </div>
            <hr>
            <hr>
        </div>
    <%}%>

    <div class="hover tab-description-page">
        <div class="product-reviews-box" id="qa">
            <div class="QA_show" id="QA-outer-title">
                <div class="p_hot_01 QA_card">
                    <b>
				<span name="reviews">
					Questions &amp; Answers
				</span>
                    </b>
                    <p>

                        <a href="javascript:;" class="show_QA_ask_window toSign-tips-hoverBox " id="askShow">
                            Ask a question
                        </a>
                    </p>
                </div>
                <div class="pro17_QA product_review">
                    <div class="pro17_container">
                    <!--用户问题-->
                        <ul id="QA_ul">
                            <script type="text/x-handlebars-template" id="template">
                                {{#each this}}
                                    <li class="li_show">
                                        <div class="pro17_Q_tit qa_result">
                                            <div class="qa_container">
                                                <dl class="qa_result_dl">
                                                    <dt>
                                                        <div class="qa_result_dlFlex">
									<span>
										Q:
									</span>
                                                            <p>
                                                                <a class="qa_a_hover" href="#">
                                                                    {{ques}}
                                                                </a>
                                                                <strong class="pro_hiden01">
                                                                    By {{ques_user}}
                                                                </strong>
                                                            </p>
                                                        </div>
                                                    </dt>
                                                    <!-- answer block -->



                                                    <div class="answer_block">
                                                        <dd class="">
                                                            <div class="qa_overflow">
                                                                <div class="qa_result_ddFlex">
											<span>
												A:
											</span>
                                                                    <p>
                                                                        {{answ}}
                                                                        <strong class="pro_hiden01">
                                                                            By {{ques_admin}}
                                                                        </strong>
                                                                    </p>
                                                                </div>

                                                                <p class="question_answering" style="display:none;">
                                                                    <a href="customer_qa.html?qid=72962&amp;type=0">
                                                                        Answer this Question
                                                                        <em class="iconfont icon">
                                                                            
                                                                        </em>
                                                                    </a>
                                                                </p>
                                                            </div>
                                                        </dd>
                                                    </div>




                                                </dl>
                                            </div>
                                        </div>
                                    </li>

                                {{/each}}
                            </script>

                        </ul>
                    </div>
                    <div id="show_qa_loading" style="display: none;">
                        <div class="spinWrap list_fsLoading" style="position:absolute;">
                            <div class="bg_color">
                            </div>
                            <div id="loader_order_alone" class="loader_order">
                                <svg class="circular" viewBox="25 25 50 50">
                                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
                                            stroke-miterlimit="10">
                                    </circle>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header_main_search" style="display: none">
                    <input type="text" placeholder="Have a question? Search for answers" class="header_main_search_txt qa_keyword_name"
                           name="keyword" id="qa_keyword_outer" autocomplete="off" value="">
                </div>

            </div>


            <div class="new_popup_bg" id="popBg" style="display: none;"></div>
            <div class="new_popup_main popup_width680 pupop_video" id="questionPop" style="display: none;">
                <h2 class="new_popup_addCart_tit new_popup_changeTit01">
                    <div class="addCrat_item_number">
                        <span class="addCrat_item_numberTit">Have a question?</span>
                    </div>
                    <span class="icon iconfont" id="askHide"></span>
                </h2>
                <div id="QA_form">
                    <input type="hidden" name="mOrPc" id="mOrPc" value="1">
                    <div class="new_popup_content addCart_cont">
                        <dl class="popup_con_dl">
                            <dt>
                                <img src="#" width="120" height="120" id="popImg">
                            </dt>
                            <dd>
                                <h2 class="popup_con_dl_tit" id="popup_con_dl_tit"></h2>
                                <p class="popup_con_dl_txt"></p>
                            </dd>
                        </dl>

                        <div class="input_block textarea-limit-numPo">
                            <h2 class="popup_con_tit popup001">Question*</h2>
                            <textarea id="q_contents" class="login_014 question_content_question" placeholder="Please write down the details of the question here." name="question_content" id="qa_question_content" maxlength="5000"></textarea>
                            <p class="error_prompt"></p>
                        </div>


                        <div class="ask-aQuestion-lableBox">

                            <div class="new_proDetails_loadBtn-box">

                                <button class="q_a_submit new_proDetails_loadBtn" type="button" value="Submit" id="qa_submit">
                                    <span class="new_proDetails_loadTxt">Submit</span>
                                    <div class="loader_order"><svg class="circular" viewBox="25 25 50 50">
                                            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>
                                        </svg></div>
                                </button>
                            </div>
                        </div>
                        <div class="ccc"></div>
                    </div>
                </div>
            </div>
            <script type="text/javascript" src="javascripts/footer.js"></script>
            <!--footer-->

        </div>
    </div>
    <div class="hover tab-description-page">
    <%- include('partials/footer.ejs') %>
    </div>
</div>



<div id="backstore" style="display: none;height: auto;">
	<div id="content" style="height: auto;">
        <div style="color:#000" id="pop"></div>
		
	</div>

    <script>
        (function(){
    
    let winbox;
    
    window.examples = {
    
        "basic": function(){
    
            new WinBox("Basic Window");
        },
        "root": function(){
    
            new WinBox("Custom Root", {
    
                root: document.body
            });
        },
        "border": function(){
    
            new WinBox("Custom Border", {
    
                border: "0.3em"
            });
        },
        "color": function(){
    
            new WinBox({
    
                title: "Custom Color",
                background: "#ff005d",
                border: 4
            });
        },
        "viewport": function(){
    
            new WinBox("Limit Viewport", {
    
                top: 50,
                right: 50,
                bottom: 0,
                left: 50
            });
        },
        "splitscreen": function(){
    
            new WinBox("Splitscreen (Left)", {
    
                right: "50%",
                max: true
            });
    
            new WinBox("Splitscreen (Right)", {
    
                x: "100%",
                left: "50%",
                max: true
            });
        },
        "position": function(){
    
            new WinBox({
    
                title: "Custom Position / Size",
                x: "center",
                y: "center",
                width: "50%",
                height: "50%"
            });
        },
        "modal": function(){
    
            new WinBox("Modal Window", {
    
                modal: true
            });
        },
        "innerhtml": function(){
    
            new WinBox({
    
                title: "Set innerHTML",
                html: "<h1>Lorem Ipsum</h1>"
            });
        },
        "mount-clone": function(){
    
            new WinBox("Mount DOM", {
    
                mount: document.getElementById("content")
                               .cloneNode(true)
            });
        },
        "mount-auto": function(){
    
            new WinBox("Mount DOM", {
    
                mount: document.getElementById("content")
            });
        },
        "iframe": function(){
    
            new WinBox("WinBox.js", {
    
                url: "https://nextapps-de.github.io/winbox/",
                class: "iframe"
            });
        },
        "all-options": function(){
    
            new WinBox({
    
                id: "my-window",
                class: ["no-full", "my-theme"],
                root: document.body,
                title: "All Options",
                background: "#fff",
                border: 4,
                index: 50,
                width: 200,
                height: 200,
                minheight: 100,
                minwidth: 100,
                x: "center",
                y: "center",
                max: false,
                splitscreen: true,
                top: 50,
                right: 50,
                bottom: 0,
                left: 50,
                html: "width: 200, height: 200",
                onfocus: function(){
                    this.setBackground("#fff");
                },
                onblur: function(){
                    this.setBackground("#999");
                },
                onresize: function(width, height){
                    this.body.textContent = (
                        "width: " + width + ", " +
                        "height: " + height
                    );
                },
                onmove: function(x, y){
                    this.body.textContent = (
                        "x: " + x + ", " +
                        "y: " + y
                    );
                },
                onclose: function(force){
                    return !confirm("Close window?");
                }
            });
        },
        "custom-css": function(){
    
            new WinBox("Custom CSS", {
    
                class: "custom",
                mount: document.getElementById("content")
                               .cloneNode(true)
            });
        },
        "custom-class": function(){
    
            new WinBox("Custom CSS (Class)", {
    
                class: "my-theme",
                mount: document.getElementById("content")
                               .cloneNode(true)
            });
        },
        "theme-modern": function(){
    
            new WinBox("Yogel:", {
    
                class: "modern",
                mount: document.getElementById("content")
                               .cloneNode(true)
            });
        },
        "controls": function(){
    
            winbox = new WinBox("Controls", {
    
                mount: document.getElementById("controls"),
                border: 4,
                onclose: function(force){
                    return !force && !confirm("Close window?");
                }
            });
        }
    };
    
    window.buttons = {
    
        minimize: function(){
    
            winbox.minimize();
        },
        maximize: function(){
    
            winbox.maximize();
        },
        fullscreen: function(){
    
            winbox.fullscreen();
        },
        center: function(){
    
            winbox.move("center", "center");
        },
        move: function(){
    
            winbox.move("right", "bottom");
        },
        resize: function(){
    
            winbox.resize("50%", "50%");
        },
        title: function(){
    
            winbox.setTitle("Title-" + Math.random());
        },
        color: function(){
    
            winbox.setBackground(
                "rgb(" + (Math.random() * 255 | 0) + "," +
                         (Math.random() * 255 | 0) + "," +
                         (Math.random() * 255 | 0) + ")"
            );
        },
        modal: function(){
    
            winbox.body.parentNode.classList.toggle("modal");
        },
        add: function(){
    
            winbox.addClass("my-theme");
        },
        remove: function(){
    
            winbox.removeClass("my-theme");
        },
        close: function(){
    
            winbox.close();
        },
        force_close: function () {
    
            winbox.close(true);
        }
    };
    
    }());
    
    hljs.highlightAll();
    </script>
<script type="text/javascript"  src="javascripts/winbox.min.js"></script>
<script src="../javascripts/popwindow/highlight.min.js"></script>
<!-- <script src="../javascripts/popwindow/popinit.js"></script> -->
<script src="../javascripts/popwindow/fixpopwindow.js"></script>
<!--pop window-->
<link rel="stylesheet" href="../stylesheets/railscasts.min.css" />
<link rel="stylesheet" href="../stylesheets/winbox.min.css" />
<link rel="stylesheet" href="../stylesheets/modern.min.css" />
<link rel="stylesheet" href="../stylesheets/white.min.css" />
<link rel="stylesheet" href="../stylesheets/pop.css" />
<!--pop window-->

</body>
</html>