<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en">
<head>
<title>YOGEL</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript"  src="javascripts/jquery-3.5.1.min.js"></script>
<script type="text/javascript"  src="javascripts/header.js"></script>
    <script src="http://127.0.0.1:3001/socket.io/socket.io.js"></script>
<script type="text/javascript"  src="javascripts/utility_fte.js"></script>


<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--elementui-->

<script type='text/javascript'>
$(document).ready(function(){

    const socket = io.connect('http://localhost:3001');
    socket.on("connection");
    function getProfile(){
        $.ajax({
            url: "/user_profile",
            dataType: "json",
            success: function (d) {
                if(d.code == 0){
                    // alert("用户未登录");
                }else if(d.code == 1){
                    var fullname = d.d;
                    $("#topHello").text(fullname);
                }
            }
        });
    }
    getProfile();
    utility_fte.initHeaderBav();

})
</script>

    <link rel="stylesheet" href="stylesheets/iconfont.css" />
    <link rel="stylesheet" href="stylesheets/public.css" />
    <link rel="stylesheet" href="stylesheets/swiper-sweetalert2.css" />
    <link rel="stylesheet" href="stylesheets/fs_home.css" />
    <link rel="stylesheet" href="stylesheets/new_index.css" />
    <link rel="stylesheet" href="stylesheets/media.css" />

    <link rel="stylesheet" href="stylesheets/cn/country_flag.css" />
    <link rel="stylesheet" href="stylesheets/cn/css.css" />
    <link rel="stylesheet" href="stylesheets/cn/fs_allCss.css" />

    <link rel="stylesheet" href="stylesheets/cn/index_popup_opinion.css" />
    <link rel="stylesheet" href="stylesheets/cn/media.css" />
    <link rel="stylesheet" href="stylesheets/cn/new_index.css" />
    <link rel="stylesheet" href="stylesheets/cn/public.css" />

    <style>
        .box{
            width:1200px!important;
        }
        .subPdInfo-wrap{
            margin-top:5px;
            background-color:#f7f7f7;
        }
        .p_content_02{
            background-color:#fff;
            padding:10px;
            padding-left:160px;

        }
        .breadcrumb-container{
            background-color:#fff;
            padding:10px;
            padding-left:160px;
        }
    </style>
</head>
<body>
<!-- 顶部 -->
<%- include('partials/top.ejs') %>
<!-- 导航、搜索 -->

<%- include('partials/header.ejs') %>

<div class="subPdInfo-wrap">

     <%- include('partials/nav.ejs') %>
    <div class="box  box_edit">

    <div class="content ">

        <!-- 这里是产品分类列表的筛选项 -->
        <div class="Fs-products-list">
            <div class="cn_screening_set after"></div>
        </div>
        <script>

            if($.trim($(".cn_list_menu").text())==""){
                $("div.cn_list_menu").remove();
            }
            window.onload = function () {
                if($('ul').find('.Filter_active').length>1) {
                    $('.narrow_list').find('a').attr('rel','nofollow');
                }else if($('ul').find('.Filter_active').length==1){
                    $('.narrow_list').parents('ul').find('a').attr('rel','nofollow');
                    $('.Filter_active').parents('ul').find('a').removeAttr('rel');
                }
            }
        </script>
        <div class="main_content_page">
            <!-- 排序 -->
            <style>.footer{margin-top: 50px !important;}</style>
            <div class="FS_Product_Top" id="products_list_top">
                <input type="hidden" class="ajax_page_value" value="1" />
                <input type="hidden" class="ajax_total_value" value="4" />
                <input type="hidden" class="ajax_num_value" value="2" />
                <input type="hidden" class="ajax_sort_value" value="sellers" />
                <input type="hidden" class="ajax_view_value" value="" />
                <ul class="after">
<!--                    <li class="FS_Product_Queue_list"> <a class="Product_act" href="javascript:;" onclick="switch_sort('sellers')">推荐</a> <a class="prc" href="javascript:;" onclick="switch_sort('price')" title="价格由低到高">价格</a>-->
<!--                      <a class="" href="javascript:;" onclick="switch_sort('rate')">评论</a> </li>-->
                    <li class="FS_Product_Top_center">

                        <div class="Fs_pagination_tips">
                            <em class="first_list_em"><i>Can't find the product? Click to </i><a href="/">customize a product</a></em>
                            <em class="last_list_em"><span class="iconfont icon"></span><a href="/">产品定制</a></em>
                        </div> </li>
                    <li class="FS_Product_Top_Switch">
                        <div class="FS_Product_Top_Switch_pag">

                        </div>
                        <div class="FS_Product_Top_Switch_num">
                            <i><%=data.length%></i> products in total
                        </div>

                    </li>
                </ul>
            </div>
            <div class="FS_ProductList">
                <!--网格排列-->
                <div class="FS_ProductListBox Filter_active" id="con_one_1">
                    <% data.forEach(function(d){%>
                    <div class="FS_ProductList_Item">
                        <div class="FS_ProductItem FS_ProductItem_tagsItem">
<!--                            <span class="FS_ProductList_Item_pre item_pre_hotsale"></span>-->
                            <div class="FS_ProductItem_Pic">
                                <a href="/pdinfo?pid=<%= d.id%>"><img src="<%= d.url%>"  width="200" height="200" /></a>
                            </div>
                            <div class="new_proList_ListBox">
                                <ul class="new_proList_List01">
                                    <li class="new_proList_ListSizes after">
                                        <div class="new_proList_ListSizes_list new_proList_ListSizes_list_text">

                                        </div> </li>
                                    <li class="FS_ProductItem_Name ProductItem_name"> <a class="FS_ProductItem_Namez01"  href="/pdinfo?pid=<%= d.id%>"><%= d.des%></a> </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>






        </div>
        <div class="ccc"></div>
    </div>

    <div class="ccc"></div>
</div>
</div>


<script type="text/javascript" src="javascripts/footer.js"></script>
<%- include('partials/footer.ejs') %>
</body>